.n02v5_highlight_list a i{
    color: #337ab7;
}
.n02v5_highlight_list a:hover{
    text-decoration: none;
}
.partners ul{
    padding: 0;
    margin: 0;
    margin-top: 30px;
}
.partners ul li{
    list-style: none;
    float: left;
    width:20%;
    text-align: center;
}
.partners ul li a img{
    height: 50px;
    width: auto !important;
}

.partnetItem img {
    height: 50px;
    width: auto !important;
}