<header class="top-header clearfix">
  <div class="logo" ng-class="root.admin.logo">
    <a href="http://mhi.mn" target="_blank">
      <span class="logo-icon zmdi zmdi-view-dashboard"></span>
      <span class="logo-text">MHI</span>
    </a>
  </div>
  <div class="menu-button" toggle-off-canvas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li ui-sref-active="active">
        <a ui-sref="root.content.home" class="nav-sub">
          <i class="zmdi zmdi-menu"></i>
          <span>Хянах самбар</span>
        </a>
      </li>
      <li ng-if="root.auth.profile.user && root.auth.profile.user.root" ui-sref-active="active">
        <a ui-sref="root.content.user.list" class="nav-sub">
          <i class="zmdi zmdi-accounts-list"></i>
          <span>Хэрэглэгч</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="root.auth.profile.user && root.auth.profile.user.root" >
        <a ui-sref="root.content.logs.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Систем Лог</span>
        </a>
      </li>
      <!-- <li ng-if="root.auth.profile.user && root.auth.profile.user.root" >
        <a ui-sref="root.content.backup" class="nav-sub">
          <i class="zmdi zmdi-time-restore"></i>
          <span>Нөөц архив</span>
        </a>
      </li> -->
    </ul>
    <ul class="nav-right pull-right list-unstyled">
      <li class="text-normal nav-profile" dropdown>
        <a class="" ng-click="vm.logout()">гарах</a>
      </li>
    </ul>
  </div>
</header>
