<div class="page page-table">
  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
      <h2 class="section-header">Мэдээ</h2>
    </div>
    <div class="col-md-12" ui-view="">
    </div>
  </div>
</div>
