.dbmProjectTitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 8px;
}
.projectDetail {
}

.projectDetail .projectImg {
    width: 100%;
}

.projectDetail .projectSection {
    margin-bottom: 20px;
}

.projectDetail .projectSection h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.progressBox {
}

.progressNum {
    font-size: 60px;
    color: #2BDE73;
    line-height: normal;
    text-align: center;
}

.projectProgress {
    height: 15px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.projectProgress .activeProgress {
    height: 100%;
    width: 0;
    background-color: #2BDE73;
}

.projectDate .pdEnd, .projectDate .pdStart {
    display: inline-block;
    margin-left: 15px;
}

.projectDate .dateLabel {
    font-weight: 300;
}

.projectDate .start{

}

.projectDate .end {

}

.projectrl {}
.projectrl li {}
.projectrl li .prlLabel {
    font-weight: 300;
    margin-right: 15px;
}

.dbmProjectItemblock {
    opacity: 1;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.dbmProjectItemblock.showLoading {
    opacity: 0;
}
