<div class="modal-header {{data.type}}">
  <h3>
    <i class="zmdi zmdi-alert-circle-o"></i>
    <span ng-if="data.confirm">Баталгаажуулах</span>
    <span ng-if="!data.confirm && data.type == 'danger'">Алдаа</span>
    <span ng-if="!data.confirm && data.type == 'warning'">Анхаар</span>
    <span ng-if="!data.confirm && data.type == 'info'">Мэдээлэл</span>
    <span ng-if="!data.confirm && data.type == 'primary'">Мэдээлэл</span>
  </h3>
  <div class="modal-icon">
    <a href class="btn-close" ng-click="$dismiss('cancel')" aria-hidden="true"><i class="zmdi zmdi-close"></i></a>
  </div>
</div>
<div class="modal-body {{data.type}}">
  {{data.message}} <span ng-if="!data.message">Хоосон байна!</span>
</div>
<div class="modal-footer {{data.type}}">

  <button type="button" class="btn btn-w-sm btn-default" ng-show="data.confirm" ng-click="$dismiss('cancel')">Үгүй
  </button>
  <button type="button" class="btn btn-w-sm btn-{{data.type}}" ng-show="data.confirm" ng-click="accept('confirm')">
    Тийм
  </button>
  <button type="button" class="btn btn-w-sm btn-default" ng-show="!data.confirm" ng-click="$dismiss('cancel')">Хаах
  </button>
</div>
