<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="blogForm" class="form-horizontal form-validation" role="form" novalidate="">

          <div ng-if="static.staticsObj[static.$state.params.id].type === 'textarea'">
            <div class="form-group">
              <label for="articleContent" class="col-sm-2 control-label">Агуулга</label>
              <div class="col-sm-10">
                <div id="articleContent" ckeditor="root.ckeditorOptions" ng-model="vm.page.data" ready="vm.onReady()"></div>
              </div>
            </div>

            <div class="divider divider-dashed divider-md pull-in"></div>
            <div class="form-group">
              <label for="articleContentEn" class="col-sm-2 control-label">Content</label>
              <div class="col-sm-10">
                <div id="articleContentEn" ckeditor="root.ckeditorOptions" ng-model="vm.page.data_en" ready="vm.onReady()"></div>
              </div>
            </div>
          </div>

          <div ng-if="static.staticsObj[static.$state.params.id].type === 'text'">
            <div class="form-group">
              <label for="articleContent" class="col-sm-2 control-label">Агуулга</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.page.data" class="form-control" placeholder="Агуулга" required="">
              </div>
            </div>

            <div class="divider divider-dashed divider-md pull-in"></div>
            <div class="form-group">
              <label for="articleContentEn" class="col-sm-2 control-label">Content</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.page.data_en" class="form-control" placeholder="Content" required="">
              </div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
