<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Хууль эрх зүй</h2>
  </div>
  <div class="clearfix">
    <div class="row">
      <div class="col-md-12" ui-view=""></div>
    </div>
  </div>
</div>


