.site-footer {
  background-color: #f2f6fb;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  #logo {
    float: left;
    margin-right: 15px;
  }

  .f-block {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e0e2e3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 56px 0px 15px 0px;
  }
  .address {
    color: #54595f;
    font-size: 14px;
    font-weight: 300;
  }
  .sf1 {
    padding: 41px 0px 36px 0px;
  }
}

.copyright {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #a1a2a4;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e0e2e3;
}

.u-icon {
  width: 30px;
  height: 30px;
  color: #f6f9fc;
  background: rgb(53, 43, 144);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.pt-md,
.py-md {
  padding-top: 4rem !important;
}
