// Override default variables before the import
// $font-family-sans-serif: Tahoma, sans-serif;
$blue: #2a4da6;
$red: #ec1915;
$green: #00a548;
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
