.headline1 {
  color: #3b3d42;
  font-size: 20px;
}

/*--------------------------------------------------------------
## Page preloader
--------------------------------------------------------------*/
.page-preloader-cover {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-preloader {
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  margin: -16.5px 0 0 -16.5px;
  -webkit-animation: tm_spin 1s linear infinite;
  animation: tm_spin 1s linear infinite;
  z-index: 11;
}

.page-preloader {
  border-top-color: #398ffc;
  border-right-color: #398ffc;
}

@-webkit-keyframes tm_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes tm_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
