.reportsThumbList {

}

.reportsThumbList li {
    list-style: none;
}

.reportsListItem {
    padding: 30px 10px 10px;
    border: 1px solid #dedede;
    height: 270px;
    margin-bottom: 50px;
    width: 200px;
}

.reportsListItem .reportYear {
    position: absolute;
    top: -1px;
    right: 20px;
    padding: 2px 6px;
    border: 1px solid #dedede;
    font-size: 14px;
    font-weight: 600;
}

.reportsThumbList li .reportsListItem img {
    margin: 20px 0;
    width: 100%;
    padding: 0 20px;
}

.reportsThumbList .fullname {
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

@media (max-width: 1024px) {
    .reportsThumbList li .reportsListItem img {
        width: auto;
    }
}

.book {
    perspective: 500px;
    position: relative;
    z-index: 2;
    display: block;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: all 500ms;
}
.book:after {
     content: "";
     position: absolute;
     display: block;
     top: 2px;
     right: -4px;
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2P8/////w8fPjAICAgwwGhGGggCAOYAMfLhHG5wAAAAAElFTkSuQmCC) repeat;
     width: 4px;
     height: calc(100% - 3px);
 // transform-origin: 0 100%;
 // transform-style: preserve-3d;
     transform: rotateY(35deg);
     transform-origin: right;
     transition: all 500ms;
 }
.book:hover {
     box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.4);
     transform: rotateY(-20deg);
}
.book:after {
    right: -15px;
    width: 15px;
}
.book img {
    max-width: 100%;
}