.flipboard-title {

}
.ndWyswyg {
    text-align: justify;
}

.ndWyswyg * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
@media(max-width:991px) {
    .ndWyswyg img {
        width: 100% !important;
        height: auto !important
    }
}

.dbmNewsTitle {
    font-size: 18px;
    line-height: 28px;
    margin-top: 8px;
}

.newsSubHeader .time-stamp {
    float: left;
    line-height: 27px;
}

.newsSubHeader .socialBox {
    float: right;
}

.newsSubHeader .socialBox ul li {
    display: inline-block;
    margin-left: 15px;
}

.socialBtn {
    display: inline-block;
    font-size: 16px;
    padding: 1px 10px 1px 9px;
    min-width: 90px;
    border-radius: 3px;
}
.socialBtn .socialBtn-text {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-twitter {
    background-color: #1b95e0;
    color: #fff;
    text-transform: lowercase;
}

.btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus {
    background-color: #1b95e0;
    color: #fff;
}

.facebookBtn {
    background-color: #3b5998;
    border: 1px solid #29487d;
    color: #fff;
}

.facebookBtn .socialBtn-text {
    min-width: 50px;
    display: inline-block;
    text-align: center;
}

.facebookBtn:hover, .facebookBtn:active, .facebookBtn:focus {
    background-color: #3b5998;
    border: 1px solid #29487d;
    color: #fff;
}

.dbmNewsItemblock {
    opacity: 1;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.dbmNewsItemblock.showLoading {
    opacity: 0;
}

.projectLoading {
    position: relative;
}