.thumbnail {
    padding: 0 0 12px 0 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.carousel-block {
    margin-left: -10px;
}

.carousel-block .thumbnail {
    height: 165px;
}

.carousel-block .owl-carousel .owl-item img {
    height: 100%;
    width: auto;
}