/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/adminassets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "../assets/styles/common.scss";
@import "../assets/styles/unorganized.scss";
@import "../assets/styles/last.added.scss";
@import "../assets/styles/extra.scss";
@import "../assets/styles/button.scss";
@import "../assets/styles/dropzone.scss";

// injector
// endinjector

.nestedDemo .dropzone {

  .selected .box {
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%);
    border-color: #d6e9c6;
    color: #3c763d;
  }

  ul[dnd-list] {
    border-bottom: 1px solid #ccc;
  }

  .container-element {
    h5 {
      padding: 5px;
    }
    .column {
      margin-bottom: 10px;
    }
  }
}

.dropzone {
  background: #fff;
  padding: 10px;
}

.menuBuilder {
  li {
    border-bottom: 0 !important;
  }
}

.mbItemBlock {
  padding: 10px;
  h5 {
    margin: 0;
  }

}

.forceCheckBox {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
}

.form-group {
  md-switch {
    margin: 0;
  }
}

.form-box {
  padding: 10px;
}

.projectForm {
  .form-row {

    .form-box {
      .control-label {
        font-size: 12px;
      }
    }

    .form-group {
      textarea {
        resize: vertical;
        min-height: 100px;
      }
    }
  }
}

.table-striped {
  .dbmSelected {
    background-color: #fffbbe !important;
  }
}

a:hover, a:focus {
  color: #00b3ee;
}

.nav-container.bg-dark .nav li.active, .nav-container.bg-dark .nav li.active:hover, .nav-container.bg-dark .nav li.active:focus, .nav-container.bg-dark .nav li.active:active {
  background-color: #eaeaea;
  a {
    color: #333;
  }
}


.page-dashboard .mini-box {
  padding: 30px 20px
}
.page-dashboard .panel-box {
  position: relative;
  border-radius: 2px
}
.page-dashboard .panel-box .panel-bottom,
.page-dashboard .panel-box .panel-top {
  height: 100px;
  padding: 30px 15px;
  font-size: 40px;
  line-height: 1
}
.page-dashboard .panel-box .panel-bottom {
  border-top: 1px solid #dfdfdf
}
.nav-container .nav>li:first-child>a,
.table.table-demo tr:first-child td {
  border-top: 0
}
.page-dashboard .panel-box .panel-info {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -12px;
  text-align: center
}
.page-dashboard .panel-box .panel-info span {
  margin: 0 15px;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  font-size: 11px;
  color: #777;
  border-radius: 1em
}
.invoice-inner .table .bg-dark>th,
.invoice-inner .table.table-bordered,
.page-features .panel {
  border: 0
}
.page-dashboard .panel-box .bg-light {
  background-color: #f9f9f9
}

.extraToolBox {
  margin-bottom: 30px;
}

.pdfAddToolBox {
  margin: 30px 0;
}

.pdfListBox {
  ul {
    li {
      .pdfItem {
        margin-bottom: 20px;
        border: 1px solid #dedede;
        background-color: #fff;
        padding: 10px;
        position: relative;
        .pdfImage {
          height: 180px;
          width: 140px;
          display: block;
          overflow: hidden;
          cursor: pointer;
          border: 1px solid #dedede;
          background-size: cover;
          background-color: #fff;
          float: left;
          margin-right: 15px;
        }

        .pdfItemText {
          font-size: 16px;
        }

        .pdfItemAction {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }

      }
    }
  }
}

.pdfUploadFormBox {
  background-color: #fff;
  padding-top: 15px;
}


.staticItemBlock {
  .staticItems {
    li {
      margin-bottom: 15px;
      a {
        height: 150px;
        width: 100%;
        padding: 10px;
        display: block;
        border: 1px solid #dedede;

        .staticIcon {
          font-size: 60px;
          line-height: 60px;
          color: #8e8f95;
        }

      }
    }
  }
}

.logBox {
  padding: 15px;

  .logSectionTitle {
    border-bottom: 1px solid #dedede;
  }

  .logItem {
    margin-bottom: 15px;

    .logDate {
      margin-right: 15px;
    }

  }

}

.backupBox {

  .backupPreview {
    padding: 15px;
    background-color: #fbf2cf;
    text-align: center;
    border: 1px solid #dedede;
    h3 {
      margin: 0;
    }
  }

  .button-wrapper {
    text-align: right;
    padding: 100px;
  }
}
