.bg-grey {
  background-color: #fdfdfd;
}

#logo {
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1em;
  .logo-title1 {
    color: var(--blue);
    font-weight: 500;
  }
  .logo-title2 {
    color: var(--blue);
    font-weight: 500;
  }
  .logo-caption {
    font-size: 0.5em;
    color: var(--red);
  }
}

.App-header {
  a {
    color: #333;

    &:hover {
      text-decoration: none;
      color: var(--blue);
    }
  }
}

.sub-header {
  .contact-here {
    font-size: 0.8em;
  }
  a {
    color: var(--secondary);
  }
}
.main-nav {
  .nav-item {
    display: flex;
    position: relative;
    & > a {
      text-transform: uppercase;
    }
    overflow: hidden;
    // padding-bottom: 4px;
    &:hover {
      overflow: visible;

      .sub-nav {
        opacity: 1;
        color: var(--blue);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
    .sub-nav {
      position: absolute;
      top: calc(100% - 0.3em);
      display: flex;
      flex-direction: column;
      z-index: 11;
      background-color: #fff;
      border-top: 2px solid var(--blue);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      opacity: 0;

      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(10px);
      a {
        white-space: nowrap;
        padding-bottom: 0.3em;
      }
    }
  }
}
