<div class="nav-wrapper">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active
        style="overflow: auto; width: auto; height: 100%;">

      <li ng-if="root.auth.profile.user && root.auth.profile.user.root" ui-sref-active="active">
        <a ui-sref="root.content.menu" class="nav-sub">
          <i class="zmdi zmdi-menu"></i>
          <span>Меню</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.timeline.list" class="nav-sub">
          <i class="zmdi zmdi-calendar-alt"></i>
          <span>Үйл явдлын товчоон {{root.routeName}}</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.slide.list" class="nav-sub">
          <i class="zmdi zmdi-fire"></i>
          <span>Онцлох</span>
        </a>
      </li>

      <!-- <li ui-sref-active="active">
        <a ui-sref="root.content.report.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Тайлан</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="root.content.laws.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Хууль эрх зүй</span>
        </a>
      </li> -->
      <!-- <li ui-sref-active="active">
        <a ui-sref="root.content.fileBrowser" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>PDF</span>
        </a>
      </li> -->
      <li ui-sref-active="active">
        <a ui-sref="root.content.static.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Static</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.banner" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Banner</span>
        </a>
      </li>
      <li class="nav-title">
        <span style="cursor: pointer;">МЭДЭЭ МЭДЭЭЛЭЛ »</span>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.article.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Мэдээ мэдээлэл</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.cat" class="nav-sub">
          <i class="zmdi zmdi-storage"></i>
          <span>Ангилал</span>
        </a>
      </li>
      <li class="nav-title">
        <span>ХУУДАС »</span>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.page.list" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Хуудаснууд</span>
        </a>
      </li>
      <!-- <li class="nav-title">
        <span>ТӨСӨЛ ХӨТӨЛБӨРҮҮД »</span>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.project.list" class="nav-sub">
          <i class="zmdi zmdi-assignment-check"></i>
          <span>Төсөл хөтөлбөрүүд</span>
        </a>
      </li> -->
      <!-- <li ui-sref-active="active">
        <a ui-sref="root.content.sector" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Салбар</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.region" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Бүс нутаг</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.content.funding" class="nav-sub">
          <i class="zmdi zmdi-assignment"></i>
          <span>Эх үүсвэр</span>
        </a>
      </li> -->

    </ul>
  </div>
</div>
