.lawsPDF .dbm-page-content h5 {
    line-height: 65px;
}

/*.dbm-page-container-box .dbmCpageTitle {*/
/*margin-top: 30px;*/
/*}*/

@media (max-width: 991px) {
    .ceoGreetings {
        margin-left: 0 !important;
        margin-right: 15px !important;
        float: left !important;
        width: 185px !important;
        height: auto !important;
    }
}