.fc-content #c15v3-body1 {
    padding: 30px;
}

@media (min-width: 1200px) {
    .fc-image {
        width: 714px !important;
        float: left;
    }
    .fc-content {
        float: left;
        width: 370px;
    }
}

.pagination {
    font-size: 13px;
    line-height: 18px;
    color: #46439f;
    display: flex;
    margin: 0 !important;
    float: right;
}

.dbmHomeSlider .pagination {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 20;
}