.loaderBox {
    position: relative;
    min-height: 300px;
}
.loaderBox .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
    padding: 130px 0;
}
