.App-logo1 {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card,
.btn {
  border-radius: 0;
}

a.hover-1 {
  transition: all 0.3s;
  position: relative;
  &:hover::after,
  &.active::after,
  &:focus::after {
    opacity: 1;
    color: var(--blue);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  &:after {
    position: absolute;
    top: calc(100% - 0.3em);
    left: 0.5rem;
    right: 0.5rem;
    height: 2px;
    background: var(--blue);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.section-title {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
  .st-link {
    font-size: 0.5em;
  }
  // position: relative;
  // z-index: 10;
  // &::before {
  //   content: attr(title);
  //   overflow: hidden;
  //   position: absolute;
  //   background: #fff;
  //   padding-right: 1em;
  //   z-index: 9;
  // }
  // &:after {
  //   position: absolute;
  //   top: 50%;
  //   left: 0.5rem;
  //   right: 0.5rem;
  //   height: 2px;
  //   background: var(--blue);
  //   content: "";
  // }
}
