<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="slideForm" class="form-horizontal form-validation" role="form" novalidate="">

          <div class="form-group">
            <label class="col-sm-2 control-label">Зураг</label>
            <div class="col-sm-10">
              <!--<input type="text" ng-model="vm.item.image" class="form-control" placeholder="Зураг" required="">-->
              <ng-upload-image upload-done="vm.uploadDone" scope="vm"></ng-upload-image>
            </div>
          </div>
          <div class="form-group" ng-show="vm.item.image">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <div class="thumbnail fancybox" rel="ligthbox">
                <img class="img-responsive" alt="" src="{{vm.item.image}}"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Холбоос</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.item.link" class="form-control" placeholder="Холбоос" required="">
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Монгол</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.mn" aria-label="Switch 1"></md-switch>
            </div>
          </div>

          <div ng-show="vm.item.mn">
            <div class="form-group">
              <label for="inputTitle" class="col-sm-2 control-label">Гарчиг</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.name" class="form-control" id="inputTitle"
                       placeholder="Мэдээний гарчиг" required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Товч агуулга</label>
              <div class="col-sm-10">
                <textarea ng-model="vm.item.desc" class="form-control" placeholder="Товч агуулга"
                          required=""></textarea>
              </div>
            </div>
          </div>


          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Англи</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.en" aria-label="Switch 1"></md-switch>
            </div>
          </div>
          <div ng-show="vm.item.en">
            <div class="form-group">
              <label class="col-sm-2 control-label">Гарчиг (Англи)</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.name_en" class="form-control" placeholder="Мэдээний гарчиг"
                       required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Товч агуулга (Англи)</label>
              <div class="col-sm-10">
                <textarea ng-model="vm.item.desc_en" class="form-control" placeholder="Товч агуулга"
                          required=""></textarea>
              </div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.slide.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave
                      ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()"
                      ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.slide.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                      ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()"
                      ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
