<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="slideForm" class="form-horizontal form-validation" role="form" novalidate="">

          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Монгол</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.mn" aria-label="Switch 1"></md-switch>
            </div>
          </div>

          <div ng-show="vm.item.mn">
            <div class="form-group">
              <label for="inputTitle" class="col-sm-2 control-label">Огноо</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.date" class="form-control" id="inputTitle"
                       placeholder="Огноо" required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Товч агуулга</label>
              <div class="col-sm-10">
                <textarea ng-model="vm.item.content" class="form-control" placeholder="Товч агуулга"
                          required=""></textarea>
              </div>
            </div>
          </div>


          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Англи</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.en" aria-label="Switch 1"></md-switch>
            </div>
          </div>
          <div ng-show="vm.item.en">
            <div class="form-group">
              <label class="col-sm-2 control-label">Огноо</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.date_en" class="form-control"
                       placeholder="Огноо" required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Товч агуулга</label>
              <div class="col-sm-10">
                <textarea ng-model="vm.item.content_en" class="form-control" placeholder="Товч агуулга"
                          required=""></textarea>
              </div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.timeline.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave
                      ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()"
                      ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.timeline.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                      ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()"
                      ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
