<div class="page page-dashboard">
  <div class="row">
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <span class="zmdi zmdi-assignment color-success"></span>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Мэдээ мэдээлэл (Зах зээлийн мэдээ)</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.article_market}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <span class="zmdi zmdi-assignment color-success"></span>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Мэдээ мэдээлэл (Бусад)</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.article_other}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <i class="zmdi zmdi-assignment-check color-info"></i>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Төсөл хөтөлбөрүүд (Хэрэгжиж буй)</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.project_ongoing}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <i class="zmdi zmdi-assignment-check color-info"></i>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Төсөл хөтөлбөрүүд (Хэрэгжиж дууссан)</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.project_finished}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <i class="zmdi zmdi-assignment color-warning"></i>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Хуудаснууд</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.report}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xsm-6">
      <div class="panel panel-box">
        <div class="panel-top">
          <i class="zmdi zmdi-assignment color-warning"></i>
        </div>
        <div class="panel-info">
          <span class="ng-scope">Хуудаснууд</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{main.homeStat.pdf}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="logBox panel panel-default table-dynamic">
    <h3 class="logSectionTitle">Систем лог</h3>
    <ul class="list-unstyled">
      <li ng-repeat="item in main.homeLogs.list" class="logItem">
        <span class="logDate">{{item.created_at | date: "yyyy-MM-dd hh:mm"}}</span><strong>{{item.admin && item.admin.username}}: </strong>
        <strong>{{item.module}}</strong> <i class="zmdi zmdi-chevron-right"></i> <strong>{{item.action}}</strong>
      </li>
    </ul>
  </div>

  <!--<pre>{{main.homeStat | json}}</pre>-->

</div>
