
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.marquee .container {
    position: relative;
}

.fixed-bar.hideFbar {
    right: -158px;
}

.fixed-bar {
    position: fixed;
    right: 0;
    top: 200px;
    border: solid #1d80c3;
    border-radius: 4px 0 0 4px;
    border-width: 2px 0 2px 2px;
    padding: 8px;
    z-index: 11;
    background-color: #fff;
    line-height: 15px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: right 400ms;
    -moz-transition: right 400ms;
    -ms-transition: right 400ms;
    -o-transition: right 400ms;
    transition: right 400ms;
    user-select: none;
}

.fixed-bar .fbText {
    height: 30px;
    overflow: hidden;
    margin-left: 38px;
    color: #1d80c3;
    font-style: italic;
}

.fixed-bar img {
    float: left;
    padding: 0 2px;
}

.dbm-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 101;
    overflow: auto;
}

.step0 {

}

.dbm-modal {
    background: #ffffff;
    overflow: auto;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.loanError {
    display: none;
    margin-top: 30px !important;
}

.loanError p {
}

.loanError.errorShow {
    display: block;
}

.loanLogo {
    border: 2px solid #7f7f7f;
    border-radius: 70px;
    padding: 15px;
    width: 90px;
    height: 90px;
}

.loanError .fa {
    float: left;
    font-size: 70px;
    width: 76px;
    height: auto;
    color: #f17300;
}

.loanError .error-text {
    text-align: justify;
    margin-bottom: 20px;
}

.loanError .error-nav {
    text-align: right;
}

.loanError .error-nav p {
    display: inline-block;
    margin-right: 20px;
}

.dbm-modal .modal-header {
    border: 0;
    padding: 0;
}

.dbm-modal .modal-footer {
    padding: 0;
}

.dbm-modal .modal-body h4, .dbm-modal .modal-body h5 {
    color: #fff;
}

.dbm-modal .modal-text {
    text-align: center;
    margin: 0;
    padding: 0 60px;
    font-weight: 400;
}

.dbm-modal .modal-image h3 {
    line-height: 64px;
    color: #333;
    margin: 0;
}

.dbm-modal .modal-body .content-footer {
    text-align: center;
    margin-top: 30px;
}

.dbm-modal .modal-content {
    box-shadow: none;
    margin: auto;
    margin-top: 90px;
    min-height: 200px;
    background: transparent;
}

.alreadyUsed {

}

.alreadyUsed .btn {
    text-transform: uppercase;
    margin-top: 15px;
}

.alreadyUsed .modal-text {
    margin-bottom: 10px;
}

.dbm-modal-title {
    font-weight: bold !important;
}

.dbm-modal-info {
    color: #636363;
    margin-top: 20px;
}

.dbm-modal .modal-image {
    /*width: 100px;*/
    /*margin: auto;*/
    /*height: 100px;*/
    /*text-align: center;*/
    /*border: 2px solid #0071bc;*/
    /*padding: 20px;*/
    /*border-radius: 70px;*/
    /*margin-bottom: 20px;*/
}

.dbm-modal .modal-image img {
    float: left;
    padding: 0;
    margin-right: 30px;
}

.dbm-modal .modal-header h5 {
    font-size: 14px;
}

.dbm-modal .modal-close {
    float: right;
    padding: 5px;
    background-color: #000;
}

.dbm-modal .modal-close .fa {
    /*background-color: #515151;*/
    color: #fff;
}

.content-footer {
    text-align: right;
}

.content-footer .btn {
    margin-left: 15px;
}

.stepBlock {
    text-align: center;
    padding: 20px 0 10px;
}

.stepBlock .stepError {
    display: none;
}



.stepBlock .stepError .error-nav {
    text-align: center;
}

.owl-item.active .stepBlock .stepError.errorShow {
    display: block;
}

.owl-item.active .stepBlock .stepContent.contentHide {
    display: none;
}

.transitionBlock {
    text-align: center;
    margin-top: 30px;
}

.transitionBlock .content-footer {
    text-align: center !important;
}

.transitionBlock .owl-item {
    height: 0;
}

.transitionBlock .owl-item.active {
    height: auto !important;
}

/*.transitionBlock .stepBlock {*/
    /*width: 700px;*/
    /*float: left;*/
/*}*/

@media (min-width: 768px) {
    .dbm-modal .modal-content {
        width: 560px;
    }

    .dbm-modal {
        width: 700px;
        height: auto;
        margin: 100px auto;
    }

}

@media (min-width: 1380px) {
}

.modal-body .alreadyUsed {
    text-align: center;
    opacity: 0;
    height: 0;
    padding: 0;
    transition: 400ms all ease-in-out
}

.modal-body.current_0 .alreadyUsed {
    text-align: center;
    padding: 40px 20px 20px 20px;
    height: auto;
    opacity: 1;
}

.dbm-text-bold {
    font-weight: bold !important;
}

.dbm-modal-list {
    text-align: left;
    margin-top: 20px;
}

.modalContent {
    margin: 20px;
    padding-top: 10px;
}

.ReactModal__Overlay {
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    transition: all 500ms ease-in-out;
    transform: translateY(-30px);
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0);
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-30px);
}

.dbmModalContent-enter {
    /*opacity: 0.01;*/
    transform: translate(100%);
}

.dbmModalContent-enter.dbmModalContent-enter-active {
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

.dbmModalContent-leave {
    transform: translate(0%);
}

.dbmModalContent-leave.dbmModalContent-leave-active {
    /*opacity: 0.01;*/
    transform: translate(-100%);
    transition: transform 1000ms ease-in-out;
}



@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-700px);
    }
}
@-moz-keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-700px);
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-700px);
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0);
    }
}
@-moz-keyframes slideIn {
    0% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0);
    }
}
