<div class="footer" style="clear: both; padding-top: 10px; text-align: center; width: 100%;">
    <table border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
        <tr>
            <td class="content-block"
                style="font-family: sans-serif; vertical-align: top; padding-top: 10px; padding-bottom: 10px; font-size: 12px; color: #999999; text-align: center;"
                valign="top" align="center">
                <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Slide LLC, Usny street, SBD, Ulaanbaatar, Mongolia</span>
                <br> Don't like these emails? <a href="https://ubtrade.mn/unsubscribe"
                                                 style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">Unsubscribe</a>.
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by"
                style="font-family: sans-serif; vertical-align: top; padding-top: 10px; padding-bottom: 10px; font-size: 12px; color: #999999; text-align: center;"
                valign="top" align="center">
                Powered by <a href="http://slide.mn"
                              style="color: #999999; font-size: 12px; text-align: center; text-decoration: none;">slide.mn</a>.
            </td>
        </tr>
    </table>
</div>
