<section class="panel panel-default table-dynamic">
  <div class="panel-body staticItemBlock">
    <h3>Холбоо барих</h3>
    <ul class="staticItems list-unstyled row">
      <li ng-repeat="item in static.staticsList.contact" class="col-sm-3">
        <a ui-sref="root.content.static.edit({id: item.key})">
          <div class="staticIcon">
            <i class="zmdi zmdi-collection-item"></i>
          </div>
          {{item.name}}
        </a>
      </li>
    </ul>
    <!-- <h3>Ажлын байр</h3>
    <ul class="staticItems list-unstyled row">
      <li ng-repeat="item in static.staticsList.job" class="col-sm-3">
        <a ui-sref="root.content.static.edit({id: item.key})">
          <div class="staticIcon">
            <i class="zmdi zmdi-collection-item"></i>
          </div>
          {{item.name}}
        </a>
      </li>
    </ul>
    <h3>Statistic</h3>
    <ul class="staticItems list-unstyled row">
      <li ng-repeat="item in static.staticsList.banner" class="col-sm-3">
        <a ui-sref="root.content.static.edit({id: item.key})">
          <div class="staticIcon">
            <i class="zmdi zmdi-collection-item"></i>
          </div>
          {{item.name}}
        </a>
      </li>
    </ul> -->
    <h3>Сошиал холбоос</h3>
    <ul class="staticItems list-unstyled row">
      <li ng-repeat="item in static.staticsList.social" class="col-sm-3">
        <a ui-sref="root.content.static.edit({id: item.key})">
          <div class="staticIcon">
            <i class="zmdi zmdi-collection-item"></i>
          </div>
          {{item.name}}
        </a>
      </li>
    </ul>
  </div>
</section>


