<div class1="row">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-default btn-w-md" type="file" id="uploadPDFfile"
              ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="application/pdf"
              ngf-max-size="100MB">
        Хуулах
      </button>
    </div>
    <div class="col-sm-1" ng-hide="true">
      <button type="button" ng-click="vm.removePdf()" class="btn btn-danger btn-circle btn-lg">
        <i class="zmdi zmdi-delete"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-show="vm.ngModel.thumb">
        <a class="thumbnail fancybox" rel="ligthbox" href="{{vm.pdf}}" target="_blank">
        <img class="img-responsive" alt="" src="{{vm.ngModel.thumb}}"/>
        </a>
    </div>
    <!--<div class="col-sm-6" ng-show="!vm.ngModel.thumb">-->
      <!--<label class="thumbnail fancybox" rel="ligthbox" for="uploadPDFfile">-->
        <!--<img class="img-responsive" alt="" src="{{vm.noneThumb}}"/>-->
      <!--</label>-->
    <!--</div>-->
  </div>
</div>
