<div class="app" id="app">
  <header class="header-container header-fixed" ng-class="root.admin.header" ui-view="header"></header>

  <div class="main-container">
    <aside id="nav-container" class="nav-container nav-fixed nav-vertical" ng-class="root.admin.sidebar"
           ui-view="sidebar"></aside>
    <div id="content" class="content-container" ui-view="content"></div>
  </div>

  <div ui-view="footer"></div>
</div>
