<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Banner</h2>
  </div>
  <section class="panel panel-default">
    <div class="panel-body padding-xl">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-bottom: 25px;">
            <form name="slideForm" class="form-horizontal form-validation" role="form" novalidate="">
              <div class="form-group">
                <label class="col-sm-1 control-label">Монгол</label>
                <div class="col-sm-10">
                  <md-switch class="md-primary" ng-model="vm.banner.mn" aria-label="Switch 1"></md-switch>
                </div>
              </div>
              
              <div ng-show="vm.banner.mn">
                <div class="form-group">
                    Image URL: {{vm.banner.data}}
                    <img class="img-responsive" alt="" src="{{vm.banner.data}}"/>
                  </div>
                  <div class="form-group">
                    <ng-upload-image upload-done="vm.uploadDoneMn" scope="vm"></ng-upload-image>
                  </div>
              </div>
            </form>
          </div>
        </div>
        <div class="divider divider-dashed divider-md pull-in"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 25px;">
              <form name="slideForm" class="form-horizontal form-validation" role="form" novalidate="">
                <div class="form-group">
                  <label class="col-sm-1 control-label">English</label>
                  <div class="col-sm-10">
                    <md-switch class="md-primary" ng-model="vm.banner.en" aria-label="Switch 1"></md-switch>
                  </div>
                </div>
                
                <div ng-show="vm.banner.en">
                  <div class="form-group">
                      Image URL: {{vm.banner.data_en}}
                      <img class="img-responsive" alt="" src="{{vm.banner.data_en}}"/>
                    </div>
                    <div class="form-group">
                      <ng-upload-image upload-done="vm.uploadDoneEn" scope="vm"></ng-upload-image>
                    </div>
                </div>
              </form>
            </div>
          </div>
          <div class="button-wrapper">
              <div class="col-sm-2">
                <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                        ng-disabled="canSubmit()">
                  Хадгалах
                </button>
              </div>
            </div>
    </div>
  </section>
</div>
