.thumbnail {
    padding: 0 0 12px 0 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.carousel-block {
}

.carouselCustomDots li.active {
    font-weight: bold;
}

.carouselCustomDotsContainer {
    padding: 0 50px;
    position: relative;
    margin: 0 0 40px;
}
.carouselCustomDotsContainer .owl-dots {
    display: none;
}
.carouselCustomDotsContainer .ccdNav {
    position: absolute;
    top: 6px;
    width: 100px;
    padding: 10px 0;
    z-index: 1;
}

.carouselCustomDotsContainer .ccdNav {
    font-size: 16px;
    display: block;
    color: #46439f;
}

.carouselCustomDotsContainer .ccdPrev {
    left: 0;
    text-align: left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */


}
.carouselCustomDotsContainer .ccdNext {
    right: 0;
    text-align: right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+30 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.carouselCustomDotsContainer .ccdNav.disabled {
    color: #dedede;
    cursor: default;
}

.carouselCustomDotsBlock {
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
}


.CarouselTemplate {
    margin: 20px 0 35px;
}

.carouselTemplateContent .owl-item {
    height: 0;
}
.carouselTemplateContent .owl-item.active {
    height: auto;
}

@media (min-width: 1024px) {
    .carouselTemplateContent {
        padding: 0 160px;
    }
}

.carouselTemplateContent .n06v1-text {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.carouselTemplateContent .n06v1-text h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}

.tcItem {
    cursor: pointer;
    position: relative;
    text-align: center;
}

.tcItem.active .tcLine {
    /*background-color: #46439f;*/
}

.tcItem.active .tcItemCaption {
    color: #46439f;
    font-size: 17px;
    font-weight: 600;
}

.tcItem .tcLine {
    width: 100%;
    height: 2px;
    background-color: #46439f;
    display: block;
    position: absolute;
    top: 38.4px;
    z-index: 0;
}

.tcItem .tcItemImage {
    height: 32.25px;
    width: 32.25px !important;
    position: relative;
    z-index: 1;
    margin: auto;
}

.tcItem .tcItemCaption {
    font-size: 14px;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.tcItem.active {
}