<div class="jumbotron text-center">
  <h1>ABOUT</h1>
  <p class="lead">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p class="animated infinite" ng-class="main.classAnimation">
    <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
  </p>
  <p>
    ABOUT With ♥ thanks to the contributions of
    <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
  </p>
  <h1>{{about.string}}</h1>
</div>
