.tbl-hdr h6 {
    font-size: 13px;
}
#affiliates td,
#affiliates a,
#affiliates p{
    font-size: 12px !important;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.c14v1-body table {
    border: 0 !important;
    margin: 0 !important;
}