<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="blogForm" class="form-horizontal form-validation" role="form" novalidate="">
          <div class="form-group">
            <label class="col-sm-2 control-label">Ангилал</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="vm.article.cat_id">
                <option value="">Ангилал сонгох</option>
                <option ng-repeat="cat in vm.cats" ng-value="cat.id">
                  {{cat.name}} ({{cat.name_en}})
                </option>
              </select>
            </div>
          </div>
          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Монгол</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.article.mn" aria-label="Switch 1"></md-switch>
            </div>
          </div>
          <div class="form-group" ng-show="vm.article.mn">
            <label for="inputTitle" class="col-sm-2 control-label">Гарчиг</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.article.title" class="form-control" id="inputTitle"
                     placeholder="Мэдээний гарчиг"
                     required="">
            </div>
          </div>

          <!-- <div class="form-group" ng-show="vm.article.mn && vm.article.cat_id === 2">
            <label class="col-sm-2 control-label">Өдөр тутмын зах зээлийн мэдээ</label>
            <div class="col-sm-10">
              <textarea type="text" ng-model="vm.article.desc" class="form-control"
                     placeholder="Өдөр тутмын зах зээлийн мэдээ"
                        required=""></textarea>
            </div>
          </div> -->

          <div class="form-group" ng-show="vm.article.mn">
            <label for="articleContent" class="col-sm-2 control-label">Дэлгэрэнгүй тайлбар</label>
            <div class="col-sm-10">
              <div id="articleContent" ckeditor="root.ckeditorOptions" ng-model="vm.article.content"
                   ready="vm.onReady()"></div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Англи</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.article.en" aria-label="Switch 1"></md-switch>
            </div>
          </div>

          <div class="form-group" ng-show="vm.article.en">
            <label for="inputTitleEn" class="col-sm-2 control-label">Гарчиг (Англи)</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.article.title_en" class="form-control" id="inputTitleEn"
                     placeholder="Мэдээний гарчиг" required="">
            </div>
          </div>

          <!-- <div class="form-group" ng-show="vm.article.en && vm.article.cat_id === 2">
            <label class="col-sm-2 control-label">Өдөр тутмын зах зээлийн мэдээ (Англи)</label>
            <div class="col-sm-10">
              <textarea type="text" ng-model="vm.article.desc_en" class="form-control"
                        placeholder="Өдөр тутмын зах зээлийн мэдээ (Англи)"
                        required=""></textarea>
            </div>
          </div> -->

          <div class="form-group" ng-show="vm.article.en">
            <label for="articleContentEn" class="col-sm-2 control-label">Дэлгэрэнгүй тайлбар (Англи)</label>
            <div class="col-sm-10">
              <div id="articleContentEn" ckeditor="root.ckeditorOptions" ng-model="vm.article.content_en"
                   ready="vm.onReady()"></div>
            </div>
          </div>
          <div class="divider divider-dashed divider-md pull-in"></div>


          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.article.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave
                      ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()"
                      ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.article.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                      ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()"
                      ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
