<section class="panel panel-default table-dynamic">
  <div class="table-filters clearfix">
      <div class="col-sm-3 col-xs-6 filter-result-info">
        <span>Нийт олдсон {{vm.total}}</span>
      </div>
  </div>
  <div class="panel-body" style="padding: 0px;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="isTableLoading"
             spinner="md" opacity=".5" color="#fff">
        <thead>
        <tr>
          <th style="padding: 15px;">Date</th>
          <th style="padding: 15px;">Module</th>
          <th style="padding: 15px;">Action</th>
          <th style="padding: 15px;">User</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.listData | filter: search">
          <td>{{item.created_at | date: "yyyy-MM-dd hh:mm"}}</td>
          <td>{{item.module || 'UNKNOWING'}}</td>
          <td>{{item.action}}</td>
          <td>{{item.admin && item.admin.username}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right" style="padding-right: 15px;">
      <paginate page-count="vm.pageCount" page-total="vm.total" ng-model="vm.page" ng-change="vm.load()"></paginate>
    </div>
  </div>
</section>


