<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-danger" role="alert" ng-show="vm.item.root">
          Энэ бол Super User устгах боломжгүй!
        </div>
        <form name="adminUserForm" class="form-horizontal form-validation" role="form" novalidate="">
          <div class="form-group">
            <label class="col-sm-2 control-label">Хэрэглэгчийн нэр</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.item.username" class="form-control" placeholder="Хэрэглэгчийн нэр" ng-disabled="vm.stateName === 'root.content.user.edit'" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Нууц үг</label>
            <div class="col-sm-10">
              <input type="password" ng-model="vm.item.password" class="form-control" placeholder="Нууц үг" required="">
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.user.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave ng-disabled="adminUserForm.$invalid">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.user.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave ng-disabled="adminUserForm.$invalid">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()" ng-disabled="vm.item.root">Устгах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
