<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Онцлох</h2>
  </div>
  <div class="clearfix">
      <div class="col-md-12" ui-view=""></div>
  </div>
</div>


