<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="blogForm" class="form-horizontal form-validation" role="form" novalidate="">
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Гарчиг</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.page.name" class="form-control" id="inputTitle" placeholder="Гарчиг" required="">
            </div>
          </div>

          <div class="form-group">
            <label for="articleContent" class="col-sm-2 control-label">Агуулга</label>
            <div class="col-sm-10">
              <div id="articleContent" ckeditor="root.ckeditorOptions" ng-model="vm.page.content" ready="vm.onReady()"></div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label for="inputTitleEn" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.page.name_en" class="form-control" id="inputTitleEn" placeholder="Title" required="">
            </div>
          </div>

          <div class="form-group">
            <label for="articleContentEn" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
              <div id="articleContentEn" ckeditor="root.ckeditorOptions" ng-model="vm.page.content_en" ready="vm.onReady()"></div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">Sidebar</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="vm.page.sidebar">
                <option value="">Side bar байхгүй</option>
                <option ng-repeat="item in vm.sidebarData" ng-value="item.value">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div> -->

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.page.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()" ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.page.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()" ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
