// common scss;

body {
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
}

body {
  background: #eaeaea;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #767676;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="file"] {
  display: inline-block;
}

// .form-validation textarea.ng-invalid.ng-dirty ~ div {
//   border-color: #F44336;
// }
//
// .form-validation textarea.ng-valid.ng-dirty ~ div {
//   border-color: #4CAF50;
// }

.form-control {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.p-side-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn:focus {
  outline: 0 !important;
}

body p,
html p {
    line-height: 1.42857
}
::selection {
    background: #3F51B5;
    color: #fff
}
::-moz-selection {
    background: #3F51B5;
    color: #fff
}
:focus {
    outline: 0
}
a,
a:active,
a:focus {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

.bg-info-alt {
  background-color: #673AB7;
}

.no-transition {
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

// .btn {
//   border-radius: 2px;
// }
//
// .btn-default {
//   color: #767676;
//   background-color: #fafafa;
//   border-color: #fafafa;
// }
//
// .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.btn-default.dropdown-toggle {
//     color: #767676;
//     background-color: #e1e1e1;
//     border-color: #dbdbdb;
// }
//
// .btn-default:active:hover,
// .btn-default:active:focus,
// .btn-default:active.focus,
// .btn-default.active:hover,
// .btn-default.active:focus,
// .btn-default.active.focus,
// .open > .btn-default.dropdown-toggle:hover,
// .open > .btn-default.dropdown-toggle:focus,
// .open > .btn-default.dropdown-toggle.focus {
//     color: #767676;
//     background-color: #e1e1e1;
//     border-color: #dbdbdb;
// }
//
// .btn-default.disabled,
// .btn-default.disabled:hover,
// .btn-default.disabled:focus,
// .btn-default.disabled.focus,
// .btn-default.disabled:active,
// .btn-default.disabled.active,
// .btn-default[disabled],
// .btn-default[disabled]:hover,
// .btn-default[disabled]:focus,
// .btn-default[disabled].focus,
// .btn-default[disabled]:active,
// .btn-default[disabled].active,
// fieldset[disabled] .btn-default,
// fieldset[disabled] .btn-default:hover,
// fieldset[disabled] .btn-default:focus,
// fieldset[disabled] .btn-default.focus,
// fieldset[disabled] .btn-default:active,
// fieldset[disabled] .btn-default.active {
//   background-color: #fafafa;
//   border-color: #fafafa;
// }
