
.gradient-text,.section-header,.text-thin {
    font-weight: 300
}

.divider,span.block {
    display: block
}

.btn-group.btn-floating,.btn-group.btn-raised,.btn.btn-floating,.btn.btn-raised,.card,.card-panel,.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.btn-group.btn-floating:hover,.btn-group.btn-raised:hover,.btn.btn-floating:hover,.btn.btn-raised:hover,.pricing-table:hover,.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)
}

body {
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important
}

body p,html p {
    line-height: 1.42857
}

::selection {
    background: #3F51B5;
    color: #fff
}

::-moz-selection {
    background: #3F51B5;
    color: #fff
}

:focus {
    outline: 0
}

a,a:active,a:focus {
    text-decoration: none
}

.no-margin {
    margin: 0
}

.no-margin-bottom {
    margin-bottom: 0
}

.no-border {
    border: 0
}

.no-padding {
    padding: 0
}

.no-shadow {
    box-shadow: none
}

.ui-section {
    margin-bottom: 60px
}

.section-header {
    font-size: 54px;
    color: #3F51B5;
    margin: 20px 0
}

.page>.ui-section:last-child {
    margin-bottom: 0
}

a.bg-primary,a.bg-primary:hover {
    background-color: #3F51B5;
    color: #fff
}

a.bg-success,a.bg-success:hover {
    background-color: #4CAF50;
    color: #fff
}

a.bg-info,a.bg-info:hover {
    background-color: #00BCD4;
    color: #fff
}

a.bg-warning,a.bg-warning:hover {
    background-color: #FFC107;
    color: #fff
}

a.bg-danger,a.bg-danger:hover {
    background-color: #F44336;
    color: #fff
}

.bg-body,.bg-body a,.bg-body a:hover {
    color: #767676
}

.bg-body {
    background-color: #f3f3f3
}

.bg-black,.bg-black a,.bg-black a:hover,.bg-danger,.bg-danger a,.bg-danger a:hover,.bg-dark,.bg-dark a,.bg-dark a:hover,.bg-dark-light,.bg-dark-light a,.bg-dark-light a:hover,.bg-info,.bg-info a,.bg-info a:hover,.bg-info-alt,.bg-info-alt a,.bg-info-alt a:hover,.bg-primary,.bg-primary a,.bg-primary a:hover,.bg-primary-light,.bg-primary-light a,.bg-primary-light a:hover,.bg-success,.bg-warning,.bg-warning a,.bg-warning a:hover {
    color: #fff
}

.bg-dark-light {
    background-color: #3D4051
}

.bg-black {
    background-color: #000
}

.bg-primary {
    background-color: #3F51B5
}

.bg-primary-light {
    background-color: #5C6BC0
}

.bg-success {
    background-color: #4CAF50
}

.bg-success a,.bg-success a:hover {
    color: #fff
}

.bg-info {
    background-color: #00BCD4
}

.bg-info-alt {
    background-color: #673AB7
}

.bg-warning {
    background-color: #FFC107
}

.bg-danger {
    background-color: #F44336
}

.bg-dark {
    background-color: #252833
}

.bg-bright,.bg-bright a,.bg-bright a:hover,.bg-white,.bg-white a,.bg-white a:hover {
    color: #767676
}

.bg-bright {
    background-color: #fafafa
}

.bg-white {
    background-color: #fff
}

.bg-facebook,.bg-facebook a,.bg-facebook a:hover,.bg-google-plus a,.bg-google-plus a:hover,.bg-twitter,.bg-twitter a,.bg-twitter a:hover {
    color: #fff
}

.bg-facebook {
    background-color: #335397
}

.bg-twitter {
    background-color: #00c7f7
}

.bg-google-plus {
    background-color: #df4a32;
    color: #fff
}

.page-container {
    max-width: 1170px;
    margin: auto
}

.blockquote-colored {
    border-left: 5px solid #3F51B5
}

.blockquote-colored.pull-right {
    border-right: 5px solid #3F51B5;
    border-left: 0
}

.gradient-text {
    font-size: 150px;
    color: #3F51B5;
    background: -webkit-linear-gradient(92deg,#fb83fa,#00aced);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.text-small {
    font-size: 12px
}

.text-normal {
    font-size: 14px
}

.text-huge {
    font-size: 72px
}

.text-large {
    font-size: 50px
}

.size-h1 {
    font-size: 36px
}

.size-h2 {
    font-size: 30px
}

.size-h3 {
    font-size: 24px
}

.btn-icon-md,.size-h4 {
    font-size: 18px
}

.text-ultralight {
    font-weight: 100
}

.color-primary,.color-primary:hover,a.color-primary,a.color-primary:hover {
    color: #3F51B5
}

.color-success,.color-success:hover,a.color-success,a.color-success:hover {
    color: #4CAF50
}

.color-info,.color-info:hover,a.color-info,a.color-info:hover {
    color: #00BCD4
}

.color-info-alt,.color-info-alt:hover,a.color-info-alt,a.color-info-alt:hover {
    color: #673AB7
}

.color-warning,.color-warning:hover,a.color-warning,a.color-warning:hover {
    color: #FFC107
}

.color-danger,.color-danger:hover,a.color-danger,a.color-danger:hover {
    color: #F44336
}

.color-dark,.color-dark:hover,a.color-dark,a.color-dark:hover {
    color: #252833
}

.color-reverse,.color-reverse:hover,a.color-dark,a.color-dark:hover {
    color: #fff
}

.color-gray-darker,.color-gray-darker:hover,a.color-gray-darker,a.color-gray-darker:hover {
    color: #222
}

.color-gray-dark,.color-gray-dark:hover,a.color-gray-dark,a.color-gray-dark:hover {
    color: #333
}

.color-gray,.color-gray:hover,a.color-gray,a.color-gray:hover {
    color: #555
}

.color-gray-light,.color-gray-light:hover,a.color-gray-light,a.color-gray-light:hover {
    color: #777
}

.color-gray-lighter,.color-gray-lighter:hover,a.color-gray-lighter,a.color-gray-lighter:hover {
    color: #eee
}

.dropcap,.dropcap-circle,.dropcap-square {
    display: block;
    float: left;
    font-weight: 400;
    line-height: 36px;
    margin-right: 6px;
    text-shadow: none
}

.ui-checkbox,.ui-radio {
    margin: 0 20px 10px;
    line-height: 20px
}

.dropcap {
    font-size: 3.1em
}

.dropcap-circle,.dropcap-square {
    background-color: #eee;
    color: #767676;
    width: 36px;
    text-align: center
}

.dropcap-square {
    border-radius: 2px;
    font-size: 2.3em
}

.dropcap-circle {
    border-radius: 50%;
    font-size: 1.78em
}

.dropcap.colored {
    color: #3F51B5
}

.highlight,.ui-datepicker table td .active span,.ui-datepicker table th .active span {
    color: #fff
}

.dropcap-circle.colored,.dropcap-square.colored {
    background-color: #3F51B5;
    color: #fff
}

.highlight {
    background-color: #252833;
    border-radius: 2px;
    padding: 2px 5px
}

.highlight.colored {
    background-color: #3F51B5
}

.pull-in {
    margin: 0 -15px
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px
}

.divider.divider-dashed {
    border: 1px dashed #e2edeb
}

.divider.divider-dotted {
    border: 1px dotted #e2edeb
}

.divider-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.divider-lg {
    margin-top: 30px;
    margin-bottom: 30px
}

.divider-xl {
    margin-top: 50px;
    margin-bottom: 50px
}

.space {
    display: inline;
    padding: 6px
}

.space-md {
    padding: 15px
}

.space-lg {
    padding: 25px
}

.hr-colored {
    border-color: #3F51B5
}

.table-dynamic .table-filters {
    margin: 10px 0;
    padding: 8px
}

.table-dynamic .filter-result-info {
    padding: 7px
}

.table-dynamic .table-bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.table-dynamic .table-bordered thead th {
    position: relative;
    padding: 0
}

.table-dynamic .table-bordered thead th>.th {
    position: relative;
    padding: 8px 20px 8px 8px
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down,.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    position: absolute;
    color: #999
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover,.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover {
    color: #3F51B5;
    cursor: pointer
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active,.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active {
    color: #3F51B5
}

.table-dynamic .table-bordered thead th .fa-angle-down,.table-dynamic .table-bordered thead th .fa-angle-up {
    position: absolute;
    color: #999;
    font-size: 16px;
    font-weight: 700
}

.table-dynamic .table-bordered thead th .fa-angle-down:hover,.table-dynamic .table-bordered thead th .fa-angle-up:hover {
    color: #3F51B5;
    cursor: pointer
}

.table-dynamic .table-bordered thead th .fa-angle-down.active,.table-dynamic .table-bordered thead th .fa-angle-up.active {
    color: #3F51B5
}

.table-dynamic .table-bordered thead th .fa-angle-up,.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    top: 4px;
    right: 5px
}

.table-dynamic .table-bordered thead th .fa-angle-down {
    top: 18px;
    right: 5px
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    top: 18px;
    right: 6px
}

.table-dynamic .table-footer {
    margin: 10px 0;
    padding: 8px
}

.table-dynamic .page-num-info span {
    padding: 6px
}

.table-dynamic .pagination-container ul {
    margin: 0
}

.table-dynamic .pagination-container ul li:hover {
    cursor: pointer
}

@media only screen and (max-width: 800px) {
    .table-flip-scroll .cf:after {
        visibility:hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }

    .table-flip-scroll * html .cf {
        zoom:1}

    .table-flip-scroll table {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        width: 100%
    }

    .table-flip-scroll td,.table-flip-scroll th {
        margin: 0;
        vertical-align: top
    }

    .table-flip-scroll thead {
        display: block;
        float: left
    }

    .table-flip-scroll tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }

    .table-flip-scroll thead tr {
        display: block
    }

    .table-flip-scroll .table>thead>tr>th:first-child {
        border-top: 1px solid #ddd
    }

    .table-flip-scroll th {
        display: block;
        text-align: right;
        border-bottom: 0;
        border-left: 0
    }

    .table-flip-scroll tbody tr {
        display: inline-block;
        vertical-align: top
    }

    .table-flip-scroll td {
        display: block;
        min-height: 1.25em;
        text-align: left;
        border-left: 0;
        border-right: 0;
        border-bottom: 0
    }

    .table-flip-scroll tbody tr {
        border-left: 1px solid #babcbf
    }

    .table-flip-scroll td:last-child,.table-flip-scroll th:last-child {
        border-bottom: 1px solid #babcbf
    }
}

md-radio-group.md-default-theme:focus:not(:empty) {
    border-color: transparent
}

md-checkbox,md-radio-button {
    display: inline-block;
    margin: 0 10px 10px
}

md-radio-button.md-default-theme[disabled] .md-on {
    background-color: #ccc
}

.ui-radio {
    position: relative;
    font-size: 14px;
    height: 20px
}

.ui-radio input[type=radio]+span:hover {
    cursor: pointer
}

.ui-radio input[type=radio]+span:hover:before {
    border-color: #3F51B5
}

.ui-radio input[type=radio]:disabled+span:hover {
    cursor: not-allowed
}

.ui-radio input[type=radio]:disabled+span:hover:before {
    border-color: #ccc
}

.ui-radio input[type=radio] {
    display: none
}

.ui-radio input[type=radio]+span {
    padding-left: 10px;
    font-weight: 400
}

.ui-radio input[type=radio]+span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: -20px;
    top: 0;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    -webkit-transition: all .35s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .35s cubic-bezier(.4,0,.2,1);
    transition: all .35s cubic-bezier(.4,0,.2,1)
}

.ui-radio input[type=radio]+span:after {
    visibility: hidden;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -15px;
    background-color: #3F51B5;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1)
}

.ui-radio input[type=radio]:disabled+span:before {
    opacity: .65;
    border: 2px solid #ccc;
    cursor: no-drop
}

.ui-radio input[type=radio]:checked+span:before {
    border-color: #3F51B5
}

.ui-radio input[type=radio]:checked+span:after {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.ui-radio input[type=radio]:disabled:checked+span:before {
    border-color: #ccc
}

.ui-radio input[type=radio]:disabled:checked+span:after {
    opacity: .65;
    cursor: no-drop;
    background-color: #ccc
}

.ui-checkbox {
    position: relative;
    height: 20px
}

.ui-checkbox input[type=checkbox]+span:hover {
    cursor: pointer
}

.ui-checkbox input[type=checkbox]+span:hover:before {
    border-color: #3F51B5
}

.ui-checkbox input[type=checkbox]:disabled+span:hover {
    cursor: not-allowed
}

.ui-checkbox input[type=checkbox]:disabled+span:hover:before {
    border-color: #ccc
}

.ui-checkbox input[type=checkbox] {
    display: none
}

.ui-checkbox input[type=checkbox]+span {
    font-weight: 400
}

.ui-checkbox input[type=checkbox]+span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #ccc;
    -webkit-transition: all .35s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .35s cubic-bezier(.4,0,.2,1);
    transition: all .35s cubic-bezier(.4,0,.2,1)
}

.ui-checkbox input[type=checkbox]:disabled+span:before {
    opacity: .65;
    border: 2px solid #ccc;
    cursor: no-drop
}

.ui-checkbox input[type=checkbox]:checked+span:before {
    border-color: #3F51B5
}

.ui-checkbox input[type=checkbox]+span:after {
    visibility: hidden;
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #3F51B5;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .35s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .35s cubic-bezier(.4,0,.2,1);
    transition: all .35s cubic-bezier(.4,0,.2,1)
}

.ui-checkbox input[type=checkbox]:checked+span:after {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.ui-checkbox input[type=checkbox]:disabled:checked+span:before {
    opacity: .65;
    border: 2px solid #ccc
}

.ui-checkbox input[type=checkbox]:disabled:checked+span:after {
    opacity: .65;
    cursor: no-drop;
    background-color: #ccc
}

.ui-editor .btn-group {
    margin-bottom: 5px
}

.ui-editor .ta-toolbar {
    margin: 0 0 10px
}

.ui-editor.ta-root.focussed>.ta-scroll-window.form-control {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.ui-editor .ta-editor.ta-html,.ui-editor .ta-scroll-window.form-control {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%
}

.ui-editor .ta-scroll-window.form-control {
    position: relative;
    padding: 0
}

.ui-editor .ta-scroll-window>.ta-bind {
    height: auto;
    min-height: 300px;
    padding: 6px 12px
}

.ui-editor .ta-editor:focus {
    user-select: text
}

.ui-editor .ta-resizer-handle-overlay {
    z-index: 100;
    position: absolute;
    display: none
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid #000;
    background-color: #FFF;
    padding: 0 4px;
    opacity: .7
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-background {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    top: 5px;
    border: 1px solid #000;
    background-color: rgba(0,0,0,.2)
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner {
    width: 10px;
    height: 10px;
    position: absolute
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-tl {
    top: 0;
    left: 0;
    border-left: 1px solid #000;
    border-top: 1px solid #000
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-tr {
    top: 0;
    right: 0;
    border-right: 1px solid #000;
    border-top: 1px solid #000
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-bl {
    bottom: 0;
    left: 0;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000
}

.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-br {
    bottom: 0;
    right: 0;
    border: 1px solid #000;
    cursor: se-resize;
    background-color: #fff
}

.card .card-title.activator,.ui-rating:hover,.ui-select>select {
    cursor: pointer
}

.ui-editor .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2)
}

.btn-group.btn-floating.disabled,.btn-group.btn-floating:disabled,.btn-group.btn-raised.disabled,.btn-group.btn-raised:disabled,.btn.btn-floating.disabled,.btn.btn-floating:disabled,.btn.btn-raised.disabled,.btn.btn-raised:disabled,.form-control,.form-control:focus {
    box-shadow: none
}

.btn-icon,.btn-icon i {
    line-height: 35px
}

.ui-editor .popover.top {
    margin-top: -10px
}

.ui-editor .popover.bottom {
    margin-top: 10px
}

.ui-editor .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.ui-editor .popover-content {
    padding: 9px 14px
}

.ui-datepicker table td,.ui-datepicker table th,.ui-timepicker td {
    padding: 1px
}

.ui-editor .popover>.arrow,.ui-editor .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.form-control:focus,input.input-primary,input.input-primary:focus {
    border-color: #3F51B5
}

.ui-editor .popover>.arrow {
    border-width: 11px
}

.ui-editor .popover>.arrow:after {
    content: "";
    border-width: 10px
}

.ui-editor .popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0
}

.ui-editor .popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.ui-editor .popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25)
}

.ui-editor .popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.ui-datepicker table {
    margin: 0 5px
}

.ui-datepicker table:focus {
    outline: 0
}

.ui-timepicker a.btn-link {
    color: #767676
}

.ui-typeahead>.dropdown-menu {
    right: 15px
}

.ui-rating:focus {
    outline: 0
}

.ui-rating .glyphicon {
    margin-right: 2px
}

.ui-rating .glyphicon-star {
    color: #3F51B5
}

.ui-rating.ui-rating-success .glyphicon-star {
    color: #4CAF50
}

.ui-rating.ui-rating-info .glyphicon-star {
    color: #00BCD4
}

.ui-rating.ui-rating-warning .glyphicon-star {
    color: #FFC107
}

.ui-rating.ui-rating-danger .glyphicon-star {
    color: #F44336
}

md-input-container label {
    margin: 0
}

.form-control {
    border-width: 1px
}

.form-group .col-sm-10 {
    position: relative
}

.form-group .col-sm-10 .icon {
    position: absolute;
    right: 25px;
    top: 10px
}

.input-round {
    border-radius: 25px
}

input.input-info,input.input-info:focus {
    border-color: #00BCD4
}

input.input-success,input.input-success:focus {
    border-color: #4CAF50
}

input.input-warning,input.input-warning:focus {
    border-color: #FFC107
}

input.input-danger,input.input-danger:focus {
    border-color: #F44336
}

.drop-box {
    width: 100%;
    height: 100px;
    background: #F8F8F8;
    border: 2px dashed #DDD;
    text-align: center;
    padding-top: 35px;
    border-radius: 2px
}

.ui-input-group {
    position: relative;
    margin: 18px 0 12px
}

.ui-input-group .form-control:focus {
    border-color: #3F51B5
}

.ui-input-group>input,.ui-input-group>textarea {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #CBD5DD
}

.ui-input-group>input:focus,.ui-input-group>textarea:focus {
    outline: 0
}

.ui-input-group>input:focus~label,.ui-input-group>input:valid~label,.ui-input-group>textarea:focus~label,.ui-input-group>textarea:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px
}

.ui-input-group>input:valid~label,.ui-input-group>textarea:valid~label {
    color: #999
}

.ui-input-group>input:focus~label,.ui-input-group>textarea:focus~label {
    color: #3F51B5
}

.ui-input-group>input:focus~.input-bar:after,.ui-input-group>input:focus~.input-bar:before,.ui-input-group>textarea:focus~.input-bar:after,.ui-input-group>textarea:focus~.input-bar:before {
    width: 50%
}

.ui-input-group>label {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: all .35s cubic-bezier(.4,0,.2,1)
}

.ui-input-group .input-bar:after,.ui-input-group .input-bar:before,.ui-input-group>label {
    -webkit-transition: all .35s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .35s cubic-bezier(.4,0,.2,1)
}

.ui-input-group .input-bar {
    position: relative;
    display: block;
    width: 100%
}

.ui-input-group .input-bar:after,.ui-input-group .input-bar:before {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #3F51B5;
    transition: all .35s cubic-bezier(.4,0,.2,1)
}

.breadcrumb-alt>li>a:after,.breadcrumb-alt>li>a:before,.ui-select:after {
    content: ""
}

.ui-input-group .input-bar:before {
    left: 50%
}

.ui-input-group .input-bar:after {
    right: 50%
}

.ui-select {
    position: relative;
    display: inline-block;
    margin: 0 0 2px 1.2%;
    width: auto;
    height: auto;
    border: 1px solid #CBD5DD;
    border-radius: 2px
}

.ui-select>select {
    z-index: 99;
    display: block;
    position: relative;
    padding: 10px 15px 10px 10px;
    min-width: 200px;
    width: 120%;
    border: none;
    outline: 0;
    background: 0 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    text-indent: .01px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none
}

.btn-dark.active,.btn-dark:active,.btn-info-alt.active,.btn-info-alt:active,.open>.btn-dark.dropdown-toggle,.open>.btn-info-alt.dropdown-toggle {
    background-image: none
}

.ui-select select::-ms-expand {
    display: none
}

.ui-select:after {
    z-index: 0;
    position: absolute;
    right: 8%;
    top: 50%;
    color: #CBD5DD;
    width: 0;
    margin-top: -3px;
    height: 0;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none
}

@-moz-document url-prefix() {
    .ui-select {
        overflow: hidden
    }

    .ui-select select {
        width: 120%;
        width: -moz-calc(100% + 3em);
        width: 100%
    }
}

.ui-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

.ui-spinner {
    max-width: 200px
}

.ui-spinner .input-group-btn.btn-group-vertical>.btn {
    height: 17px;
    margin: 0;
    padding: 0 6px;
    text-align: center
}

.ui-spinner .input-group-btn.btn-group-vertical>.btn:first-child {
    border-radius: 0 2px 0 0!important
}

.ui-spinner .input-group-btn.btn-group-vertical>.btn:last-child {
    border-radius: 0 0 2px
}

.ui-spinner .input-group-btn.btn-group-vertical>.btn i {
    display: block;
    margin-top: -2px
}

.btn-icon,.btn-icon-lined {
    border-radius: 2px;
    display: inline-block
}

.form-validation .ng-valid.ng-dirty {
    border-color: #4CAF50
}

.form-validation .ng-invalid.ng-dirty {
    border-color: #F44336
}

.btn-info-alt {
    color: #fff;
    background-color: #673AB7;
    border-color: #673AB7
}

.btn-info-alt.active,.btn-info-alt.focus,.btn-info-alt:active,.btn-info-alt:focus,.btn-info-alt:hover,.open>.btn-info-alt.dropdown-toggle {
    color: #fff;
    background-color: #512e90;
    border-color: #4d2b89
}

.btn-info-alt.disabled,.btn-info-alt.disabled.active,.btn-info-alt.disabled.focus,.btn-info-alt.disabled:active,.btn-info-alt.disabled:focus,.btn-info-alt.disabled:hover,.btn-info-alt[disabled],.btn-info-alt[disabled].active,.btn-info-alt[disabled].focus,.btn-info-alt[disabled]:active,.btn-info-alt[disabled]:focus,.btn-info-alt[disabled]:hover,fieldset[disabled] .btn-info-alt,fieldset[disabled] .btn-info-alt.active,fieldset[disabled] .btn-info-alt.focus,fieldset[disabled] .btn-info-alt:active,fieldset[disabled] .btn-info-alt:focus,fieldset[disabled] .btn-info-alt:hover {
    background-color: #673AB7;
    border-color: #673AB7
}

.btn-info-alt .badge {
    color: #673AB7;
    background-color: #fff
}

.btn-dark {
    color: #fff;
    background-color: #252833;
    border-color: #252833
}

.btn-dark.active,.btn-dark.focus,.btn-dark:active,.btn-dark:focus,.btn-dark:hover,.open>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #101115;
    border-color: #0b0c10
}

.btn-dark.disabled,.btn-dark.disabled.active,.btn-dark.disabled.focus,.btn-dark.disabled:active,.btn-dark.disabled:focus,.btn-dark.disabled:hover,.btn-dark[disabled],.btn-dark[disabled].active,.btn-dark[disabled].focus,.btn-dark[disabled]:active,.btn-dark[disabled]:focus,.btn-dark[disabled]:hover,fieldset[disabled] .btn-dark,fieldset[disabled] .btn-dark.active,fieldset[disabled] .btn-dark.focus,fieldset[disabled] .btn-dark:active,fieldset[disabled] .btn-dark:focus,fieldset[disabled] .btn-dark:hover {
    background-color: #252833;
    border-color: #252833
}

.btn-dark .badge {
    color: #252833;
    background-color: #fff
}

.btn-line-default {
    color: #767676;
    background-color: transparent;
    border-color: #fafafa
}

.btn-line-default.active,.btn-line-default:active,.btn-line-default:focus,.btn-line-default:hover,.open .btn-line-default.dropdown-toggle {
    color: #767676;
    background-color: #fafafa
}

.btn-line-primary {
    color: #767676;
    background-color: transparent;
    border-color: #3F51B5
}

.btn-line-primary.active,.btn-line-primary:active,.btn-line-primary:focus,.btn-line-primary:hover,.open .btn-line-primary.dropdown-toggle {
    color: #fff;
    background-color: #3F51B5
}

.btn-line-success {
    color: #767676;
    background-color: transparent;
    border-color: #4CAF50
}

.btn-line-success.active,.btn-line-success:active,.btn-line-success:focus,.btn-line-success:hover,.open .btn-line-success.dropdown-toggle {
    color: #fff;
    background-color: #4CAF50
}

.btn-line-info {
    color: #767676;
    background-color: transparent;
    border-color: #00BCD4
}

.btn-line-info.active,.btn-line-info:active,.btn-line-info:focus,.btn-line-info:hover,.open .btn-line-info.dropdown-toggle {
    color: #fff;
    background-color: #00BCD4
}

.btn-line-warning {
    color: #767676;
    background-color: transparent;
    border-color: #FFC107
}

.btn-line-warning.active,.btn-line-warning:active,.btn-line-warning:focus,.btn-line-warning:hover,.open .btn-line-warning.dropdown-toggle {
    color: #fff;
    background-color: #FFC107
}

.btn-line-danger {
    color: #767676;
    background-color: transparent;
    border-color: #F44336
}

.btn-line-dark,.panel-dark {
    border-color: #252833
}

.btn-line-danger.active,.btn-line-danger:active,.btn-line-danger:focus,.btn-line-danger:hover,.open .btn-line-danger.dropdown-toggle {
    color: #fff;
    background-color: #F44336
}

.btn-line-dark {
    color: #767676;
    background-color: transparent
}

.btn-line-dark.active,.btn-line-dark:active,.btn-line-dark:focus,.btn-line-dark:hover,.open .btn-line-dark.dropdown-toggle {
    color: #fff;
    background-color: #252833
}

.btn-w-xs {
    min-width: 80px
}

.btn-w-sm {
    min-width: 100px
}

.btn-w-md {
    min-width: 135px
}

.btn-w-lg {
    min-width: 160px
}

.btn-round {
    border-radius: 2em
}

.btn-gap {
    margin: 5px
}

.btn-gap-h {
    margin: 0 5px
}

.btn-gap-v {
    margin: 0 0 5px
}

.btn-group.btn-raised,.btn.btn-raised {
    text-transform: uppercase;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    transition: .25s ease-out
}

.btn-group.btn-raised:active,.btn-group.btn-raised:focus,.btn-group.btn-raised:hover,.btn.btn-raised:active,.btn.btn-raised:focus,.btn.btn-raised:hover {
    outline: 0
}

.btn-group.btn-floating,.btn.btn-floating {
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

.btn-group.btn-floating:active,.btn-group.btn-floating:focus,.btn-group.btn-floating:hover,.btn.btn-floating:active,.btn.btn-floating:focus,.btn.btn-floating:hover {
    outline: 0
}

.btn-group.btn-floating.btn-primary.active,.btn-group.btn-floating.btn-primary.focus,.btn-group.btn-floating.btn-primary:active,.btn-group.btn-floating.btn-primary:focus,.btn-group.btn-floating.btn-primary:hover,.btn-group.btn-raised.btn-primary.active,.btn-group.btn-raised.btn-primary.focus,.btn-group.btn-raised.btn-primary:active,.btn-group.btn-raised.btn-primary:focus,.btn-group.btn-raised.btn-primary:hover,.btn.btn-floating.btn-primary.active,.btn.btn-floating.btn-primary.focus,.btn.btn-floating.btn-primary:active,.btn.btn-floating.btn-primary:focus,.btn.btn-floating.btn-primary:hover,.btn.btn-raised.btn-primary.active,.btn.btn-raised.btn-primary.focus,.btn.btn-raised.btn-primary:active,.btn.btn-raised.btn-primary:focus,.btn.btn-raised.btn-primary:hover,.open>.btn-group.btn-floating.btn-primary.dropdown-toggle,.open>.btn-group.btn-raised.btn-primary.dropdown-toggle,.open>.btn.btn-floating.btn-primary.dropdown-toggle,.open>.btn.btn-raised.btn-primary.dropdown-toggle {
    background-color: #3849a2;
    border-color: #3849a2
}

.btn-group.btn-floating.btn-info.active,.btn-group.btn-floating.btn-info.focus,.btn-group.btn-floating.btn-info:active,.btn-group.btn-floating.btn-info:focus,.btn-group.btn-floating.btn-info:hover,.btn-group.btn-raised.btn-info.active,.btn-group.btn-raised.btn-info.focus,.btn-group.btn-raised.btn-info:active,.btn-group.btn-raised.btn-info:focus,.btn-group.btn-raised.btn-info:hover,.btn.btn-floating.btn-info.active,.btn.btn-floating.btn-info.focus,.btn.btn-floating.btn-info:active,.btn.btn-floating.btn-info:focus,.btn.btn-floating.btn-info:hover,.btn.btn-raised.btn-info.active,.btn.btn-raised.btn-info.focus,.btn.btn-raised.btn-info:active,.btn.btn-raised.btn-info:focus,.btn.btn-raised.btn-info:hover,.open>.btn-group.btn-floating.btn-info.dropdown-toggle,.open>.btn-group.btn-raised.btn-info.dropdown-toggle,.open>.btn.btn-floating.btn-info.dropdown-toggle,.open>.btn.btn-raised.btn-info.dropdown-toggle {
    background-color: #00a5bb;
    border-color: #00a5bb
}

.btn-group.btn-floating.btn-warning.active,.btn-group.btn-floating.btn-warning.focus,.btn-group.btn-floating.btn-warning:active,.btn-group.btn-floating.btn-warning:focus,.btn-group.btn-floating.btn-warning:hover,.btn-group.btn-raised.btn-warning.active,.btn-group.btn-raised.btn-warning.focus,.btn-group.btn-raised.btn-warning:active,.btn-group.btn-raised.btn-warning:focus,.btn-group.btn-raised.btn-warning:hover,.btn.btn-floating.btn-warning.active,.btn.btn-floating.btn-warning.focus,.btn.btn-floating.btn-warning:active,.btn.btn-floating.btn-warning:focus,.btn.btn-floating.btn-warning:hover,.btn.btn-raised.btn-warning.active,.btn.btn-raised.btn-warning.focus,.btn.btn-raised.btn-warning:active,.btn.btn-raised.btn-warning:focus,.btn.btn-raised.btn-warning:hover,.open>.btn-group.btn-floating.btn-warning.dropdown-toggle,.open>.btn-group.btn-raised.btn-warning.dropdown-toggle,.open>.btn.btn-floating.btn-warning.dropdown-toggle,.open>.btn.btn-raised.btn-warning.dropdown-toggle {
    background-color: #ecb100;
    border-color: #ecb100
}

.btn-group.btn-floating.btn-danger.active,.btn-group.btn-floating.btn-danger.focus,.btn-group.btn-floating.btn-danger:active,.btn-group.btn-floating.btn-danger:focus,.btn-group.btn-floating.btn-danger:hover,.btn-group.btn-raised.btn-danger.active,.btn-group.btn-raised.btn-danger.focus,.btn-group.btn-raised.btn-danger:active,.btn-group.btn-raised.btn-danger:focus,.btn-group.btn-raised.btn-danger:hover,.btn.btn-floating.btn-danger.active,.btn.btn-floating.btn-danger.focus,.btn.btn-floating.btn-danger:active,.btn.btn-floating.btn-danger:focus,.btn.btn-floating.btn-danger:hover,.btn.btn-raised.btn-danger.active,.btn.btn-raised.btn-danger.focus,.btn.btn-raised.btn-danger:active,.btn.btn-raised.btn-danger:focus,.btn.btn-raised.btn-danger:hover,.open>.btn-group.btn-floating.btn-danger.dropdown-toggle,.open>.btn-group.btn-raised.btn-danger.dropdown-toggle,.open>.btn.btn-floating.btn-danger.dropdown-toggle,.open>.btn.btn-raised.btn-danger.dropdown-toggle {
    background-color: #f32c1e;
    border-color: #f32c1e
}

.btn-group.btn-floating.btn-default.active,.btn-group.btn-floating.btn-default.focus,.btn-group.btn-floating.btn-default:active,.btn-group.btn-floating.btn-default:focus,.btn-group.btn-floating.btn-default:hover,.btn-group.btn-raised.btn-default.active,.btn-group.btn-raised.btn-default.focus,.btn-group.btn-raised.btn-default:active,.btn-group.btn-raised.btn-default:focus,.btn-group.btn-raised.btn-default:hover,.btn.btn-floating.btn-default.active,.btn.btn-floating.btn-default.focus,.btn.btn-floating.btn-default:active,.btn.btn-floating.btn-default:focus,.btn.btn-floating.btn-default:hover,.btn.btn-raised.btn-default.active,.btn.btn-raised.btn-default.focus,.btn.btn-raised.btn-default:active,.btn.btn-raised.btn-default:focus,.btn.btn-raised.btn-default:hover,.open>.btn-group.btn-floating.btn-default.dropdown-toggle,.open>.btn-group.btn-raised.btn-default.dropdown-toggle,.open>.btn.btn-floating.btn-default.dropdown-toggle,.open>.btn.btn-raised.btn-default.dropdown-toggle {
    background-color: #ededed;
    border-color: #ededed
}

.btn-flat,.ui-datepicker .btn-group .btn,.ui-datepicker li>.btn {
    background: 0 0;
    color: #767676;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    transition: .25s ease-out
}

.btn-flat:active,.btn-flat:focus,.btn-flat:hover,.ui-datepicker .btn-group .btn:active,.ui-datepicker .btn-group .btn:focus,.ui-datepicker .btn-group .btn:hover,.ui-datepicker li>.btn:active,.ui-datepicker li>.btn:focus,.ui-datepicker li>.btn:hover {
    background-color: #fafafa;
    outline: 0;
    box-shadow: none;
    border-color: #fafafa
}

.btn-flat.btn-primary,.ui-datepicker .btn-group .btn-primary.btn,.ui-datepicker li>.btn-primary.btn {
    color: #3F51B5
}

.btn-flat.btn-info,.ui-datepicker .btn-group .btn-info.btn,.ui-datepicker li>.btn-info.btn {
    color: #00BCD4
}

.btn-flat.btn-warning,.ui-datepicker .btn-group .btn-warning.btn,.ui-datepicker li>.btn-warning.btn {
    color: #FFC107
}

.btn-flat.btn-danger,.ui-datepicker .btn-group .btn-danger.btn,.ui-datepicker li>.btn-danger.btn {
    color: #F44336
}

.btn-icon {
    padding: 0;
    text-align: center;
    height: 35px;
    width: 35px
}

.btn-icon.btn-icon-lined,.btn-icon.btn-icon-lined i {
    line-height: 31px
}

.btn-icon.btn-icon-lined.btn-icon-thin,.btn-icon.btn-icon-lined.btn-icon-thin i {
    line-height: 33px
}

.btn-icon-lined,.btn-icon-lined i {
    line-height: 35px
}

.btn-icon-lined {
    text-align: center;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #767676;
    color: #767676;
    height: 35px;
    width: 35px
}

.btn-icon-lined.btn-icon-lined,.btn-icon-lined.btn-icon-lined i {
    line-height: 31px
}

.btn-icon-lined.btn-icon-lined.btn-icon-thin,.btn-icon-lined.btn-icon-lined.btn-icon-thin i {
    line-height: 33px
}

.btn-icon-sm,.btn-icon-sm i {
    line-height: 30px
}

.btn-icon-lined.btn-icon-thin {
    border-width: 1px
}

.btn-icon-lined:hover {
    background-color: #fff;
    color: #fff
}

.btn-icon-lined.btn-default-light,.btn-icon-lined.btn-default-light:hover {
    color: #bbb;
    border: 2px solid #bbb
}

#flotTip,.card .card-action.no-border {
    border: 0
}

.btn-icon-lined.btn-default,.btn-icon-lined.btn-default:hover {
    color: #777;
    border-color: #777
}

.btn-icon-lined.btn-primary {
    color: #3F51B5;
    border-color: #3F51B5
}

.btn-icon-lined.btn-success {
    color: #4CAF50;
    border-color: #4CAF50
}

.btn-icon-lined.btn-info {
    color: #00BCD4;
    border-color: #00BCD4
}

.btn-icon-lined.btn-warning {
    color: #FFC107;
    border-color: #FFC107
}

.btn-icon-lined.btn-danger {
    color: #F44336;
    border-color: #F44336
}

.btn-icon-round {
    border-radius: 50%
}

.btn-lg,.btn-sm,.btn-xs,.md-button.md-fab.md-fab-square {
    border-radius: 2px
}

.btn-icon-sm {
    height: 30px;
    width: 30px
}

.btn-icon-sm.btn-icon-lined,.btn-icon-sm.btn-icon-lined i {
    line-height: 26px
}

.btn-icon-sm.btn-icon-lined.btn-icon-thin,.btn-icon-sm.btn-icon-lined.btn-icon-thin i {
    line-height: 28px
}

.btn-icon-md,.btn-icon-md i {
    line-height: 45px
}

.btn-icon-md {
    height: 45px;
    width: 45px
}

.btn-icon-md.btn-icon-lined,.btn-icon-md.btn-icon-lined i {
    line-height: 41px
}

.btn-icon-md.btn-icon-lined.btn-icon-thin,.btn-icon-md.btn-icon-lined.btn-icon-thin i {
    line-height: 43px
}

.btn-icon-lg,.btn-icon-lg i {
    line-height: 65px
}

.btn-icon-lg {
    height: 65px;
    width: 65px;
    font-size: 28px
}

.btn-icon-lg.btn-icon-lined,.btn-icon-lg.btn-icon-lined i {
    line-height: 61px
}

.btn-icon-lg.btn-icon-lined.btn-icon-thin,.btn-icon-lg.btn-icon-lined.btn-icon-thin i {
    line-height: 63px
}

.btn-icon-lg-alt,.btn-icon-lg-alt i {
    line-height: 70px
}

.btn-icon-lg-alt {
    height: 70px;
    width: 70px
}

.btn-icon-lg-alt.btn-icon-lined,.btn-icon-lg-alt.btn-icon-lined i {
    line-height: 66px
}

.btn-icon-lg-alt.btn-icon-lined.btn-icon-thin,.btn-icon-lg-alt.btn-icon-lined.btn-icon-thin i {
    line-height: 68px
}

.btn-icon-xl,.btn-icon-xl i {
    line-height: 80px
}

.btn-icon-xl {
    height: 80px;
    width: 80px
}

.btn-icon-xl.btn-icon-lined,.btn-icon-xl.btn-icon-lined i {
    line-height: 76px
}

.btn-icon-xl.btn-icon-lined.btn-icon-thin,.btn-icon-xl.btn-icon-lined.btn-icon-thin i {
    line-height: 78px
}

.md-button {
    padding: 8px;
    margin: 0;
    line-height: 1.42857
}

.md-button.md-fab {
    font-size: 20px;
    padding: 0
}

.md-button.md-fab.md-fab-xs {
    font-size: 14px;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px
}

.md-button.md-fab.md-fab-sm {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.md-button.md-fab.md-fab-lg {
    font-size: 28px;
    width: 65px;
    height: 65px;
    line-height: 65px
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33
}

.btn-sm,.btn-xs {
    line-height: 1.5
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px
}

.btn-twitter {
    color: #fff;
    background-color: #00c7f7;
    border-color: #00c7f7
}

.btn-twitter:active,.btn-twitter:focus,.btn-twitter:hover {
    color: #fff;
    text-decoration: none;
    background-color: #00a6ce;
    border-color: #0096ba
}

.btn-facebook {
    color: #fff;
    background-color: #335397;
    border-color: #335397
}

.btn-facebook:active,.btn-facebook:focus,.btn-facebook:hover {
    color: #fff;
    text-decoration: none;
    background-color: #294279;
    border-color: #243a69
}

.btn-google-plus,.btn-gplus {
    color: #fff;
    background-color: #dd4a38;
    border-color: #dd4a38
}

.btn-google-plus:active,.btn-google-plus:focus,.btn-google-plus:hover,.btn-gplus:active,.btn-gplus:focus,.btn-gplus:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ca3522;
    border-color: #b8301f
}

.btn-instagram {
    color: #fff;
    background-color: #82685A;
    border-color: #82685A
}

.btn-instagram:active,.btn-instagram:focus,.btn-instagram:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6a5549;
    border-color: #5e4b41
}

.btn-vimeo {
    color: #fff;
    background-color: #63879C;
    border-color: #63879C
}

.btn-vimeo:active,.btn-vimeo:focus,.btn-vimeo:hover {
    color: #fff;
    text-decoration: none;
    background-color: #537183;
    border-color: #4b6777
}

.btn-flickr {
    color: #fff;
    background-color: #0061DB;
    border-color: #0061DB
}

.btn-flickr:active,.btn-flickr:focus,.btn-flickr:hover {
    color: #fff;
    text-decoration: none;
    background-color: #004fb2;
    border-color: #00469e
}

.btn-github {
    color: #fff;
    background-color: #3B3B3B;
    border-color: #3B3B3B
}

.btn-github:active,.btn-github:focus,.btn-github:hover {
    color: #fff;
    text-decoration: none;
    background-color: #272727;
    border-color: #1c1c1c
}

.btn-pinterest {
    color: #fff;
    background-color: #D73532;
    border-color: #D73532
}

.btn-pinterest:active,.btn-pinterest:focus,.btn-pinterest:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bc2725;
    border-color: #ab2421
}

.btn-tumblr {
    color: #fff;
    background-color: #586980;
    border-color: #586980
}

.btn-tumblr:active,.btn-tumblr:focus,.btn-tumblr:hover {
    color: #fff;
    text-decoration: none;
    background-color: #475568;
    border-color: #3f4b5c
}

.btn-linkedin {
    color: #fff;
    background-color: #018FAF;
    border-color: #018FAF
}

.btn-linkedin:active,.btn-linkedin:focus,.btn-linkedin:hover {
    color: #fff;
    text-decoration: none;
    background-color: #016e86;
    border-color: #015d72
}

.btn-dribbble {
    color: #fff;
    background-color: #EA73A0;
    border-color: #EA73A0
}

.btn-dribbble:active,.btn-dribbble:focus,.btn-dribbble:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e55088;
    border-color: #e23e7c
}

.btn-stumbleupon {
    color: #fff;
    background-color: #EA4B24;
    border-color: #EA4B24
}

.btn-stumbleupon:active,.btn-stumbleupon:focus,.btn-stumbleupon:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d13914;
    border-color: #bf3412
}

.btn-lastfm {
    color: #fff;
    background-color: #B80638;
    border-color: #B80638
}

.btn-lastfm:active,.btn-lastfm:focus,.btn-lastfm:hover {
    color: #fff;
    text-decoration: none;
    background-color: #90052c;
    border-color: #7d0426
}

.btn-evernote {
    color: #fff;
    background-color: #3BAB27;
    border-color: #3BAB27
}

.btn-evernote:active,.btn-evernote:focus,.btn-evernote:hover {
    color: #fff;
    text-decoration: none;
    background-color: #308a1f;
    border-color: #2a791c
}

.btn-skype {
    color: #fff;
    background-color: #00B0F6;
    border-color: #00B0F6
}

.btn-skype:active,.btn-skype:focus,.btn-skype:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0093cd;
    border-color: #0084b9
}

.btn-soundcloud {
    color: #fff;
    background-color: #06f;
    border-color: #06f
}

.btn-soundcloud:active,.btn-soundcloud:focus,.btn-soundcloud:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0056d6;
    border-color: #004ec2
}

.btn-behance {
    color: #fff;
    background-color: #B80638;
    border-color: #B80638
}

.btn-behance:active,.btn-behance:focus,.btn-behance:hover {
    color: #fff;
    text-decoration: none;
    background-color: #90052c;
    border-color: #7d0426
}

.btn-rss {
    color: #fff;
    background-color: #F79638;
    border-color: #F79638
}

.btn-rss:active,.btn-rss:focus,.btn-rss:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f58111;
    border-color: #e87709
}

.btn-youtube {
    color: #fff;
    background-color: #CC181E;
    border-color: #CC181E
}

.btn-youtube:active,.btn-youtube:focus,.btn-youtube:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a71419;
    border-color: #951216
}

.ui-wave {
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1)
}

.nav-collapsed-min .nav-container .ui-wave,.nav-horizontal.nav-container .ui-wave,.ui-wave.ui-wave-overflowed {
    overflow: visible
}

.ui-wave .ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.card,.card-panel {
    border-radius: 2px
}

.header-container.bg-white .ui-wave .ink,.nav-container .ui-wave .ink,.ui-datepicker .btn-group .ui-wave.btn .ink,.ui-datepicker li>.ui-wave.btn .ink,.ui-wave.btn-default .ink,.ui-wave.btn-flat .ink {
    background: rgba(0,0,0,.2)
}

.wave-animate {
    -webkit-animation: ripple .65s linear;
    -moz-animation: ripple .65s linear;
    animation: ripple .65s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5)
    }
}

.content-container.ng-leave {
    z-index: 9999
}

.content-container.ng-enter {
    z-index: 8888
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.animate-spin {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

@-webkit-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }
}

@-moz-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -moz-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }
}

@keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.animate-fade-up.ng-enter {
    -webkit-animation: .35s fade-up-enter;
    -moz-animation: .35s fade-up-enter;
    animation: .35s fade-up-enter
}

@-webkit-keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px)rotateY(90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(3000px)rotateY(0);
        opacity: 1
    }
}

@-moz-keyframes animate-flip-y-enter {
    0% {
        -moz-transform: perspective(3000px)rotateY(90deg);
        opacity: 0
    }

    100% {
        -moz-transform: perspective(3000px)rotateY(0);
        opacity: 1
    }
}

@keyframes animate-flip-y-enter {
    0% {
        -webkit-transform: perspective(3000px)rotateY(90deg);
        -moz-transform: perspective(3000px)rotateY(90deg);
        -ms-transform: perspective(3000px)rotateY(90deg);
        -o-transform: perspective(3000px)rotateY(90deg);
        transform: perspective(3000px)rotateY(90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(3000px)rotateY(0);
        -moz-transform: perspective(3000px)rotateY(0);
        -ms-transform: perspective(3000px)rotateY(0);
        -o-transform: perspective(3000px)rotateY(0);
        transform: perspective(3000px)rotateY(0);
        opacity: 1
    }
}

@-webkit-keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px)rotateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(3000px)rotateY(-90deg);
        opacity: 0
    }
}

@-moz-keyframes animate-flip-y-leave {
    0% {
        -moz-transform: perspective(3000px)rotateY(0);
        opacity: 1
    }

    100% {
        -moz-transform: perspective(3000px)rotateY(-90deg);
        opacity: 0
    }
}

@keyframes animate-flip-y-leave {
    0% {
        -webkit-transform: perspective(3000px)rotateY(0);
        -moz-transform: perspective(3000px)rotateY(0);
        -ms-transform: perspective(3000px)rotateY(0);
        -o-transform: perspective(3000px)rotateY(0);
        transform: perspective(3000px)rotateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(3000px)rotateY(-90deg);
        -moz-transform: perspective(3000px)rotateY(-90deg);
        -ms-transform: perspective(3000px)rotateY(-90deg);
        -o-transform: perspective(3000px)rotateY(-90deg);
        transform: perspective(3000px)rotateY(-90deg);
        opacity: 0
    }
}

.animate-flip-y.ng-enter {
    -webkit-animation: .35s animate-flip-y-enter ease-in-out;
    -moz-animation: .35s animate-flip-y-enter ease-in-out;
    animation: .35s animate-flip-y-enter ease-in-out
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }
}

@-moz-keyframes slideOutUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
}

.animate-vertical-slide.ng-hide-add {
    -webkit-animation: .35s slideOutUp ease-in-out;
    -moz-animation: .35s slideOutUp ease-in-out;
    animation: .35s slideOutUp ease-in-out
}

.animate-vertical-slide.ng-hide-remove {
    -webkit-animation: .35s .35s slideInDown ease-in-out;
    -moz-animation: .35s .35s slideInDown ease-in-out;
    animation: .35s .35s slideInDown ease-in-out
}

@-webkit-keyframes slideOutUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(.95)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes slideOutUp {
    0% {
        opacity: 0;
        -moz-transform: scale(.95)
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1)
    }
}

@keyframes slideOutUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        transform: scale(.95)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.ainmate-scale-up.ng-enter {
    -webkit-animation: .35s slideOutUp ease-in-out;
    -moz-animation: .35s slideOutUp ease-in-out;
    animation: .35s slideOutUp ease-in-out
}

@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes slideInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(25px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(25px);
        -moz-transform: translateX(25px);
        -ms-transform: translateX(25px);
        -o-transform: translateX(25px);
        transform: translateX(25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
}

.ainmate-slide-in-right.ng-enter {
    -webkit-animation: .35s slideInRight ease-in-out;
    -moz-animation: .35s slideInRight ease-in-out;
    animation: .35s slideInRight ease-in-out
}

.animated {
    -webkit-animation-duration: .35s;
    -moz-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        visibility: visible
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideInUp {
    0% {
        -moz-transform: translateY(100%);
        visibility: visible
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    -moz-animation-name: slideInUp;
    animation-name: slideInUp
}

@-webkit-keyframes scaleInLeft {
    0% {
        -webkit-transform-origin: left top;
        -webkit-transform: scale(.5);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-moz-keyframes scaleInLeft {
    0% {
        -moz-transform-origin: left top;
        -moz-transform: scale(.5);
        opacity: 0
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1
    }
}

@keyframes scaleInLeft {
    0% {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.scaleInLeft {
    -webkit-animation-name: scaleInLeft;
    -moz-animation-name: scaleInLeft;
    animation-name: scaleInLeft
}

@-webkit-keyframes scaleInRight {
    0% {
        -webkit-transform-origin: right top;
        -webkit-transform: scale(.5);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-moz-keyframes scaleInRight {
    0% {
        -moz-transform-origin: right top;
        -moz-transform: scale(.5);
        opacity: 0
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1
    }
}

@keyframes scaleInRight {
    0% {
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        -o-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.scaleInRight {
    -webkit-animation-name: scaleInRight;
    -moz-animation-name: scaleInRight;
    animation-name: scaleInRight
}

@-webkit-keyframes rotateInUpLeft {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: none;
        opacity: 1
    }
}

@-moz-keyframes rotateInUpLeft {
    0% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    100% {
        -moz-transform-origin: left bottom;
        -moz-transform: none;
        opacity: 1
    }
}

@keyframes rotateInUpLeft {
    0% {
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,45deg);
        -moz-transform: rotate3d(0,0,1,45deg);
        -ms-transform: rotate3d(0,0,1,45deg);
        -o-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInUpLeft {
    -webkit-animation-name: rotateInUpLeft;
    -moz-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft
}

@-webkit-keyframes rotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate3d(0,0,1,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: none;
        opacity: 1
    }
}

@-moz-keyframes rotateInUpRight {
    0% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate3d(0,0,1,-90deg);
        opacity: 0
    }

    100% {
        -moz-transform-origin: right bottom;
        -moz-transform: none;
        opacity: 1
    }
}

@keyframes rotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0,0,1,-90deg);
        -moz-transform: rotate3d(0,0,1,-90deg);
        -ms-transform: rotate3d(0,0,1,-90deg);
        -o-transform: rotate3d(0,0,1,-90deg);
        transform: rotate3d(0,0,1,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInUpRight {
    -webkit-animation-name: rotateInUpRight;
    -moz-animation-name: rotateInUpRight;
    animation-name: rotateInUpRight
}

.badge-primary {
    background-color: #3F51B5
}

.badge-success {
    background-color: #4CAF50
}

.badge-info {
    background-color: #00BCD4
}

.badge-warning {
    background-color: #FFC107
}

.badge-danger {
    background-color: #F44336
}

.breadcrumb a {
    color: #767676
}

.breadcrumb a:hover {
    text-decoration: none
}

.breadcrumb-alt {
    overflow: hidden;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%
}

.breadcrumb-alt>li {
    float: left;
    margin: 0 25px 0 0
}

.breadcrumb-alt>li>a {
    position: relative;
    float: left;
    background-color: #eee;
    color: #767676;
    font-size: 12px;
    padding: 10px
}

.breadcrumb-alt>li>a:before {
    position: absolute;
    top: 50%;
    left: -1em;
    margin-top: -1.6em;
    border-color: #eee #eee #eee transparent;
    border-style: solid;
    border-width: 1.5em 0 1.7em 1em
}

.breadcrumb-alt>li>a:after {
    position: absolute;
    top: 50%;
    right: -1em;
    margin-top: -1.5em;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #eee;
    border-top: 1.5em solid transparent
}

.card,.card .card-image {
    position: relative
}

.breadcrumb-alt>li>a.active,.breadcrumb-alt>li>a:hover {
    text-decoration: none;
    background-color: #3F51B5;
    color: #fff
}

.breadcrumb-alt>li>a.active:before,.breadcrumb-alt>li>a:hover:before {
    border-color: #3F51B5 #3F51B5 #3F51B5 transparent
}

.breadcrumb-alt>li>a.active:after,.breadcrumb-alt>li>a:hover:after {
    border-left: 1em solid #3F51B5
}

.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.callout p:last-child {
    margin-bottom: 0
}

.card,.card-panel {
    margin: 10px 0 20px
}

.callout-success {
    background-color: #f3faf3;
    border-color: #4CAF50
}

.callout-success h4 {
    color: #4CAF50
}

.callout-info {
    background-color: #f4f8fa;
    border-color: #00BCD4
}

.callout-info h4 {
    color: #00BCD4
}

.callout-warning {
    background-color: #fcf8f2;
    border-color: #FFC107
}

.callout-warning h4 {
    color: #FFC107
}

.callout-danger {
    background-color: #fdf7f7;
    border-color: #F44336
}

.callout-danger h4 {
    color: #F44336
}

.card-panel {
    padding: 20px
}

.card {
    overflow: hidden
}

.card .card-title {
    font-size: 24px
}

.card .card-action>a {
    margin-right: 20px;
    text-transform: uppercase
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
}

.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.25)
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px
}

.card .card-content p {
    margin: 0;
    color: inherit
}

.card .card-content .card-title {
    line-height: 48px
}

.card .card-content .card-profile-img {
    position: relative;
    z-index: 1;
    margin-top: -70px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #fff
}

.card .card-content .card-profile-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%
}

.card .card-content .card-profile-img.profile-img-sm {
    margin-top: -50px;
    width: 60px;
    height: 60px;
    padding: 2px
}

.card .card-content .card-profile-img.profile-img-sm img {
    width: 56px;
    height: 56px;
    border-radius: 50%
}

#flotTip,.doughnut-legend li,.ih-item,.ih-item img {
    border-radius: 2px
}

.card .card-content .card-button .btn-icon {
    position: relative;
    z-index: 1;
    margin-top: -65px
}

.card .card-action {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 20px
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block
}

#flotTip {
    background: rgba(0,0,0,.7);
    color: #fafafa;
    padding: .5em .6em;
    font-size: 12px
}

.legendLabel {
    padding: 0 5px;
    color: #767676
}

.chartjs-with-legend {
    position: relative;
    padding: 10px 130px 10px 10px;
    min-height: 200px
}

.doughnut-legend {
    list-style: none;
    position: absolute;
    right: 20px;
    top: 20px
}

.doughnut-legend li {
    display: block;
    position: relative;
    margin-bottom: 4px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out
}

.doughnut-legend li:hover {
    background-color: #fafafa
}

.doughnut-legend li span {
    display: inline-block;
    margin: 0 8px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px
}

.dropdown-menu.with-arrow,.dropdown-menu.with-arrow.pull-right {
    margin-top: 0
}

.dropdown-menu.dropdown-dark {
    background-color: #252833
}

.dropdown-menu.dropdown-dark.with-arrow:after {
    border-bottom: 7px solid #252833
}

.dropdown-menu.dropdown-dark>li>a {
    color: #777
}

.dropdown-menu.with-arrow:before {
    content: " ";
    position: absolute;
    left: 12px;
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0,.15)
}

.dropdown-menu.with-arrow:after {
    content: " ";
    position: absolute;
    left: 13px;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff
}

.dropdown-menu.with-arrow.pull-right:before {
    left: auto;
    right: 12px
}

.dropdown-menu.with-arrow.pull-right:after {
    left: auto;
    right: 13px
}

.dropdown-menu.with-arrow.panel {
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.2)
}

.dropdown-menu.with-arrow.panel-default:before {
    border-bottom: 8px solid #e2edeb
}

.dropdown-menu.with-arrow.panel-default:after {
    border-bottom: 7px solid #F2F7F7
}

.dropdown-menu.with-arrow.panel-dark:before {
    border-bottom: 8px solid #252833
}

.dropdown-menu.with-arrow.panel-dark:after {
    border-bottom: 7px solid #252833
}

.dropdown-menu.with-arrow.panel-primary:before {
    border-bottom: 8px solid #3F51B5
}

.dropdown-menu.with-arrow.panel-primary:after {
    border-bottom: 7px solid #3F51B5
}

.dropdown-menu.with-arrow.panel-success:before {
    border-bottom: 8px solid #ebf8cd
}

.dropdown-menu.with-arrow.panel-success:after {
    border-bottom: 7px solid #F0FBE3
}

.dropdown-menu.with-arrow.panel-info:before {
    border-bottom: 8px solid #c5f1fa
}

.dropdown-menu.with-arrow.panel-info:after {
    border-bottom: 7px solid #E6F5FD
}

.dropdown-menu.with-arrow.panel-warning:before {
    border-bottom: 8px solid #ffecd4
}

.dropdown-menu.with-arrow.panel-warning:after {
    border-bottom: 7px solid #FFFAED
}

.dropdown-menu.with-arrow.panel-danger:before {
    border-bottom: 8px solid #f7d0d1
}

.dropdown-menu.with-arrow.panel-danger:after {
    border-bottom: 7px solid #FBE9E6
}

.ih-item {
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

.ih-item a {
    color: #333
}

.ih-item a:hover {
    text-decoration: none
}

.ih-item img {
    width: 100%;
    height: 100%
}

.ih-item.ih-material {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%
}

.ih-item.ih-material .info-mask {
    content: '';
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s cubic-bezier(.4,0,.2,1);
    -moz-transition: all .4s cubic-bezier(.4,0,.2,1);
    transition: all .4s cubic-bezier(.4,0,.2,1)
}

.ih-item.ih-material .info-content {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.ih-item.ih-material .info-content:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -.5em
}

.ih-item.ih-material .info-content .info-inner {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center
}

.ih-item.ih-material .info-content .info-inner h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px
}

.ih-item.ih-material .info-content .info-inner p {
    font-style: italic;
    font-size: 12px;
    color: #eee
}

.ih-item.ih-material .bg-warning+.info-content .info-inner h3,.ih-item.ih-material .bg-white+.info-content .info-inner h3 {
    color: #767676
}

.ih-item.ih-material .bg-warning+.info-content .info-inner p,.ih-item.ih-material .bg-white+.info-content .info-inner p {
    color: #999
}

.ih-item.ih-material a:hover .info-content {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.ih-item.ih-material a:hover .info-mask {
    opacity: .8;
    -webkit-transform: scale(1.21);
    -moz-transform: scale(1.21);
    -ms-transform: scale(1.21);
    -o-transform: scale(1.21);
    transform: scale(1.21)
}

img.img30_30 {
    width: 30px;
    height: 30px
}

img.img64_64 {
    width: 64px;
    height: 64px
}

img.img80_80 {
    width: 80px;
    height: 80px
}

.label {
    padding: .5em .8em
}

.label-info-alt {
    background: #673AB7
}

.list-group-item {
    padding: 15px;
    border: 1px solid #f3f3f3
}

.list-info li {
    padding: 10px;
    border-bottom: 1px solid #eee
}

.list-info li:last-child {
    border-bottom: none
}

.list-info li .icon {
    margin-right: 10px;
    color: #3F51B5
}

.list-info li label {
    width: 100px
}

.media-list.media-divider-full .media,.media-list.media-divider-inset .media-body {
    border-bottom: 1px solid #e2edeb
}

.nav-boxed {
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 2px
}

.nav-boxed.nav-justified>li>a {
    margin: 0
}

.nav-boxed a {
    color: #767676
}

.nav-boxed>li>a {
    display: block;
    padding: 10px 5px;
    border-left: 0;
    border-top: 1px solid #f3f3f3
}

@media (min-width: 768px) {
    .nav-boxed>li>a {
        border-top:0;
        border-left: 1px solid #f3f3f3
    }
}

.nav-boxed>li>a>i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 2px;
    font-size: 30px
}

.panel-box .panel-bottom p,.panel-box ul.list-justified>li p {
    margin: 0
}

.nav-boxed>li:first-child>a {
    border-left: none;
    border-top: 0
}

@media (min-width: 768px) {
    .nav-boxed>li:first-child>a {
        border-left:1px solid #f3f3f3
    }
}

.panel {
    box-shadow: 0 0 3px rgba(0,0,0,.1)
}

.panel .panel,.pricing-table {
    box-shadow: none
}

.panel .panel-heading {
    text-transform: uppercase
}

.panel .panel-title {
    font-size: 14px
}

.panel.panel-labeled {
    position: relative
}

.panel.panel-labeled .panel-body {
    padding: 35px 15px
}

.panel.panel-minimal .panel-heading {
    background: 0 0;
    border: 0;
    font-size: 18px;
    text-transform: capitalize
}

.panel-box,.panel-box ul.list-justified>li:last-child {
    border: none
}

.panel .panel-label {
    color: #ccc;
    position: absolute;
    bottom: 5px;
    left: 7px
}

.pricing-table,.ui-ribbon-container {
    position: relative
}

.panel .panel-body.padding-lg {
    padding: 30px 15px
}

.panel .panel-body.padding-xl {
    padding: 60px 15px
}

.panel .panel-body.padding-lg-h {
    padding: 15px 30px
}

.panel-dark>.panel-heading {
    color: #fff;
    background-color: #252833;
    border-color: #252833
}

.panel-dark>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #252833
}

.panel-dark>.panel-heading .badge {
    color: #252833;
    background-color: #fff
}

.panel-dark>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #252833
}

.panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center
}

.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0
}

.panel-box .panel-left {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px
}

.panel-box .panel-right {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px
}

.panel-box.info-box i {
    line-height: 70px
}

.panel-box .panel-bottom,.panel-box .panel-top {
    display: block
}

.panel-box .panel-top {
    padding: 30px 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.panel-box .panel-bottom {
    padding: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.panel-box .list-justified-container {
    padding: 15px 0
}

.panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0
}

.panel-box ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #eee
}

.panel-box .panel-icon,.panel-box .panel-img {
    display: block;
    margin: -75px auto 0;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
    line-height: 80px;
    text-align: center;
    font-size: 58px;
    text-shadow: -6px 8px 5px rgba(0,0,0,.3)
}

.panel-box .panel-icon {
    padding: 28px 35px 35px
}

.panel-box .panel-img {
    padding: 0
}

.panel-box .panel-img img {
    width: 100%;
    max-width: 100%
}

.mini-box {
    min-height: 120px;
    padding: 25px
}

.mini-box .box-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    border-radius: 2px
}

.mini-box .box-icon.rounded,.panel-profile .profile img {
    border-radius: 50%
}

.mini-box .btn-icon,.mini-box .btn-icon-lined {
    margin: 0 15px 0 0;
    font-size: 32px
}

.mini-box .box-info {
    display: inline-block;
    vertical-align: top
}

.mini-box .box-info p {
    margin: 0
}

.panel-profile {
    border: none
}

.panel-profile .profile {
    margin: 5px 15px 5px 5px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.2)
}

.pagination>li:first-child>a,.pagination>li:first-child>span,.pagination>li:last-child>a,.pagination>li:last-child>span,.pagination>li>a,.pricing-table {
    border-radius: 2px
}

.panel-profile .list-group>li>i {
    margin-right: 10px;
    font-size: 16px;
    color: #777;
    table-layout: fixed
}

.panel-profile .list-justified-container {
    padding: 15px 0
}

.panel-profile ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0
}

.panel-profile ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #eee
}

.panel-profile ul.list-justified>li:last-child {
    border: none
}

.panel-profile ul.list-justified>li p {
    margin: 0
}

.popover-title {
    padding: 8px 14px 0;
    color: #aaa;
    font-weight: 700;
    border-bottom: none
}

.popover-content {
    color: #fafafa
}

.pricing-table {
    margin-bottom: 20px;
    background-color: #fcfcfc;
    color: #999;
    text-align: center;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    transition: .25s ease-out
}

.pricing-table header {
    background-color: #93959e;
    text-align: center;
    padding: 12px 8px
}

.pricing-table header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff
}

.pricing-table .pricing-price {
    border-bottom: 1px solid #e7edf6;
    padding: 45px 15px;
    background-color: #A0A2AA;
    font-size: 56px;
    line-height: 1;
    color: #fff;
    font-weight: 300
}

.pricing-table .pricing-price .pricing-sign {
    margin-right: 5px;
    font-size: 24px;
    font-weight: 400
}

.pricing-table .pricing-price .pricing-sub {
    margin-left: 5px;
    font-size: 22px;
    line-height: 1
}

.pricing-table .pricing-lead {
    margin-bottom: 1.5em;
    font-size: 18px;
    text-transform: uppercase
}

.pricing-table .pricing-lead:after {
    margin: 0 auto;
    content: "";
    height: 0;
    width: 80px;
    padding-top: .6em;
    border-bottom: solid 3px #eff0f3;
    display: block
}

.pricing-table .pricing-plan-details {
    padding: 1em
}

.pricing-table .pricing-plan-details>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 2em
}

.pricing-table>footer {
    padding: 2em;
    text-align: center
}

.pricing-table>footer>a {
    display: block;
    margin: 0 auto;
    padding: 12px;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    max-width: 200px
}

.pricing-table.pricing-table-primary header {
    background-color: #3849a2
}

.pricing-table.pricing-table-primary .pricing-price {
    background-color: #3F51B5
}

.pricing-table.pricing-table-primary:after {
    border-top: 6px solid #3F51B5;
    border-left: 6px solid #3F51B5
}

.pricing-table.pricing-table-info header,.pricing-table.pricing-table-secondary header {
    background-color: #00a5bb
}

.pricing-table.pricing-table-info .pricing-price,.pricing-table.pricing-table-secondary .pricing-price {
    background-color: #00BCD4
}

.pricing-table.pricing-table-info:after,.pricing-table.pricing-table-secondary:after {
    border-top: 6px solid #00BCD4;
    border-left: 6px solid #00BCD4
}

.pricing-table.pricing-table-success header {
    background-color: #449d48
}

.pricing-table.pricing-table-success .pricing-price {
    background-color: #4CAF50
}

.pricing-table.pricing-table-success:after {
    border-top: 6px solid #4CAF50;
    border-left: 6px solid #4CAF50
}

.pricing-table.pricing-table-warning header {
    background-color: #ecb100
}

.pricing-table.pricing-table-warning .pricing-price {
    background-color: #FFC107
}

.pricing-table.pricing-table-warning:after {
    border-top: 6px solid #FFC107;
    border-left: 6px solid #FFC107
}

.pricing-table.pricing-table-danger header {
    background-color: #f32c1e
}

.pricing-table.pricing-table-danger .pricing-price {
    background-color: #F44336
}

.pricing-table.pricing-table-danger:after {
    border-top: 6px solid #F44336;
    border-left: 6px solid #F44336
}

.ui-ribbon-container .ui-ribbon-wrapper {
    position: absolute;
    overflow: hidden;
    width: 85px;
    height: 88px;
    top: -3px;
    right: -3px
}

.flags-american,.flags-china,.flags-france,.flags-germany,.flags-japan,.flags-korea,.flags-portugal,.flags-russia,.flags-spain {
    width: 32px;
    height: 32px
}

.ui-ribbon-container .ui-ribbon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    line-height: 20px;
    background-color: #555;
    box-shadow: 0 0 3px rgba(0,0,0,.3)
}

.progress,.progress-bar {
    box-shadow: none
}

.ui-ribbon-container .ui-ribbon:after,.ui-ribbon-container .ui-ribbon:before {
    position: absolute;
    content: " ";
    line-height: 0;
    border-top: 2px solid #555;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    bottom: -2px
}

.ui-ribbon-container .ui-ribbon:before {
    left: 0;
    bottom: -1px
}

.ui-ribbon-container .ui-ribbon:after {
    right: 0
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon {
    background-color: #3F51B5
}

.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:after,.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:before {
    border-top: 2px solid #3F51B5
}

.ui-ribbon-container.ui-ribbon-success .ui-ribbon {
    background-color: #4CAF50
}

.ui-ribbon-container.ui-ribbon-success .ui-ribbon:after,.ui-ribbon-container.ui-ribbon-success .ui-ribbon:before {
    border-top: 2px solid #4CAF50
}

.ui-ribbon-container.ui-ribbon-info .ui-ribbon {
    background-color: #00BCD4
}

.ui-ribbon-container.ui-ribbon-info .ui-ribbon:after,.ui-ribbon-container.ui-ribbon-info .ui-ribbon:before {
    border-top: 2px solid #00BCD4
}

.ui-ribbon-container.ui-ribbon-warning .ui-ribbon {
    background-color: #FFC107
}

.ui-ribbon-container.ui-ribbon-warning .ui-ribbon:after,.ui-ribbon-container.ui-ribbon-warning .ui-ribbon:before {
    border-top: 2px solid #FFC107
}

.ui-ribbon-container.ui-ribbon-danger .ui-ribbon {
    background-color: #F44336
}

.ui-ribbon-container.ui-ribbon-danger .ui-ribbon:after,.ui-ribbon-container.ui-ribbon-danger .ui-ribbon:before {
    border-top: 2px solid #F44336
}

.flags-american,.flags-china,.flags-france,.flags-germany,.flags-italy,.flags-japan,.flags-korea,.flags-portugal,.flags-russia,.flags-spain,.flags-sprite {
    background-image: url(../images/flags-s1545c92c32.png);
    background-repeat: no-repeat
}

.flags-american {
    background-position: 0 0
}

.flags-china {
    background-position: 0 -32px
}

.flags-france {
    background-position: 0 -64px
}

.flags-germany {
    background-position: 0 -96px
}

.flags-italy {
    background-position: 0 -128px;
    height: 32px;
    width: 32px
}

.flags-japan {
    background-position: 0 -160px
}

.flags-korea {
    background-position: 0 -192px
}

.flags-portugal {
    background-position: 0 -224px
}

.flags-russia {
    background-position: 0 -256px
}

.flags-spain {
    background-position: 0 -288px
}

.ui-timline-container {
    padding: 15px
}

.ui-timline-left .ui-timeline:before {
    left: 0
}

@media (min-width: 768px) {
    .ui-timline-left .ui-timeline .tl-item:before {
        display:none
    }

    .ui-timline-left .ui-timeline .tl-item .tl-caption {
        margin-left: -55px
    }

    .ui-timline-left .ui-timeline .tl-item .tl-body .tl-time {
        left: auto;
        right: 15px;
        color: #777
    }
}

.ui-timeline {
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

.ui-timeline:before {
    background-color: #d5d5d5;
    bottom: 0;
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    width: 1px;
    z-index: 0
}

.ui-timeline .tl-item {
    display: table-row;
    margin-bottom: 5px
}

.ui-timeline .tl-item:before {
    display: none;
    content: ""
}

@media (min-width: 768px) {
    .ui-timeline:before {
        left:50%
    }

    .ui-timeline .tl-item:before {
        display: block;
        width: 50%
    }
}

.ui-timeline .tl-item .tl-caption {
    width: 150px;
    margin-left: -55px
}

@media (min-width: 768px) {
    .ui-timeline .tl-item .tl-caption {
        margin-left:-110px
    }

    .ui-timeline .tl-item.alt {
        text-align: right
    }

    .ui-timeline .tl-item.alt:before {
        display: none
    }

    .ui-timeline .tl-item.alt:after {
        content: "";
        display: block;
        width: 50%
    }

    .ui-timeline .tl-item.alt .tl-body .tl-entry {
        margin: 0 35px 15px 0
    }

    .ui-timeline .tl-item.alt .tl-body .tl-time {
        right: -220px;
        left: auto;
        text-align: left
    }

    .ui-timeline .tl-item.alt .tl-body .tl-icon {
        right: -53px;
        left: auto
    }

    .ui-timeline .tl-item.alt .tl-body .tl-content:after {
        right: -16px;
        left: auto;
        border: 8px solid transparent;
        border-left: 8px solid rgba(255,255,255,.9);
        border-top: 8px solid rgba(255,255,255,.9)
    }
}

.ui-timeline .tl-item .tl-body {
    display: table-cell;
    width: 50%;
    vertical-align: top
}

.ui-map,.ui-tab-vertical .nav-tabs>li>a {
    display: block
}

.ui-timeline .tl-item .tl-body .tl-entry {
    position: relative;
    margin: 0 0 15px 36px
}

.ui-timeline .tl-item .tl-body .tl-time {
    z-index: 1;
    position: absolute;
    left: auto;
    right: 15px;
    top: 0;
    width: 150px;
    color: #777;
    line-height: 35px;
    text-align: right
}

@media (min-width: 768px) {
    .ui-timeline .tl-item .tl-body .tl-time {
        left:-220px;
        right: auto;
        color: #767676
    }
}

.ui-timeline .tl-item .tl-body .tl-icon {
    position: absolute;
    left: -53px;
    top: 0
}

.ui-timeline .tl-item .tl-body .tl-content {
    position: relative;
    padding: 15px;
    border-radius: 2px;
    background-color: rgba(255,255,255,.9)
}

.ui-timeline .tl-item .tl-body .tl-content:after {
    content: " ";
    line-height: 0;
    position: absolute;
    left: -16px;
    top: 0;
    border: 8px solid transparent;
    border-right: 8px solid rgba(255,255,255,.9);
    border-top: 8px solid rgba(255,255,255,.9)
}

.tooltip-inner {
    padding: .85em
}

.ui-accordion .panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #e2edeb
}

.ui-accordion .panel {
    border: 1px solid #e2edeb
}

.ui-accordion .panel-heading {
    padding: 0;
    background-color: #F2F7F7
}

.ui-accordion .panel-heading .panel-title>a {
    display: block;
    padding: 15px;
    font-size: 14px
}

.ui-accordion .panel-heading .panel-title>a:active,.ui-accordion .panel-heading .panel-title>a:focus,.ui-accordion .panel-heading .panel-title>a:hover {
    cursor: pointer;
    text-decoration: none
}

.ui-accordion-success .panel {
    border: 1px solid #4CAF50
}

.ui-accordion-success .panel-heading {
    background-color: #4CAF50;
    color: #fff
}

.ui-accordion-info .panel {
    border: 1px solid #00BCD4
}

.ui-accordion-info .panel-heading {
    background-color: #00BCD4;
    color: #fff
}

.ui-accordion-warning .panel {
    border: 1px solid #FFC107
}

.ui-accordion-warning .panel-heading {
    background-color: #FFC107;
    color: #fff
}

.ui-accordion-danger .panel {
    border: 1px solid #F44336
}

.ui-accordion-danger .panel-heading {
    background-color: #F44336;
    color: #fff
}

.ui-accordion-dark .panel {
    border: 1px solid #252833
}

.ui-accordion-dark .panel-heading {
    background-color: #252833;
    color: #fff
}

.ui-map {
    height: 400px
}

.pagination-lg>li span,.pagination-lg>li>a {
    line-height: 26px;
    padding: 10px 18px
}

.pagination>li>a {
    color: #767676;
    cursor: pointer
}

.pagination>li>a,.pagination>li>span {
    padding: 5px 10px;
    margin-left: 10px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 4px 8px;
    font-size: 12px
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px
}

.progress {
    background-color: #f5f5f5
}

.progress-rounded {
    border-radius: 50px
}

.progressbar-xs {
    height: 10px
}

.progressbar-sm {
    height: 15px
}

.ui-tab .nav-tabs {
    margin-bottom: 15px
}

.ui-tab .nav-tabs.nav-justified>li.active>a {
    border-bottom-color: transparent
}

.ui-tab .nav-tabs>li.active>a {
    background-color: #fff
}

.ui-tab .nav-tabs a {
    color: #767676
}

.ui-tab .nav-tabs a:hover {
    cursor: pointer
}

.ui-tab-container .nav-tabs {
    margin-bottom: 0
}

.ui-tab-container .nav-tabs.nav-justified>li:last-child {
    border-right: 0
}

.ui-tab-container .nav-tabs.nav-justified>li:active>a,.ui-tab-container .nav-tabs.nav-justified>li:focus>a,.ui-tab-container .nav-tabs.nav-justified>li:hover>a,.ui-tab-container .nav-tabs.nav-justified>li>a {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ddd
}

.ui-tab-container .nav-tabs>li.active>a {
    color: #3F51B5
}

.ui-tab-container .nav-tabs>li:active>a,.ui-tab-container .nav-tabs>li:focus>a,.ui-tab-container .nav-tabs>li:hover>a {
    border: 0;
    background-color: transparent
}

.ui-tab-container .nav-tabs>li>a {
    margin: 0;
    border: 0;
    padding: 15px;
    font-weight: 700;
    border-radius: 0
}

.ui-tab-container .tab-content {
    padding: 15px
}

.ui-tab-horizontal {
    border: 1px solid #ddd;
    border-radius: 2px
}

.ui-tab-horizontal .nav-tabs {
    background-color: #F2F7F7
}

.ui-tab-horizontal .nav-tabs>li {
    border-right: 1px solid #ddd
}

.ui-tab-horizontal .nav-tabs>li.active:active>a,.ui-tab-horizontal .nav-tabs>li.active:focus>a,.ui-tab-horizontal .nav-tabs>li.active:hover>a {
    border: 0;
    background-color: #fff
}

.ui-tab-horizontal .nav-tabs>li.active>a:active,.ui-tab-horizontal .nav-tabs>li.active>a:focus,.ui-tab-horizontal .nav-tabs>li.active>a:hover {
    border: 0
}

.ui-tab-vertical {
    position: relative;
    padding: 0 0 0 30%
}

.ui-tab-vertical .nav-tabs {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    background-color: #F2F7F7;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    border-color: #ddd;
    border-style: solid
}

.ui-tab-vertical .nav-tabs>li {
    width: 100%;
    float: none;
    border-bottom: 1px solid #ddd;
    margin: 0
}

.ui-tab-vertical .nav-tabs>li:last-child {
    border-bottom: 0
}

.ui-tab-vertical .nav-tabs>li.active:active>a,.ui-tab-vertical .nav-tabs>li.active:focus>a,.ui-tab-vertical .nav-tabs>li.active:hover>a {
    border: 0;
    background-color: #fff
}

.ui-tab-vertical .nav-tabs>li.active>a {
    margin-right: -1px
}

.ui-tab-vertical .nav-tabs>li.active>a:active,.ui-tab-vertical .nav-tabs>li.active>a:focus,.ui-tab-vertical .nav-tabs>li.active>a:hover {
    border: 0
}

.ui-tab-vertical .tab-content {
    border: 1px solid #ddd;
    border-radius: 0 2px 2px 0
}

.tabcontrol a,.ui-tags-input .host:active,.ui-tags-input .tags.focused,.wizard a {
    outline: 0
}

.wizard>.steps a,.wizard>.steps a:active,.wizard>.steps a:hover,.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)
}

@media print {
    .no-print {
        display: none
    }
}

.bar-legend,.chart-legend,.doughnut-legend,.line-legend,.pie-legend,.polararea-legend,.radar-legend {
    list-style-type: none;
    margin-top: 5px;
    text-align: center
}

.bar-legend li,.chart-legend li,.doughnut-legend li,.line-legend li,.pie-legend li,.polararea-legend li,.radar-legend li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: smaller;
    cursor: default
}

.bar-legend li span,.chart-legend li span,.doughnut-legend li span,.line-legend li span,.pie-legend li span,.polararea-legend li span,.radar-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px
}

.panel-default>.panel-heading {
  color: #767676;
  background-color: #F2F7F7;
  border-color: #e2edeb;
}

// pagination

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
    color: #767676;
    background-color: #fff;
    border-color: #aaa
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #3F51B5;
    border-color: #3F51B5;
    cursor: default
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
    color: #777;
    background-color: #F2F7F7;
    border-color: #F2F7F7;
    cursor: not-allowed
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}

.pager {
    padding-left: 0;
    margin: 20px 0
}

.pager:after,.pager:before {
    content: " ";
    display: table
}

.pager li {
    display: inline
}

.pager li>a,.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #dce0e0;
    border-radius: 15px
}

.pager li>a:focus,.pager li>a:hover {
    text-decoration: none;
    background-color: #fff
}

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span {
    color: #777;
    background-color: #fff;
    cursor: not-allowed
}
