.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.tabcontrol,
.wizard {
  display: block;
  width: 100%;
  overflow: hidden
}

.tabcontrol ul,
.wizard ul {
  list-style: none !important;
  padding: 0;
  margin: 0
}

.tabcontrol > .content > .body ul,
.wizard > .content > .body ul {
  list-style: disc !important
}

.tabcontrol ul > li,
.wizard ul > li {
  display: block;
  padding: 0
}

.tabcontrol > .content > .title,
.tabcontrol > .steps .current-info,
.wizard > .content > .title,
.wizard > .steps .current-info {
  position: absolute;
  left: -999em
}

.wizard > .steps {
  position: relative;
  display: block;
  width: 100%
}

.wizard > .steps > ul > li {
  width: 100%
}

@media (min-width: 600px) {
  .wizard > .steps > ul > li {
    width: 25%
  }
}

.wizard.vertical > .steps {
  display: block;
  width: 100%
}

@media (min-width: 600px) {
  .wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%
  }
}

.wizard.vertical > .steps > ul > li {
  float: none;
  width: 100%
}

.wizard.vertical > .content {
  width: 100%
}

@media (min-width: 600px) {
  .wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 2.5% .5em;
    width: 65%
  }
}

.wizard > .steps .number {
  font-size: 1.429em
}

.wizard > .actions > ul > li,
.wizard > .steps > ul > li {
  float: left
}

.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
  display: block;
  width: auto;
  margin: 0 .5em .5em;
  padding: 1em;
  text-decoration: none;
  border-radius: 2px
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover {
  background: #eee;
  color: #aaa;
  cursor: default;
  box-shadow: none
}

.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
  background: #3F51B5;
  color: #fff;
  cursor: default
}

.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
  background: #3F51B5;
  color: #fff;
  opacity: .6
}

.wizard > .steps .error a,
.wizard > .steps .error a:active,
.wizard > .steps .error a:hover {
  background: #F44336;
  color: #fff
}

.wizard > .content {
  background-color: #eee;
  display: block;
  margin: .5em;
  min-height: 25em;
  overflow: hidden;
  position: relative;
  width: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

.wizard > .content > .body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%
}

.wizard > .content > .body ul > li {
  display: list-item
}

.wizard > .content > .body > iframe {
  border: 0;
  width: 100%;
  height: 100%
}

.wizard > .content > .body input {
  display: block;
  border: 1px solid #ccc
}

.wizard > .content > .body input[type=checkbox] {
  display: inline-block
}

.wizard > .content > .body input.error {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #8a1f11
}

.wizard > .content > .body label {
  display: inline-block;
  margin-bottom: .5em
}

.wizard > .content > .body label.error {
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em
}

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%
}

.wizard.vertical > .actions {
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%
}

.wizard > .actions > ul {
  display: inline-block;
  text-align: right
}

.wizard > .actions > ul > li {
  margin: 0 .5em
}

.wizard.vertical > .actions > ul > li {
  margin: 0 0 0 1em
}

.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
  background-color: #3F51B5;
  color: #fff;
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  min-width: 100px;
  border-radius: 2px;
  text-align: center
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
  background: #eee;
  color: #aaa
}

.tabcontrol > .steps {
  position: relative;
  display: block;
  width: 100%
}

.tabcontrol > .steps > ul {
  position: relative;
  margin: 6px 0 0;
  top: 1px;
  z-index: 1
}

.tabcontrol > .steps > ul > li {
  float: left;
  margin: 5px 2px 0 0;
  padding: 1px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px
}

.tabcontrol > .steps > ul > li:hover {
  background: #edecec;
  border: 1px solid #bbb;
  padding: 0
}

.tabcontrol > .steps > ul > li.current {
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 0 none;
  padding: 0 0 1px;
  margin-top: 0
}

.tabcontrol > .steps > ul > li > a {
  color: #5f5f5f;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 10px 30px;
  text-decoration: none
}

.tabcontrol > .steps > ul > li > a:hover {
  text-decoration: none
}

.tabcontrol > .steps > ul > li.current > a {
  padding: 15px 30px 10px
}

.tabcontrol > .content {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35em;
  overflow: hidden;
  border-top: 1px solid #bbb;
  padding-top: 20px
}

.tabcontrol > .content > .body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%
}

.tabcontrol > .content > .body ul > li {
  display: list-item
}

.jvectormap-label {
  position: absolute;
  display: none;
  border-radius: 2px;
  background: #252833;
  color: #fff;
  font-size: 12px;
  padding: 6px
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  position: absolute;
  left: 10px;
  border-radius: 2px;
  background: #eee;
  padding: 3px;
  color: #767676;
  width: 18px;
  height: 18px;
  cursor: pointer;
  line-height: 10px;
  text-align: center
}

.jvectormap-zoomin {
  top: 10px
}

.jvectormap-zoomout {
  top: 30px
}

.ui-tags-input .host {
  position: relative;
  margin: 5px 0
}

.ui-tags-input .tags {
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  display: block;
  width: 100%;
  min-height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #767676;
  background-color: #fff;
  background-image: none;
  border: 1px solid #CBD5DD;
  border-radius: 2px
}

.ui-tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.ui-tags-input .tags .tag-item {
  display: inline-block;
  float: left;
  margin: 2px;
  padding: 6px 8px;
  border-radius: 2px;
  background-color: #3F51B5;
  color: #fff
}

.ui-tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  vertical-align: middle;
  color: #eee;
  text-decoration: none
}

.ui-tags-input .tags .input.invalid-tag,
.ui-tags-input .tags .tag-item .remove-button:active {
  color: #F44336
}

.ui-tags-input .tags .input {
  border: 0;
  outline: 0;
  margin: 2px;
  padding: 5px 0 5px 5px;
  float: left;
  height: 30px
}

.ui-tags-input .tags .input::-ms-clear {
  display: none
}

.ui-tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2)
}

.ui-tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.ui-tags-input .autocomplete .suggestion-item {
  overflow: hidden;
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #252833;
  background-color: #fff
}

.ui-tags-input .autocomplete .suggestion-item.selected,
.ui-tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf
}

.ui-tags-input .autocomplete .suggestion-item em {
  color: #252833;
  background-color: #fff
}

.page-dashboard .mini-box {
  padding: 30px 20px
}

.page-dashboard .panel-box {
  position: relative;
  border-radius: 2px
}

.page-dashboard .panel-box .panel-bottom,
.page-dashboard .panel-box .panel-top {
  height: 100px;
  padding: 30px 15px;
  font-size: 40px;
  line-height: 1
}

.page-dashboard .panel-box .panel-bottom {
  border-top: 1px solid #dfdfdf
}

.nav-container .nav > li:first-child > a,
.table.table-demo tr:first-child td {
  border-top: 0
}

.page-dashboard .panel-box .panel-info {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -12px;
  text-align: center
}

.page-dashboard .panel-box .panel-info span {
  height: 24px;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  font-size: 11px;
  color: #777;
  border-radius: 1em
}

.invoice-inner .table .bg-dark > th,
.invoice-inner .table.table-bordered,
.page-features .panel {
  border: 0
}

.page-dashboard .panel-box .bg-light {
  background-color: #f9f9f9
}

.lt-ie9-bg {
  z-index: 11111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  color: #999;
  padding: 100px 20px;
  text-align: center;
  font-size: 26px
}

.lt-ie9-bg a {
  color: #f5f5f5;
  border-bottom: 2px solid #fff
}

.lt-ie9-bg a:hover {
  text-decoration: none
}

.non-display {
  display: none
}

.page {
  padding: 15px 30px
}

.page-form-ele h3 {
  margin: 0
}

.body-err #content {
  background-color: #252833;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover
}

.page-err {
  position: relative;
  width: 100%;
  height: 100%
}

.page-err .err-container {
  padding: 45px 10px 0
}

.page-err .err {
  color: #fafafa
}

.page-err .err h1 {
  margin-bottom: 35px;
  color: #fafafa;
  color: rgba(255, 255, 255, .8);
  font-size: 150px;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .2)
}

@media (min-width: 768px) {
  .page-err .err-container {
    padding: 100px 0 0
  }
  .page-err .err h1 {
    font-size: 180px
  }
}

.page-err .err h2 {
  color: #fafafa;
  color: rgba(255, 255, 255, .6);
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase
}

@media (min-width: 768px) {
  .page-err .err h2 {
    font-size: 36px
  }
}

.page-err .err-body {
  padding: 20px 10px
}

.page-err .btn-goback {
  color: #fff;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
  border-color: #fff;
  border-color: rgba(255, 255, 255, .8)
}

.open .page-err .btn-goback.dropdown-toggle,
.page-err .btn-goback.active,
.page-err .btn-goback:active,
.page-err .btn-goback:focus,
.page-err .btn-goback:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, .1)
}

.page-err .footer {
  position: absolute;
  bottom: 20px;
  width: 100%
}

.body-auth #content {
  background: url(../assets/images/background.png) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover
}

.btn-minimal {
  color: #fff;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
  border-color: #fff;
  border-color: rgba(255, 255, 255, .8)
}

.btn-minimal.active,
.btn-minimal:active,
.btn-minimal:focus,
.btn-minimal:hover,
.open .btn-minimal.dropdown-toggle {
  color: #fff;
  background-color: rgba(255, 255, 255, .1)
}

.page-forgot h1,
.page-signin h1,
.page-signup h1 {
  font-weight: 300;
  color: #fafafa;
  font-size: 54px;
  margin-bottom: 60px
}

.page-forgot h1 a,
.page-signin h1 a,
.page-signup h1 a {
  color: #fafafa
}

.page-forgot .card .card-content,
.page-signin .card .card-content,
.page-signup .card .card-content {
  padding: 30px 20px
}

.page-forgot .ui-input-group .form-control,
.page-signin .ui-input-group .form-control,
.page-signup .ui-input-group .form-control {
  color: #555
}

.page-forgot .form-group,
.page-signin .form-group,
.page-signup .form-group {
  position: relative;
  margin: 0
}

.page-forgot .signin-header,
.page-signin .signin-header,
.page-signup .signin-header {
  margin-top: 50px
}

@media (min-width: 768px) {
  .page-forgot .signin-header,
  .page-signin .signin-header,
  .page-signup .signin-header {
    margin-top: 150px
  }
}

.page-forgot .logo,
.page-signin .logo,
.page-signup .logo {
  font-size: 26px;
  font-weight: 400
}

.page-forgot .logo a:hover,
.page-signin .logo a:hover,
.page-signup .logo a:hover {
  text-decoration: none
}

.page-forgot .wrapper,
.page-signin .wrapper,
.page-signup .wrapper {
  padding: 0 10px
}

.page-forgot .main-body,
.page-signin .main-body,
.page-signup .main-body {
  max-width: 420px;
  margin: 10px auto
}

.page-profile {
  margin: -15px 0 0
}

.page-profile .profile-header {
  position: relative;
  margin: 0 -30px 15px;
  padding: 50px 30px 90px;
  background: url(../images/background.png) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover
}

.page-profile .profile-img {
  display: inline-block;
  margin-right: 20px
}

.page-profile .profile-img img {
  max-width: 120px;
  height: auto;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .5), 0 0 10px rgba(0, 0, 0, .2)
}

.page-profile .profile-social {
  display: inline-block
}

.page-profile .profile-social > a {
  margin-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

.page-profile .profile-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  line-height: 20px;
  padding: 10px 30px;
  color: #fafafa
}

.app,
html {
  position: relative
}

.page-profile .profile-info ul {
  margin: 0
}

.page-profile img.media-object {
  border-radius: 2px
}

.page-invoice .invoice-wrapper {
  padding: 0 0 30px;
  background-color: #fff
}

.invoice-inner {
  padding: 15px 15px 30px;
  background-color: #fff
}

.invoice-inner .invoice-sum li {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 2px
}

.page-icons .icon-material .imd {
  display: block;
  height: 80px;
  font-size: 1.5em;
  line-height: 100px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.app,
html {
  height: 100%
}

.page-icons .icon-material .col-sm-4 {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease
}

.page-icons .icon-material .col-sm-4:hover {
  color: #252833
}

.page-icons .icon-material .col-sm-4:hover .imd {
  font-size: 3em
}

.page-features .feature-list-container .panel-body {
  background-color: #405161;
  padding: 30px 50px
}

.page-features .feature-list-container .col-xs-4 {
  margin-bottom: 50px
}

.page-form-ele .list-checkbox-radio li:nth-child(even) {
  margin-bottom: 20px
}

.page-form-ele .list-checkbox-radio li > div {
  float: left;
  margin-right: 10px
}

.demoslider-container {
  max-width: 600px;
  margin: auto
}

.page-grid .grid-structure .row {
  margin-top: 10px
}

.page-grid .grid-structure .row .widget-container {
  margin-top: 5px;
  background: #eee;
  padding: 10px 15px 12px;
  font-size: 12px;
  min-height: 0;
  border-radius: 2px
}

.app,
.app > .main-container,
html,
body,
.root {
  min-height: 100%;
  height: 100%;
}

.table.table-demo .type-info {
  vertical-align: middle
}

.layout-boxed > .header-container .top-header,
.layout-boxed > .main-container {
  max-width: 1200px;
  margin: 0 auto
}

html {
  background: 0 0
}

.app > .header-container.header-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030
}

.app > .header-container.header-fixed + .main-container {
  padding-top: 100px
}

.app > .main-container {
  position: relative;
  padding-bottom: 20px
}

.app > .main-container:before {
  content: " ";
  line-height: 0;
  z-index: -2;
  position: absolute;
  display: block;
  width: 100%;
  max-width: inherit;
  top: 0;
  bottom: 0;
  background-color: #eaeaea;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, .2)
}

.app > .main-container > .nav-vertical:before {
  left: 0
}

.app > .main-container > .nav-container {
  display: none;
  z-index: 11;
  position: static;
  float: left;
  width: 220px
}

.app > .main-container > .nav-container:before {
  z-index: -1;
  content: " ";
  line-height: 0;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: inherit;
  background-color: inherit;
  border-width: inherit;
  border-style: inherit;
  border-color: inherit
}

.app > .main-container > .nav-container.nav-fixed {
  position: fixed;
  top: 100px;
  bottom: 0;
  float: none
}

.app > .main-container > .content-container {
  overflow: hidden;
  min-height: 100%;
  margin-left: 0
}

@media (min-width: 768px) {
  .app > .header-container.header-fixed + .main-container {
    padding-top: 50px
  }
  .app > .main-container > .nav-container {
    display: block
  }
  .app > .main-container > .nav-container.nav-fixed {
    top: 50px
  }
  .app > .main-container > .content-container {
    margin-left: 220px;
    padding-left: 20px;
  }
}

#nav-container ul {
  padding-left: 0;
  list-style: none
}

#nav-container > .nav-wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

.nav-container .nav {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch
}

.nav-container .nav .nav-title {
  margin: 15px 15px 10px;
  font-size: 12px
}

.nav-container .nav > li.nav-title > a > {
  color: #767676;
}

.nav-container .nav .divider {
  margin: 10px 0;
  border-width: 1px;
  border-style: solid
}

.nav-container .nav > li > a > .nav-icon,
.nav-container .nav > li > a > i {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  vertical-align: top;
  line-height: 18px;
  text-align: center;
  font-size: 17px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}

.nav-container .nav a {
  font-size: 13px;
  transition: all .25s ease-in-out
}

.nav-container .nav a,
.nav-container .nav > li {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out
}

.nav-container .nav a:active,
.nav-container .nav a:focus,
.nav-container .nav a:hover {
  text-decoration: none
}

.nav-container .nav > li {
  position: relative;
  margin: 0;
  text-align: left;
  font-weight: 700;
  transition: all .25s ease-in-out
}

.nav-container .nav > li > a {
  position: relative;
  display: block;
  padding: 15px;
  transition: all .25s ease-in-out
}

.nav-container .nav ul li > a,
.nav-container .nav > li > a {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out
}

.nav-container .nav ul,
.nav-container .nav > li > .icon-has-ul-h {
  display: none
}

.nav-container .nav > li > a .badge {
  position: absolute;
  top: 16px;
  right: 8px
}

.nav-container .nav > li > .icon-has-ul {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 10px;
  line-height: 19px
}

.nav-container .nav ul a {
  font-size: 13px
}

.nav-container .nav ul li {
  position: relative;
  padding: 0
}

.nav-container .nav ul li:last-child > a {
  border-bottom: 0
}

.nav-container .nav ul li > a {
  position: relative;
  display: block;
  padding: 13px 0 13px 25px;
  transition: all .25s ease-in-out
}

.nav-container .nav ul li > a:first-child {
  border-top: none
}

.nav-container .nav ul li > a > i {
  font-size: 9px;
  margin-right: 16px
}

.nav-container .nav ul li > a > .badge {
  position: absolute;
  right: 8px;
  top: 12px
}

@media (max-width: 767px) {
  .on-canvas #header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 12
  }
  .on-canvas #nav-container {
    display: block;
    position: fixed;
    top: 100px;
    bottom: 0;
    float: none
  }
  .on-canvas .main-container {
    overflow: hidden
  }
  .on-canvas .main-container #content {
    margin-left: 220px;
    margin-right: -220px
  }
}

@media (min-width: 768px) {
  .app > .main-container > .nav-container.nav-horizontal {
    z-index: 9;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #d4d4d4
  }
  .app > .main-container > .nav-container.nav-horizontal:before {
    border: 0
  }
  .app > .main-container > .nav-container.nav-horizontal .nav-divider,
  .app > .main-container > .nav-container.nav-horizontal .nav-title {
    display: none
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed {
    border-width: 0 1px 1px 0;
    left: 0;
    right: 0;
    bottom: auto
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav {
    text-align: center
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li {
    display: inline-block;
    float: none
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li.nav-divider,
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li.nav-title {
    display: none
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li > a {
    padding: 15px 28px
  }
  .app > .main-container > .nav-container.nav-horizontal.nav-fixed + .content-container {
    margin: 80px 0 0
  }
  .main-container > .nav-container.nav-horizontal {
    float: none;
    width: auto
  }
  .main-container > .nav-container.nav-horizontal + .content-container {
    margin-left: 0
  }
  .nav-horizontal {
    background-color: #eee
  }
  .nav-horizontal .slimScrollDiv {
    overflow: visible !important;
    height: auto !important
  }
  .nav-horizontal .slimScrollDiv .slimScrollBar,
  .nav-horizontal .slimScrollDiv .slimScrollRail {
    display: none !important
  }
  .nav-horizontal .nav {
    overflow: visible !important
  }
  .nav-horizontal .nav > li {
    position: relative;
    float: left
  }
  .nav-horizontal .nav > li:hover > a {
    background-color: #e1e1e1;
    color: #767676
  }
  .nav-horizontal .nav > li:hover > i {
    color: #767676
  }
  .nav-horizontal .nav > li.active > .icon-has-ul-h,
  .nav-horizontal .nav > li > ul li.active > a,
  .nav-horizontal .nav > li > ul li:hover > a {
    color: #3F51B5
  }
  .nav-horizontal .nav > li.active > a {
    background-color: transparent;
    color: #3F51B5
  }
  .nav-horizontal .nav > li > a {
    padding: 15px 30px;
    text-align: center;
    font-weight: 400
  }
  .nav-horizontal .nav > li > a > i {
    margin: 0;
    font-size: 26px;
    line-height: 1
  }
  .nav-horizontal .nav > li > a span {
    margin: 0;
    display: block;
    font-size: 12px
  }
  .nav-horizontal .nav > li > a .badge {
    top: 15px
  }
  .nav-horizontal .nav > li > .icon-has-ul-h {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 10px;
    font-size: 10px
  }
  .nav-horizontal .nav > li > .icon-has-ul {
    display: none
  }
  .nav-horizontal .nav > li:hover > ul {
    display: block !important
  }
  .nav-horizontal .nav > li > ul {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    width: auto;
    background-color: #e1e1e1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
  }
  .nav-horizontal .nav > li > ul li {
    white-space: nowrap
  }
  .nav-horizontal .nav > li > ul li > a {
    padding: 13px 40px 13px 20px
  }
}

.nav-container.bg-white .nav > li:hover > a,
.nav-container.bg-white .nav > li > a:focus {
  background-color: transparent
}

@media (min-width: 768px) {
  .app.nav-collapsed-min .slimScrollDiv {
    overflow: visible !important;
    height: auto !important
  }
  .app.nav-collapsed-min .slimScrollDiv .slimScrollBar,
  .app.nav-collapsed-min .slimScrollDiv .slimScrollRail {
    display: none !important
  }
  .app.nav-collapsed-min #nav-container {
    width: 60px
  }
  .app.nav-collapsed-min .content-container {
    margin-left: 60px
  }
  .app.nav-collapsed-min #nav,
  .app.nav-collapsed-min #nav-wrapper {
    overflow: visible !important
  }
  .app.nav-collapsed-min #nav > li > a {
    padding: 15px;
    text-align: center
  }
  .app.nav-collapsed-min #nav > li > a > i {
    margin: 0;
    font-size: 22px
  }
  .app.nav-collapsed-min #nav > li .icon-has-ul,
  .app.nav-collapsed-min #nav > li > a > span {
    display: none
  }
  .app.nav-collapsed-min #nav > li > ul {
    z-index: 9;
    position: absolute;
    left: 100%;
    top: 0;
    width: 220px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
  }
  .app.nav-collapsed-min #nav > li.open > ul,
  .app.nav-collapsed-min #nav > li:hover > ul {
    display: block !important
  }
  .app.nav-collapsed-min .nav-horizontal #nav > li > .icon-has-ul-h,
  .app.nav-collapsed-min .nav-title {
    display: none
  }
  .app.nav-collapsed-min .nav-horizontal#nav-container {
    width: auto
  }
  .app.nav-collapsed-min .nav-horizontal + .content-container {
    margin: 0
  }
  .app.nav-collapsed-min .nav-horizontal.nav-fixed + .content-container {
    margin: 50px 0 0
  }
  .app.nav-collapsed-min .nav-horizontal #nav > li > ul {
    left: 0;
    top: 100%
  }
}

.app.nav-collapsed-min .top-header .logo .logo-text,
.header-container > .top-header .hidden-mobile {
  display: none
}

.nav-container:before {
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  width: 2px;
  z-index: 2
}

.nav-container.bg-white:before {
  box-shadow: inset -1px 0 1px rgba(255, 255, 255, .3)
}

.nav-container.bg-white .nav .nav-title,
.nav-container.bg-white .nav a {
  color: #767676
}

.nav-container.bg-white .nav ul > li.active > a,
.nav-container.bg-white .nav ul > li:hover > a,
.nav-container.bg-white .nav > li.active > .icon-has-ul,
.nav-container.bg-white .nav > li.active > a,
.nav-container.bg-white .nav > li:hover > .icon-has-ul,
.nav-container.bg-white .nav > li:hover > .icon-has-ul-h,
.nav-container.bg-white .nav > li:hover > a,
.nav-container.bg-white.nav-vertical .nav > li.open > .icon-has-ul,
.nav-container.bg-white.nav-vertical .nav > li.open > .icon-has-ul-h {
  color: #3F51B5
}

.nav-container.bg-white .nav .divider {
  border-color: #eee
}

.nav-container.bg-white .nav ul {
  background-color: #f6f6f6
}

.nav-container.bg-white.nav-vertical .nav > li.open > a {
  background-color: #f6f6f6;
  color: #3F51B5
}

.nav-container.bg-dark {
  background-color: #252833
}

.nav-container.bg-dark .nav > li:hover > a,
.nav-container.bg-dark .nav > li > a:focus {
  background-color: transparent
}

.nav-container.bg-dark:before {
  box-shadow: inset -1px 0 1px rgba(0, 0, 0, .3)
}

.nav-container.bg-dark .nav a {
  color: #ccc;
  color: rgba(255, 255, 255, .5)
}

.nav-container.bg-dark .nav .nav-title {
  color: #666
}

.nav-container.bg-dark .nav ul > li.active > a,
.nav-container.bg-dark .nav ul > li:hover > a,
.nav-container.bg-dark .nav > li.active > .icon-has-ul,
.nav-container.bg-dark .nav > li.active > a,
.nav-container.bg-dark .nav > li:hover > .icon-has-ul,
.nav-container.bg-dark .nav > li:hover > .icon-has-ul-h,
.nav-container.bg-dark .nav > li:hover > a,
.nav-container.bg-dark.nav-vertical .nav > li.open > .icon-has-ul,
.nav-container.bg-dark.nav-vertical .nav > li.open > .icon-has-ul-h {
  color: rgba(255, 255, 255, .8)
}

.nav-container.bg-dark .nav .divider {
  border-color: #1a1c24
}

.nav-container.bg-dark .nav ul {
  background-color: #1f212a
}

.nav-container.bg-dark.nav-vertical .nav > li.open > a {
  background-color: #1f212a;
  color: rgba(255, 255, 255, .8)
}

@media (max-width: 767px) {
  .nav-horizontal .nav > li.open > a,
  .nav-horizontal .nav > li.open > i {
    color: #3F51B5
  }
}

@media (min-width: 768px) {
  .app.nav-collapsed-min .top-header .logo {
    width: 60px
  }
}

.app.nav-collapsed-min .top-header .top-nav {
  padding: 0 0 0 60px
}

.header-container {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
}

.header-container > .top-header a {
  color: #aaa
}

.header-container > .top-header a:hover {
  text-decoration: none
}

.header-container > .top-header .dropdown-menu a {
  color: #767676
}

@media (min-width: 480px) {
  .header-container > .top-header .hidden-mobile {
    display: inline
  }
}

.header-container > .top-header .logo {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center
}

@media (min-width: 768px) {
  .header-container > .top-header .logo {
    display: inline-block;
    width: 220px;
    border-right: 1px solid rgba(255, 255, 255, .06)
  }
}

.header-container > .top-header .logo .logo-icon {
  font-size: 20px
}

.header-container > .top-header .logo > a {
  font-size: 24px;
  vertical-align: middle
}

.header-container > .top-header .menu-button {
  display: block;
  position: absolute;
  top: 8px;
  right: 20px;
  width: 46px;
  padding: 10px 12px;
  border-radius: 4px
}

.header-container > .top-header .menu-button:hover {
  cursor: pointer;
  background-color: #32408f
}

.header-container > .top-header .menu-button .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff
}

.header-container > .top-header .menu-button .icon-bar + .icon-bar {
  margin-top: 4px
}

@media (min-width: 768px) {
  .header-container > .top-header .menu-button {
    display: none
  }
}

.header-container > .top-header .admin-options {
  z-index: 20;
  line-height: 20px
}

.header-container > .top-header .skin-options .panel-body {
  min-width: 330px;
  background-color: #f9f9f9
}

.header-container > .top-header .dropdown-menu.panel {
  padding: 0;
  white-space: nowrap
}

.header-container > .top-header .dropdown-menu.panel .list-group-item,
.header-container > .top-header .dropdown-menu.panel .panel-footer,
.header-container > .top-header .dropdown-menu.panel .panel-heading {
  padding: 10px 15px
}

.header-container > .top-header .dropdown-menu.panel .list-group-item > a {
  display: block
}

.header-container > .top-header .dropdown-menu.panel .media .media-body {
  padding-right: 75px
}

.header-container > .top-header .top-nav {
  width: 100%;
  height: 50px;
  padding: 50px 0 0
}

@media (min-width: 768px) {
  .header-container > .top-header .top-nav {
    padding: 0 0 0 220px
  }
}

.header-container > .top-header .top-nav > ul {
  margin-bottom: 0
}

.header-container > .top-header .top-nav .nav-left,
.header-container > .top-header .top-nav .nav-right {
  font-size: 16px;
  line-height: 20px
}

.header-container > .top-header .top-nav .nav-left > li,
.header-container > .top-header .top-nav .nav-right > li {
  float: left
}

.header-container > .top-header .top-nav .nav-left > li.nav-profile > a,
.header-container > .top-header .top-nav .nav-right > li.nav-profile > a {
  padding: 10px 15px
}

.header-container > .top-header .top-nav .nav-left > li.nav-profile .hidden-xs,
.header-container > .top-header .top-nav .nav-right > li.nav-profile .hidden-xs {
  padding-right: 8px
}

.header-container > .top-header .top-nav .nav-left > li.nav-profile i,
.header-container > .top-header .top-nav .nav-right > li.nav-profile i {
  width: 18px;
  font-size: 18px;
  margin-right: 5px;
  line-height: 20px
}

.header-container > .top-header .top-nav .nav-left > li > .toggle-min,
.header-container > .top-header .top-nav .nav-right > li > .toggle-min {
  display: none
}

.header-container > .top-header .top-nav .nav-left > li a:focus,
.header-container > .top-header .top-nav .nav-left > li a:hover,
.header-container > .top-header .top-nav .nav-right > li a:focus,
.header-container > .top-header .top-nav .nav-right > li a:hover {
  text-decoration: none
}

.header-container > .top-header .top-nav .nav-left > li > .btn-group > a,
.header-container > .top-header .top-nav .nav-left > li > a,
.header-container > .top-header .top-nav .nav-right > li > .btn-group > a,
.header-container > .top-header .top-nav .nav-right > li > a {
  position: relative;
  display: block;
  height: 50px;
  padding: 15px 16px
}

.header-container > .top-header .top-nav .nav-left > li > .btn-group > a > i,
.header-container > .top-header .top-nav .nav-left > li > a > i,
.header-container > .top-header .top-nav .nav-right > li > .btn-group > a > i,
.header-container > .top-header .top-nav .nav-right > li > a > i {
  font-size: 18px
}

.header-container > .top-header .top-nav .nav-left > li > .btn-group > a .badge,
.header-container > .top-header .top-nav .nav-left > li > a .badge,
.header-container > .top-header .top-nav .nav-right > li > .btn-group > a .badge,
.header-container > .top-header .top-nav .nav-right > li > a .badge {
  position: absolute;
  top: 6px;
  right: 3px
}

@media (min-width: 768px) {
  .header-container > .top-header .top-nav .nav-left > li > .toggle-min,
  .header-container > .top-header .top-nav .nav-right > li > .toggle-min {
    display: block
  }
  .header-container > .top-header .top-nav .nav-left > li > .btn-group > a,
  .header-container > .top-header .top-nav .nav-left > li > a,
  .header-container > .top-header .top-nav .nav-right > li > .btn-group > a,
  .header-container > .top-header .top-nav .nav-right > li > a {
    padding: 15px 18px
  }
  .header-container > .top-header .top-nav .nav-left > li > .btn-group > a .badge,
  .header-container > .top-header .top-nav .nav-left > li > a .badge,
  .header-container > .top-header .top-nav .nav-right > li > .btn-group > a .badge,
  .header-container > .top-header .top-nav .nav-right > li > a .badge {
    background-color: transparent;
    color: #aaa
  }
}

.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu a:hover,
.header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu a:hover {
  background-color: #3F51B5;
  color: #fff
}

.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu .glyphicon,
.header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu .glyphicon {
  margin-right: 10px
}

.header-container > .top-header .top-nav .search-box {
  max-width: 180px;
  padding: 6px 0
}

.header-container > .top-header .top-nav .search-box i {
  font-size: 18px;
  line-height: 20px
}

.header-container > .top-header .top-nav .search-box .input-group-addon {
  padding: 6px 0 6px 12px;
  border: none;
  background-color: transparent
}

.header-container > .top-header .top-nav .search-box .form-control {
  border: none;
  background: 0 0
}

.header-container > .top-header .top-nav .search-box .input-bar {
  position: absolute;
  display: block;
  width: 90%;
  bottom: 0;
  left: 5%
}

.header-container > .top-header .top-nav .search-box .input-bar:after,
.header-container > .top-header .top-nav .search-box .input-bar:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  -webkit-transition: all .35s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: all .35s cubic-bezier(.4, 0, .2, 1);
  transition: all .35s cubic-bezier(.4, 0, .2, 1)
}

.header-container > .top-header .top-nav .search-box .input-bar:before {
  left: 50%
}

.header-container > .top-header .top-nav .search-box .input-bar:after {
  right: 50%
}

.header-container > .top-header .top-nav .search-box input:focus ~ .input-bar:after,
.header-container > .top-header .top-nav .search-box input:focus ~ .input-bar:before {
  width: 50%
}

.header-container > .top-header .top-nav .nav-left {
  float: left;
  padding: 0
}

.header-container > .top-header .top-nav .nav-right {
  padding: 0
}

.header-container > .top-header .top-nav .nav-right > li > a {
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .06)
}

.header-container > .top-header .top-nav .nav-right > li:last-child .dropdown-menu.pull-right {
  right: 10px
}

.header-container > .top-header .langs .active-flag .flag {
  margin-top: -5px
}

.header-container > .top-header .langs .list-langs a {
  position: relative;
  padding: 8px 20px 8px 57px
}

.header-container > .top-header .langs .list-langs a .flag {
  position: absolute;
  top: 2px;
  left: 15px
}

.skin-check,
.skin-check input[type=radio] + span {
  position: relative
}

.skin-check {
  display: block
}

.skin-check input[type=radio] {
  display: none
}

.skin-check input[type=radio] + span:hover {
  cursor: pointer
}

.skin-check input[type=radio] + span > .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  text-align: center;
  line-height: 30px;
  color: #fff
}

.skin-check input[type=radio]:checked + span > .overlay,
.skin-item {
  display: block
}

.skin-item {
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  margin-bottom: 15px
}

.skin-item > span {
  display: block;
  float: left;
  width: 50%;
  height: 20px
}

.body-wide #header,
.body-wide #nav-container,
.body-wide .introjs-helperLayer,
.body-wide .introjs-overlay {
  display: none
}

.skin-item .item-header {
  height: 10px
}

.header-container .dropdown,
.header-container .dropdown a,
.header-container .dropdown a:hover,
.header-container.bg-warning,
.header-container.bg-warning .input-group-addon,
.header-container.bg-warning .input-group-addon:hover,
.header-container.bg-warning a,
.header-container.bg-warning a:hover,
.header-container.bg-white,
.header-container.bg-white .input-group-addon,
.header-container.bg-white .input-group-addon:hover,
.header-container.bg-white a,
.header-container.bg-white a:hover {
  color: #767676
}

.header-container.bg-danger,
.header-container.bg-danger a,
.header-container.bg-danger a:hover,
.header-container.bg-dark,
.header-container.bg-dark .input-group-addon,
.header-container.bg-dark .input-group-addon:hover,
.header-container.bg-dark .search-box .form-control,
.header-container.bg-dark a,
.header-container.bg-dark a:hover,
.header-container.bg-info,
.header-container.bg-info a,
.header-container.bg-info a:hover,
.header-container.bg-info-alt,
.header-container.bg-info-alt a,
.header-container.bg-info-alt a:hover,
.header-container.bg-primary,
.header-container.bg-primary a,
.header-container.bg-primary a:hover,
.header-container.bg-success,
.header-container.bg-success a,
.header-container.bg-success a:hover {
  color: #fafafa
}

.header-container.bg-warning .search-box .input-bar:after,
.header-container.bg-warning .search-box .input-bar:before,
.header-container.bg-white .search-box .input-bar:after,
.header-container.bg-white .search-box .input-bar:before {
  background: #767676
}

.header-container.bg-danger .search-box .input-bar:after,
.header-container.bg-danger .search-box .input-bar:before,
.header-container.bg-dark .search-box .input-bar:after,
.header-container.bg-dark .search-box .input-bar:before,
.header-container.bg-info .search-box .input-bar:after,
.header-container.bg-info .search-box .input-bar:before,
.header-container.bg-info-alt .search-box .input-bar:after,
.header-container.bg-info-alt .search-box .input-bar:before,
.header-container.bg-primary .search-box .input-bar:after,
.header-container.bg-primary .search-box .input-bar:before,
.header-container.bg-success .search-box .input-bar:after,
.header-container.bg-success .search-box .input-bar:before {
  background: #fafafa
}

.header-container.bg-danger .input-group-addon,
.header-container.bg-info .input-group-addon,
.header-container.bg-info-alt .input-group-addon,
.header-container.bg-primary .input-group-addon,
.header-container.bg-success .input-group-addon {
  color: #eee
}

.header-container.bg-danger::-webkit-input-placeholder,
.header-container.bg-info::-webkit-input-placeholder,
.header-container.bg-info-alt::-webkit-input-placeholder,
.header-container.bg-primary::-webkit-input-placeholder,
.header-container.bg-success::-webkit-input-placeholder {
  color: #eaeaea
}

.header-container.bg-danger:-moz-placeholder,
.header-container.bg-info:-moz-placeholder,
.header-container.bg-info-alt:-moz-placeholder,
.header-container.bg-primary:-moz-placeholder,
.header-container.bg-success:-moz-placeholder {
  color: #eaeaea
}

.header-container.bg-danger::-moz-placeholder,
.header-container.bg-info::-moz-placeholder,
.header-container.bg-info-alt::-moz-placeholder,
.header-container.bg-primary::-moz-placeholder,
.header-container.bg-success::-moz-placeholder {
  color: #eaeaea
}

.header-container.bg-danger:-ms-input-placeholder,
.header-container.bg-info:-ms-input-placeholder,
.header-container.bg-info-alt:-ms-input-placeholder,
.header-container.bg-primary:-ms-input-placeholder,
.header-container.bg-success:-ms-input-placeholder {
  color: #eaeaea
}

.header-container.bg-danger .top-nav .nav-left > li > a .badge,
.header-container.bg-info .top-nav .nav-left > li > a .badge,
.header-container.bg-info-alt .top-nav .nav-left > li > a .badge,
.header-container.bg-primary .top-nav .nav-left > li > a .badge,
.header-container.bg-success .top-nav .nav-left > li > a .badge {
  color: #eaeaea
}

.header-container.bg-danger .search-box .form-control,
.header-container.bg-info .search-box .form-control,
.header-container.bg-info-alt .search-box .form-control,
.header-container.bg-primary .search-box .form-control,
.header-container.bg-success .search-box .form-control {
  color: #fafafa
}

.header-container > .top-header .logo {
  border: 1px solid rgba(0, 0, 0, .1)
}

@media (min-width: 768px) {
  .header-container > .top-header .logo {
    border: 0
  }
}

.header-container > .top-header .logo.bg-warning,
.header-container > .top-header .logo.bg-warning a,
.header-container > .top-header .logo.bg-warning a:hover,
.header-container > .top-header .logo.bg-white,
.header-container > .top-header .logo.bg-white a,
.header-container > .top-header .logo.bg-white a:hover {
  color: #252833
}

.header-container > .top-header .logo.bg-warning + .menu-button .icon-bar,
.header-container > .top-header .logo.bg-white + .menu-button .icon-bar {
  background-color: #767676
}

.header-container > .top-header .logo.bg-warning + .menu-button:hover .icon-bar,
.header-container > .top-header .logo.bg-white + .menu-button:hover .icon-bar {
  background-color: #fff
}

.header-container > .top-header .logo.bg-danger,
.header-container > .top-header .logo.bg-danger a,
.header-container > .top-header .logo.bg-danger a:hover,
.header-container > .top-header .logo.bg-dark,
.header-container > .top-header .logo.bg-dark a,
.header-container > .top-header .logo.bg-dark a:hover,
.header-container > .top-header .logo.bg-info,
.header-container > .top-header .logo.bg-info a,
.header-container > .top-header .logo.bg-info a:hover,
.header-container > .top-header .logo.bg-info-alt,
.header-container > .top-header .logo.bg-info-alt a,
.header-container > .top-header .logo.bg-info-alt a:hover,
.header-container > .top-header .logo.bg-primary,
.header-container > .top-header .logo.bg-primary a,
.header-container > .top-header .logo.bg-primary a:hover,
.header-container > .top-header .logo.bg-success,
.header-container > .top-header .logo.bg-success a,
.header-container > .top-header .logo.bg-success a:hover {
  color: #fafafa
}

body {
  background: #eaeaea
}

.body-wide > .main-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0
}

.body-wide #content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-bottom: 0
}
