<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Төслийн Салбар</h2>
  </div>
  <div class="clearfix">
    <div class="col-md-8">
      <section class="panel panel-default table-dynamic">
        <div class="panel-body" style="padding: 0px;">
          <div class="table-responsive">
            <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="vm.isTableLoading"
                   spinner="md" opacity=".5" color="#fff">
              <thead>
              <tr>
                <th></th>
                <th style="padding: 15px;">№</th>
                <th style="padding: 15px;">Нэр</th>
                <th style="padding: 15px;">Англи нэр</th>
              </tr>
              </thead>
              <tbody dnd-list="vm.items">
              <tr ng-repeat="item in vm.items"
                  dnd-draggable="item"
                  dnd-moved="vm.items.splice($index, 1)"
                  dnd-selected="vm.selected = item"
                  dnd-dragend="vm.dragEnd()"
                  ng-class="vm.selected.id === item.id ? 'dbmSelected' : ''"
                  ng-click="vm.edit(item)">
                <td width="10px" style="cursor: move">:::</td>
                <td>{{$index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.name_en}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="panel panel-default">
        <div class="panel-body padding-xl">
          <div class="row">
            <div class="col-md-12">
              <form name="itemForm" class="form-horizontal form-validation" role="form" ng-submit="vm.submit()">
                <input type="hidden" ng-model="vm.item.id" class="form-control">
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label">Нэр</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="vm.item.name" class="form-control" id="inputTitle"
                           placeholder="Нэр" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Англи нэр</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="vm.item.name_en" class="form-control" placeholder="Англи нэр"
                           required="">
                  </div>
                </div>

                <div class="divider divider-dashed divider-md pull-in"></div>

                <div class="button-wrapper row">
                  <div class="col-sm-12">
                    <button type="button" ng-show="vm.item.id" class="btn btn-danger btn-w-md pull-right no-transition"
                            style="margin-left: 10px; margin-bottom: 10px;" ng-click="vm.remove()">Устгах
                    </button>
                    <button type="button" class="btn btn-default btn-w-md pull-right no-transition" type="button"
                            ng-click="vm.clear()" style="margin-left: 10px; margin-bottom: 10px;"
                            ng-disabled="canClear()">
                      Цэвэрлэх
                    </button>
                    <input value="{{vm.item.id ? 'Хадгалах':'Оруулах'}}" type="submit"
                           class="btn btn-primary btn-w-md pull-right no-transition"
                           style="margin-bottom: 10px;" ng-disabled="itemForm.$invalid"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
