<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="projectForm" class="form-horizontal form-validation projectForm" role="form" novalidate="">
          <div class="row">
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Төслийн зураг</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" ng-model="vm.project.image" class="form-control" required="">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
              <label class="col-sm-2 control-label">Зураг</label>
              <div class="col-sm-10">
                <!--<input type="text" ng-model="vm.item.image" class="form-control" placeholder="Зураг" required="">-->
                <ng-upload-image upload-done="vm.uploadDone" scope="vm"></ng-upload-image>
              </div>
            </div>
            <div class="form-group" ng-show="vm.project.image">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <div class="thumbnail fancybox" rel="ligthbox">
                  <img class="img-responsive" alt="" src="{{vm.project.image}}"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Салбар</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="vm.project.branch_id">
                  <option value="">Салбар сонгох</option>
                  <option ng-repeat="item in vm.sectors" ng-value="item.id">
                    {{item.name}} ({{item.name_en}})
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Бүс нутаг</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="vm.project.region_id">
                  <option value="">Бүс нутаг</option>
                  <option ng-repeat="item in vm.regions" ng-value="item.id">
                    {{item.name}} ({{item.name_en}})
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Эх үүсвэр</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="vm.project.source_id">
                  <option value="">Эх үүсвэр сонгох</option>
                  <option ng-repeat="item in vm.fundings" ng-value="item.id">
                    {{item.name}} ({{item.name_en}})
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Гүйцэтгэлийн хувь</label>
              <div class="col-sm-10">
                <md-slider-container>
                  <md-slider flex min="0" max="100" ng-model="vm.project.performance" aria-label="red" id="red-slider"
                             class="md-primary">
                  </md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="vm.project.performance" aria-label="red"
                           aria-controls="red-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="divider divider-dashed divider-md pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Монгол</label>
                <div class="col-sm-10">
                  <md-switch class="md-primary" ng-model="vm.project.mn" aria-label="Switch 1"></md-switch>
                </div>
              </div>
              <div class="col-sm-12" ng-show="vm.project.mn">
                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төслийн нэр</label>
                    <div class="">
                      <input type="text" ng-model="vm.project.name" class="form-control" required="">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Хөтөлбөр</label>
                    <textarea ng-model="vm.project.program" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зээлийн хэлбэр</label>
                    <input type="text" ng-model="vm.project.loan_type" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зээлдэгчийн нэр</label>
                    <input type="text" ng-model="vm.project.borrower" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төсөл хэрэгжүүлэгчийн нэр</label>
                    <input type="text" ng-model="vm.project.implementer" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зорилго</label>
                    <textarea ng-model="vm.project.objective" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Санхүүжүүлсэн дүн</label>
                        <input type="text" ng-model="vm.project.sankhuu_amount" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Гэрээний дүн</label>
                        <input type="text" ng-model="vm.project.geree_amount" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Тогтоолын дүн</label>
                        <input type="text" ng-model="vm.project.togtool_amount" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Эдийн засгийн үр ашиг</label>
                    <textarea ng-model="vm.project.economic" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Нийгмийн үр ашиг</label>
                    <textarea ng-model="vm.project.social" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Товч мэдээлэл</label>
                    <textarea ng-model="vm.project.introduction" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-sm-6">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Хөтөлбөр эхлэх огноо</label>
                        <input type="text" ng-model="vm.project.start_date" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Хөтөлбөр дуусах огноо</label>
                        <input type="text" ng-model="vm.project.end_date" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төслийн ач холбогдол</label>
                    <textarea ng-model="vm.project.interpretation" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Хүчин чадал</label>
                    <textarea ng-model="vm.project.duty" class="form-control" required=""></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="divider divider-dashed divider-md pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Англи</label>
                <div class="col-sm-10">
                  <md-switch class="md-primary" ng-model="vm.project.en" aria-label="Switch 1"></md-switch>
                </div>
              </div>
              <div class="col-sm-12" ng-show="vm.project.en">
                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төслийн нэр (Англи)</label>
                    <input type="text" ng-model="vm.project.name_en" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Хөтөлбөр (Англи)</label>
                    <textarea ng-model="vm.project.program_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зээлийн хэлбэр (Англи)</label>
                    <input type="text" ng-model="vm.project.loan_type_en" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зээлдэгчийн нэр (Англи)</label>
                    <input type="text" ng-model="vm.project.borrower_en" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төсөл хэрэгжүүлэгчийн нэр (Англи)</label>
                    <input type="text" ng-model="vm.project.implementer_en" class="form-control" required="">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Зорилго (Англи)</label>
                    <textarea ng-model="vm.project.objective_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Санхүүжүүлсэн дүн (Англи)</label>
                        <input type="text" ng-model="vm.project.sankhuu_amount_en" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Гэрээний дүн (Англи)</label>
                        <input type="text" ng-model="vm.project.geree_amount_en" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Тогтоолын дүн (Англи)</label>
                        <input type="text" ng-model="vm.project.togtool_amount_en" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Эдийн засгийн үр ашиг (Англи)</label>
                    <textarea ng-model="vm.project.economic_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Нийгмийн үр ашиг (Англи)</label>
                    <textarea ng-model="vm.project.social_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Товч мэдээлэл (Англи)</label>
                    <textarea ng-model="vm.project.introduction_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col-sm-6">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Хөтөлбөр эхлэх огноо (Англи)</label>
                        <input type="text" ng-model="vm.project.start_date_en" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-box">
                      <div class="form-group">
                        <label class="control-label">Хөтөлбөр дуусах огноо (Англи)</label>
                        <input type="text" ng-model="vm.project.end_date_en" class="form-control" required="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Төслийн ач холбогдол (Англи)</label>
                    <textarea ng-model="vm.project.interpretation_en" class="form-control" required=""></textarea>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group">
                    <label class="control-label">Хүчин чадал (Англи)</label>
                    <textarea ng-model="vm.project.duty_en" class="form-control" required=""></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.project.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave
                      ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()"
                      ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.project.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                      ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()"
                      ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
