.n07v4-info-title {
    margin-right: 10px;
}

.dbmNewsList {
    opacity: 1;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.dbmNewsList.showLoading {
    opacity: 0;
}

.dbmItemSearch {}
.dbmItemSearch button {
    border: 0;
    padding: 0;
}