<section class="panel panel-default table-dynamic">
  <div class="table-filters">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <form>
          <input type="text" placeholder="Хайх..." class="form-control" ng-model="vm.search" ng-change="vm.doSearch()">
        </form>
      </div>
      <div class="col-sm-3 col-xs-6 filter-result-info">
        <span>Нийт олдсон {{vm.total}}</span>
      </div>
      <div class="col-sm-5 col-xs-12">
        <br class="visible-xs">
        <button ui-sref="root.content.report.new"
                class="btn btn-raised btn-success btn-w-lg pull-right p-side-15" ui-wave>Тайлан нэмэх
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body" style="padding: 0px;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="isTableLoading"
             spinner="md" opacity=".5" color="#fff">
        <thead>
        <tr>
          <th style="padding: 15px;">№</th>
          <th style="padding: 15px;">Тайлан</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.listData | filter: search">
          <td>{{$index + 1}}</td>
          <td>
            <a ui-sref="root.content.report.edit({id: item.id})">{{!item.name ? item.name_en : item.name}}</a>
            <code ng-if="item.mn">MN</code>
            <code ng-if="item.en">EN</code>
            <code ng-if="item.type === 'audit'">Аудитлагдсан тайлан</code>
            <code ng-if="item.type === 'year'">Жилийн тайлан</code>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right" style="padding-right: 15px;">
      <paginate page-count="vm.pageCount" page-total="vm.total" ng-model="vm.page" ng-change="vm.load()"></paginate>
    </div>
  </div>
</section>


