<section class="panel panel-default table-dynamic">
  <div class="table-filters">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <form>
          <input type="text" placeholder="Хайх..." class="form-control" ng-model="search">
        </form>
      </div>
      <div class="col-sm-3 col-xs-6 filter-result-info">
        <span>Нийт олдсон {{vm.count}}</span>
      </div>
      <div class="col-sm-5 col-xs-12">
        <br class="visible-xs">
        <button ui-sref="root.content.slide.new"
                class="btn btn-raised btn-success btn-w-lg pull-right p-side-15" ui-wave>Онцлох нэмэх
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding: 0px;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="isTableLoading"
             spinner="md" opacity=".5" color="#fff">
        <thead>
        <tr>
          <th style="padding: 15px;">№</th>
          <th style="padding: 15px;">Нэр</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.listData | filter: search">
          <td>{{$index + 1}}</td>
          <td><a ui-sref="root.content.slide.edit({id: item.id})">{{!item.name ? item.name_en : item.name}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right" style="padding-right: 15px;">
      <paginate page-count="pageCount" page-total="total" ng-model="page" ng-change="reload()"></paginate>
    </div>
  </div>
</section>


