.main-banner {
  h5 {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .banner-item {
    .banner-img {
      overflow: hidden;
      img {
        height: 400px;
        width: 100%;
        background-size: 100%;
        background-position: center;
      }
    }
  }
}

.section-news {
  .card {
    h3 {
      text-transform: uppercase;
      font-size: 1em;
      display: flex;
      flex-direction: row;

      .news-title {
        height: 64px;
        overflow: hidden;
      }

      .date-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 60px;
        margin-right: 1em;
        border-right: 1px solid var(--dark);
        .year {
          width: 60px;
        }
        .day {
          width: 60px;
          font-size: 1.8em;
        }
        .month {
          width: 60px;
          font-size: 0.8em;
        }
      }
    }
  }
}

.partner-logos {
  .logo-item {
    display: block;
    flex: 0 1 auto;
    img {
      height: 100px;
    }
  }

  .swiper-container {
    padding-bottom: 40px;
  }

  .swiper-pagination {
    bottom: 7px;
  }
}
