@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .navbar ul.nav li a{
      /*margin: 15px 6px 0px 6px;*/
  } 
  .navbar ul.nav li a:hover{
      /*margin: 15px 6px 0px 6px;*/
  } 
  .navbar ul.nav li a.active{
      /*margin: 15px 6px 0px 6px;*/ 
  } 
  .main-search input[type=search] {
   width:120px!important;
     color: #000;
    padding: 10px 35px 4px 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  }
  
 .main-search input[type=search]:focus {
  width:160px !important;
  padding: 10px 35px 9px 10px;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
  /* placeholder */
input:-moz-placeholder {
  color: #000;
}
input:-webkit-input-placeholder {
  color: #000;
} 
input:-ms-placeholder {
  color:#000;
}
a {
  color: #720d20bf;
  text-decoration: none;
}
a:hover,a:focus{
  color: #720d20bf;
  border-bottom: 1px solid #720d20bf;
  text-decoration: none;
} 
/*====== Research Dropdown start======*/

.f02v4-search {
    margin:0px 0px 0px 0px;
    position:relative;
    width:100%;
}
.f02v4-submit-icon {
      position: relative;
      text-decoration: none;
      z-index:100;
      float: right;
      margin: 15px 0px 0px 8px;
  }
.f02v4-research-pulldown{
  width:85%;
  margin: 15px 0px 15px 0px;
  padding: 7px;
  float: left;
  text-align: left;
  line-height: 15px;
  height:37px;
   -webkit-border-radius:0px;
    -moz-border-radius:0px;
    background:url("../img/search-arrow-b-1.png") no-repeat right;
}
.serch-term .f02v4-submit-icon{
  top: -15px;
}
/*====== Research Dropdown start======*/

}
@media (min-width : 320px) and (max-width : 991px){
  .navbar ul.nav li a{
      margin: 10px 1px 0px 2px;
  } 
  .navbar ul.nav li a:hover{
      margin: 10px 1px 0px 2px;
  } 
  .navbar ul.nav li a.active{
      margin: 10px 1px 0px 2px;
  } 
}