.dbm-icon {
    background-image: url(/assets/images/sprite_1x_.png);
    background-size: 400px 174px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.a-icon-close {
    width: 20px;
    height: 20px;
    background-position: -340px -26px;
    opacity: .64;
}