
/* @FONT-FACE loads font into browser */

/*==== begin Tab Style =====*/

.scroll_tab_first {
  padding-left: 0 !important;
}

.scroll_tab_last {
  padding-right: 0 !important;
}

.scroll_tabs_container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  height: 33px;
  border-bottom: 0 solid #dedede !important;
}

ul.scroll_tabs_container {
  list-style: none;
}

.scroll_tabs_container div.scroll_tab_inner {
  height: 30px;
  border-bottom: 1px solid #dedede;
}

.scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 18px;
  font-size: 13px;
  background-color: #ffffff;
  color: #46439fbf;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.scroll_tabs_container div.scroll_tab_inner>li>a {
  color: #333;
  padding: 0 0 8px 0;
}

.scroll_tabs_container div.scroll_tab_inner>li>a:hover, .scroll_tabs_container div.scroll_tab_inner>li>a:focus {
  border-bottom: 3px solid #0e2240;
  padding: 0 0 8px 0;
}

.scroll_tabs_container div.scroll_tab_inner>li.active>a, .scroll_tabs_container div.scroll_tab_inner>li.active>a:hover, .scroll_tabs_container div.scroll_tab_inner>li.active>a:focus {
  color: #333;
  border-bottom: 3px solid #0e2240;
  padding: 0 0 8px 0;
}

.scroll_tabs_container div.scroll_tab_inner li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  list-style-type: none;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_left_finisher {
  padding: 0;
  width: 0;
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_right_finisher {
  padding: 0;
  width: 0;
}

.scroll_tabs_container .scroll_tab_left_button {
  height: 33px;
  left: -3px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll_tabs_container .scroll_tab_left_button, .scroll_tabs_container .scroll_tab_right_button {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  text-decoration: inherit;
  font-size: 12px;
  color: #000;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  top: -3px !important;
}

.scroll_tabs_container .scroll_tab_left_button::before {
  content: "\f053";
  line-height: 33px;
  padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_left_button_disabled {
  color: #AAAAAA;
}

.scroll_tabs_container .scroll_tab_right_button {
  height: 33px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll_tabs_container .scroll_tab_right_button::before {
  content: "\f054";
  line-height: 33px;
  padding-left: 5px;
}

.scroll_tabs_container .scroll_tab_right_button_disabled {
  color: #AAAAAA;
}

.c17v4-text .wrapper {
  height: 33px;
}

.posleft0 {
  left: 0 !important;
}

.scroll_arrow_disabled {
  display: none !important;
  width: 0!important;
}


/*==== end Tab Style =====*/

.nav-tabs>li {
  width: 33.333333%;
  text-align: center;
}

.nav-tabs>li>a {
  border: none;
  position: relative;
  display: block;
  padding: 6px 5px;
  text-transform: uppercase;
  font-size: 11px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
  background: #ededed;
  border-radius: 0;
}

.nav-tabs>li>a:hover, .nav>li>a:hover, .nav>li>a:focus {
  border: none;
  background: #ededed;
}

.logo {
  position: relative;
}

.nav-wrap {
    position: relative;
}

header .home-page-header-lang {
  /*position: absolute;*/
  /*top: 16px;*/
  /*z-index: 10;*/
}

header .home-page-header-lang .news-navigation, .lang-switch-inverse-wrapper span {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 13px;
}

h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

#main-nav {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 100%;
}
#main-nav ul,
#main-nav li{
  list-style: none;
}

#main-nav>li.menu-item {
  display: inline-block;
  position: relative;
}

#main-nav>li.menu-item > a {
  position: relative;
  color: #46439f;
  font-size: 14px;
  display: block;
  float: left;
  outline: 0;
  padding: 6px 15px 4px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: 'PT Sans Narrow', sans-serif;
  min-width: 65px;
  text-align: center;
}

#main-nav>li.menu-item > a:hover {
  color: #333;
}

#magic-line {
  position: absolute !important;
  top: -2px;
  left: 0;
  z-index: 99;
  width: 100px;
  height: 2px;
  background: #46439f;
  ;
}

#main-nav>li .mega-container ul li{
  display: block;
  float: none;
}

#main-nav>li .mega-container ul li a{
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-weight: 600;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}
.group {
  position: relative;
}

.mega-container {
  display: none
}

.group li:hover .mega-container {
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  background: #FFF;
  min-width: 300px;
  z-index: 100;
  padding-bottom: 10px;
  border-bottom: solid 3px #46439fbf;
  padding-top: 15px;
  /*-moz-box-shadow: inset 0 0 2px #ddd;*/
  /*-webkit-box-shadow: inset 0 0 2px #ddd;*/
  /*box-shadow: inset 0 0 2px #ddd;*/
}

.mega-container ul.mc-cols {
  width: 50%;
  float: left;
}

.mega-container ul .title{
  padding-left: 15px;
  font-size: 12px;
  color: #46439f;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.mega-container li a {
  color: inherit;
}

.mega-container li a {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-weight: 600;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
}

.mega-container li a:hover {
  color: #46439fbf;
  text-decoration: underline;
}

.mega-container li {
  float: left;
  padding-right: 20px;
}

.counter-divider {
  background-image: url("./img/divider1.jpg");
  height: 100%;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-divider .counter {
  line-height: 175px;
  font-family: "arial";
  font-size: 120px;
  color: #FFF;
  font-weight: bold;
}

.counter-divider .container .col-lg-6 p {
  font-size: 30px;
  font-family: 'PT Sans narrow';
  text-transform: uppercase;
  color: #fdfdfd;
  position: relative;
  line-height: 40px;
  top: 45px;
  padding: 15px 10px;
  text-align: center;
}

.counter-divider .container .col-lg-6 {
  text-align: center;
}

.fixed-menu-button {
  position: fixed;
  top: 35%;
  right: 5px;
  line-height: 18px;
  padding: 10px;
  z-index: 9999999999;
  border: solid 2px #46439fbf;
  background: #fff;
  border-radius: 3px;
  font-style: italic;
}
.fixed-menu-button img{
  padding-right: 10px;
}
.fixed-menu-button img,
.fixed-menu-button span{
  float: left;
}

.modal-content{
    border-radius: 0;
    border: none;
    min-height: 400px;
}
.modal-content .modal-body{
  padding: 0 !important;
}
.modal-content .modal-body .btn-modal{
  width: 200px;
  border-radius: 10px;
  background: #46439f;
  border: solid 0 #ededed;
  padding: 6px 0;
  color: #FFF;
}

.modal-content .modal-body h3,
.modal-content .modal-body p{
  color: #666;
}
.clear{
  clear: both;
}
button, a{
  outline: 0 !important;
}
.loan{
  padding: 20px 0;
}



.n02v11-img img{
  width: auto !important;
}

.marquee {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46439f+0,1781f7+100 */
  background: #46439f; /* Old browsers */
  background: -moz-linear-gradient(left, #46439f 0%, #1781f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #46439f 0%,#1781f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #46439f 0%,#1781f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46439f', endColorstr='#1781f7',GradientType=1 ); /* IE6-9 */
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
}

.marquee .marquee-title {
  text-transform: uppercase;
  float: left;
  font-size: 14px;
}

.marquee marquee {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 166px;
  border: solid #eee;
  border-width: 0 1px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 14px;
}

.marquee .fa {
  position: absolute;
  right: 26px;
  color: #fff;
  cursor: pointer;
}

.hide-this {
  display: none;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

.g01v1-this-page-in {
  height: 36px;
  word-wrap: break-word;
}

.page .n01v1-nav-list ul li a {
  padding: 5px 0 5px 7px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #333;
}

.pageContent {
}


.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  height: 170px;
  background: #46439f;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
  background-color: #46439f;
}

figure.effect-ruby img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
  margin: 1em 0 0;
  padding: 3em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}

.positionRelative {
  position: relative;
}