
/******************START***********************/


/*Data from /etc/designs/wbr/clientlibs/css/oldStyle-and-newStyle-Balancer.css*/


/**********************************************/

.breadcrumb {
    margin-bottom: 0;
    padding: 10px 0;
    background-color: transparent;
    white-space: nowrap;
}


/*Changes to overwrite bootstrap-overwrite STARTS - Manasi*/

header .navbar-default .navbar-nav li>a:hover {
    border-bottom: none;
}


/*Changes to overwrite bootstrap-overwrite ENDS - Manasi*/


/*custom.css STARTS - Manasi*/

.table-condensed>tbody>tr>td {
    padding: 3px;
}

.text-right {
    line-height: 10px;
    display: inline-block;
}

.thumbnail {
    padding: 0 0 12px 0;
    border: 0;
    margin-bottom: 0;
}

.btn-sm {
    min-height: 37px;
    font-size: 13px;
    line-height: 18px;
    padding: 8px 10px;
    border-radius: 0;
    border: 1px solid #dedede;
    color: #46439fbf;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
}

.btn-link:hover, .btn-link:focus {
    border-right: 1px solid #dedede;
    color: #46439fbf;
    text-decoration: none;
    word-wrap: break-word;
}

.btn-default a {
    border: 1px solid #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    /*background-color: #fff;
    border-color: #46439fbf;
    border: 1px solid #46439fbf;
    color: #46439fbf;*/
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0 auto -webkit-focus-ring-color;
}

.btn:active, .btn.active {
    box-shadow: 0 0 0 #fff;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.contact-btn {
    min-height: 37px;
    font-size: 13px;
    padding: 3px 8px;
    line-height: 18px;
    border-radius: 0;
    border: 1px solid #dedede;
    color: #46439fbf;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
}

.media {
    display: inline-block;
    width: 100%;
}

.media-left, .media>.pull-left:hover {
    text-decoration: none;
    border-bottom: 0;
}

.panel {
    margin: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default>.panel-heading {
    background-color: #fff;
    border: 0;
}

.panel-hight {
    height: 270px;
    background-color: #f2f2f2;
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse {
    border: 0;
}

.panel-body {
    padding: 0;
}

.map {
    margin-bottom: 25px;
    padding-left: 20px;
}

.well {
    padding: 15px;
    margin-bottom: 0;
    background-color: #f2f2f2;
    border: 0;
    box-shadow: none;
}

.form-control {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    height: 37px;
    border-radius: 0;
}

.input-group {
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.prev {
    float: left;
    display: block;
}

.next {
    float: right;
    display: block;
    margin: 0 0 0 0;
}

.prev:hover {
    text-decoration: none;
    border-bottom: 0;
}

.next:hover {
    text-decoration: none;
    border-bottom: 0;
    margin: 0 0 0 0;
}

.arrow-down {
    margin-top: -3px;
    cursor: pointer;
}

.arrow_down a:hover {
    text-decoration: none;
    border: 0!important;
    margin-top: 1px;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}

.dropdown-menu>li>a {
    padding: 3px 10px 3px 10px;
    line-height: 18px;
    white-space: normal;
}

.dropdown-menu>li>a:hover {
    color: #46439fbf;
    background-color: #f2f2f2;
    border: 0;
}

.input-group .form-control {
    width: auto;
}

.table>tbody>tr>td {
    padding: 0;
}

.mrg {
    margin-top: 0!important;
}

.mrg-t-0 {
    margin-top: 0;
}

.mrg-t-5 {
    margin-top: 5px;
}

.mrg-t-10 {
    margin-top: 10px;
}

.mrg-t-15 {
    margin-top: 15px;
}

.mrg-t-20 {
    margin-top: 20px;
}

.mrg-t-22 {
    margin-top: 22px;
}

.mrg-t-25 {
    margin-top: 25px;
}

.mrg-b-0 {
    margin-bottom: 0;
}

.mrg-b-3 {
    margin-bottom: 3px;
}

.mrg-b-5 {
    margin-bottom: 5px;
}

.mrg-b-8 {
    margin-bottom: 8px;
}

.mrg-b-10 {
    margin-bottom: 10px;
}

.mrg-b-15 {
    margin-bottom: 15px;
}

.mrg-b-20 {
    margin-bottom: 20px;
}

.mrg-b-22 {
    margin-bottom: 22px;
}

.mrg-b-25 {
    margin-bottom: 25px;
}

.mrg-10 {
    margin-bottom: -10px;
}

.mrg-l-0 {
    margin-left: 0;
}

.mrg-l-5 {
    margin-left: 5px;
}

.mrg-r-5 {
    margin-right: 5px;
}

.margin10 {
    margin-left: 10px;
    margin-right: 10px;
}

.brd-l-1 {
    border-left: 1px solid #dedede;
}

.brd-r-1 {
    border-right: 1px solid #dedede;
}

.brd-l-0 {
    border-left: 0 solid #dedede;
}

.brd-t-1 {
    border-top: 1px solid #adadad;
}

.brd-t-0 {
    border: none!important;
}

.brd-b-0 {
    border: none!important;
}

.brd {
    border: 0 solid #e4e4e4;
    border-top: 0 solid #0e2240;
}

.brd-b-0 {
    border-bottom: 0;
}

.padding {
    padding: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.padd-5 {
    padding: 5px;
}

.pad-t-10 {
    padding-top: 10px;
}

.pad0 {
    padding: 0;
}

.pad-l-0 {
    padding-left: 0;
}

.flot-l {
    float: left;
}

.flot-r {
    float: right;
}

.display {
    display: table-cell;
}

.font {
    font-weight: normal;
}

.height {
    min-height: 0 !important;
}

.block {
    display: block;
}

.direction {
    direction: ltr;
}

.bg-gry {
    background-color: #F2F2F2;
}

.clear {
    clear: both;
}

.min-ht-auto {
}

.image-width {
    width: 100%;
}

.padd10 {
    padding: 10px;
}

.c11v1-pullquote-title {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .infographic-img {
        width: 355px;
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .infographic-img {
        width: 213px;
        height: 120px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .infographic-img {
        width: 213px;
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .infographic-img {
        width: 213px;
        height: 120px;
    }
}


/*custom.css ENDS - Manasi*/

.f01v2_language_toggler .dropdown-menu {
    right: 0;
    float: left;
    margin-left: 0;
    margin-top: 0;
    left: initial;
}

.g01v1-this-page-in-text .dropdown span, .g01v1-this-page-in-text .dropdown a {
    float: none;
    width: 100%;
}

@media (max-width: 480px) and (min-width: 320px) {
    .social-btn {
        width: 67px;
        margin-right: 5px;
        padding: 8px 3px 8px 3px;
    }
}

@media (max-width: 991px) and (min-width: 0) {
    .remove-padding-grid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .center-right-border {
        border-right: none;
    }
}

#n06v1-owl {
    /*margin-bottom: 32px;*/
}

footer {
    margin-top: 32px;
}

.btn-link:hover, .btn-link:focus {
    border-right: 1px solid #dedede;
    color: #46439fbf;
    text-decoration: none;
    word-wrap: break-word;
}

.btn-default a {
    border: 1px solid #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #fff!important;
    border-color: #46439fbf;
    border: 1px solid #46439fbf;
    color: #46439fbf;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0 auto -webkit-focus-ring-color;
}

.btn:active, .btn.active {
    box-shadow: 0 0 0 #fff;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}


/********************END***********************/


/*Data from /etc/designs/wbr/clientlibs/css/oldStyle-and-newStyle-Balancer.css*/


/**********************************************/


/******************START***********************/


/*Data from /etc/designs/wbr/clientlibs/css/l1_header_footer_fullwider_2.css*/


/**********************************************/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese';
.open-sans {
    font-family: 'Open Sans', sans-serif;
}


/* === Begin Font Mixin === */


/* === End Font Mixin === */


/* === Begin Button Mixin === */


/* === End Button Mixin === */


/* === Begin images Mixin === */


/* === End images Mixin === */


/* === Begin box shadows Mixin === */


/* === End box shadows  Mixin === */


/* === Begin dropdown Mixin === */


/* === End dropdown  Mixin === */


/* === Begin Card Mixin === */


/* === End Card Mixin === */


header, footer {
    /* == Begin Icons css ==*/
    /* == END Icons css ==*/
}

header [class^="icon-"], header [class*=" icon-"], footer [class^="icon-"], footer [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header .icon-angle-down-orange:before, footer .icon-angle-down-orange:before {
    content: "\e900";
}

header .icon-angle-down:before, footer .icon-angle-down:before {
    content: "\e901";
}

header .icon-angle-right-thin:before, footer .icon-angle-right-thin:before {
    content: "\e902";
}

header .icon-angle-right-thin, footer .icon-angle-right-thin {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    line-height: 18px;
}

header .icon-angle-right:before, footer .icon-angle-right:before {
    content: "\e903";
}

header .icon-angle-right, footer .icon-angle-right {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    line-height: 18px;
}

header .icon-search-orange:before, footer .icon-search-orange:before {
    content: "\e904";
}

header .icon-search:before, footer .icon-search:before {
    content: "\e905";
}


/* === Begin Bootstraps Overwrite css === */
/* 
body header, body footer {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
} */

body header *, body footer * {
    direction: ltr;
}

header ul, header ol, footer ul, footer ol {
    margin: 0;
    padding: 0;
}

header hr, footer hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #e5e5e5;
}


/* === End Bootstraps Overwrite css === */


/* === Begin button === */

header .btn-default {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #ffffff;
    word-wrap: break-word;
    text-transform: capitalize;
    white-space: normal;
    letter-spacing: 0.78px;
    border: 0;
    border-radius: 0;
    display: inline-block;
    text-align: center;
}

header .btn-lg {
    min-width: 140px;
    text-transform: none;
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
}

header .primary-light-blue-btn {
    background-color: #0071BC;
    margin-right: 16px;
}

header .primary-light-blue-btn:last-child {
    margin-right: 0;
}

header .primary-light-blue-btn:hover, header .primary-light-blue-btn:focus, header .primary-light-blue-btn:active {
    background-color: #004c92;
    color: #ffffff;
    border: 0;
}


/* === Begin button === */


/* == Begin Global Search ==*/

header, footer {
    /* placeholder */
}

header .padd, footer .padd {
    padding: 150px 100px 150px 100px !important;
}

header .input-group, footer .input-group {
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
}

header .header-search-section .input-group, footer .header-search-section .input-group {
    display: table;
}

header .search-section, header .header-search-section, footer .search-section, footer .header-search-section {
    margin-bottom: 10px;
}

header .search-section .search-input-field, header .search-section .search-input-field-1, header .header-search-section .search-input-field, header .header-search-section .search-input-field-1, footer .search-section .search-input-field, footer .search-section .search-input-field-1, footer .header-search-section .search-input-field, footer .header-search-section .search-input-field-1 {
    width: 100%;
    height: 45px;
    border: 1px solid #e5e5e5;
    padding: 10px 64px 10px 10px;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}

header .search-section .search-input-field:focus, header .search-section .search-input-field:active, header .search-section .search-input-field-1:focus, header .search-section .search-input-field-1:active, header .header-search-section .search-input-field:focus, header .header-search-section .search-input-field:active, header .header-search-section .search-input-field-1:focus, header .header-search-section .search-input-field-1:active, footer .search-section .search-input-field:focus, footer .search-section .search-input-field:active, footer .search-section .search-input-field-1:focus, footer .search-section .search-input-field-1:active, footer .header-search-section .search-input-field:focus, footer .header-search-section .search-input-field:active, footer .header-search-section .search-input-field-1:focus, footer .header-search-section .search-input-field-1:active {
    outline: -webkit-focus-ring-color auto 5px;
}

header .search-section .search-input-field-1, header .header-search-section .search-input-field-1, footer .search-section .search-input-field-1, footer .header-search-section .search-input-field-1 {
    font-weight: normal;
}

header .search-section .search-submit-icon, header .header-search-section .search-submit-icon, footer .search-section .search-submit-icon, footer .header-search-section .search-submit-icon {
    position: absolute;
    right: 0;
    top: 1px;
    padding: 13px;
    height: 43px;
}

header .search-submit-icon, footer .search-submit-icon {
    background-color: transparent;
}

header .search-section input[type="search-text"], footer .search-section input[type="search-text"] {
    background-color: #0071BC;
}

header .search-section input[type="search-text"]:focus, footer .search-section input[type="search-text"]:focus {
    background-color: #ffffff;
    border: 2px solid #0071BC;
    outline: -webkit-focus-ring-color auto 2px;
}

header .search-section input[type="image"], footer .search-section input[type="image"] {
    background-color: #0071BC;
}

header .footer-newsletter input[type="image"], footer .footer-newsletter input[type="image"] {
    background-color: #ffffff;
}

header .dropdown-search-box input[type="image"], footer .dropdown-search-box input[type="image"] {
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    border-left: 0;
}

header input.search-input-field-1, header input.email-input-field-1::-webkit-input-placeholder, footer input.search-input-field-1, footer input.email-input-field-1::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #787878;
}

header input.search-input-field-1, header input.email-input-field-1::-moz-placeholder, footer input.search-input-field-1, footer input.email-input-field-1::-moz-placeholder {
    /* Firefox 19+ */
    color: #787878;
}

header input.search-input-field-1, header input.email-input-field-1:-ms-input-placeholder, footer input.search-input-field-1, footer input.email-input-field-1:-ms-input-placeholder {
    /* IE 10+ */
    color: #787878;
}

header input.search-input-field-1, header input.email-input-field-1:-moz-placeholder, footer input.search-input-field-1, footer input.email-input-field-1:-moz-placeholder {
    /* Firefox 18- */
    color: #787878;
}

header input[type=search], footer input[type=search] {
    -webkit-box-sizing: border-box;
}


/* == End Global Search ==*/


/*== Begin footer global Language dropdown ==*/

header.lang-switch-wrapper, footer .lang-switch-wrapper {
    padding: 16px 0 16px 0;
    display: inline-block;
}

header.lang-switch-wrapper span, footer .lang-switch-wrapper span {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 8px;
    color: #ffffff;
    float: left;
}

header.lang-switch-wrapper img, footer .lang-switch-wrapper img {
    margin-left: 5px;
    margin-top: -3px;
    display: inline-block;
}

header.lang-switch-wrapper .lang-switch, footer .lang-switch-wrapper .lang-switch {
    display: inline-block;
    text-align: right;
    height: 30px;
    min-width: 94px;
    font-size: 12px;
    line-height: 16px;
    background-color: #0071BC;
    padding: 8px;
    margin-right: 8px;
}

header.lang-switch-wrapper .lang-switch .lang-lable, footer .lang-switch-wrapper .lang-switch .lang-lable {
    text-transform: uppercase;
}

header.lang-switch-wrapper .lang-switch ul, footer .lang-switch-wrapper .lang-switch ul {
    padding: 0;
    text-align: center;
}

header.lang-switch-wrapper .lang-switch ul li, footer .lang-switch-wrapper .lang-switch ul li {
    list-style: none;
}

header.lang-switch-wrapper .lang-switch ul li a, footer .lang-switch-wrapper .lang-switch ul li a {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    vertical-align: top;
}

header.lang-switch-wrapper .lang-switch .text, footer .lang-switch-wrapper .lang-switch .text {
    padding-right: 8px;
}

header.lang-switch-wrapper .lang-switch .dropdown-menu, footer .lang-switch-wrapper .lang-switch .dropdown-menu {
    margin: 0 0 7px -8px;
    border-radius: 0;
    float: right;
    left: initial;
    min-width: 95px;
    background-color: #0071BC;
}


/*== End footer global Language dropdown ==*/


/* === Begin Typography === */

header a, footer a {
    color: #0071BC;
    text-decoration: none;
    cursor: pointer;
}

header a:hover, header a:focus, footer a:hover, footer a:focus {
    border-bottom: 0;
    color: #004c92;
    text-decoration: none;
}

header a:focus, footer a:focus {
    outline: -webkit-focus-ring-color auto 2px;
}

header h2, header h4, footer h2, footer h4 {
    margin: 0;
}

header h2 small, header h2 .small, header h4 small, header h4 .small, footer h2 small, footer h2 .small, footer h4 small, footer h4 .small {
    color: #d4d4d4;
}

header h2 a, header h4 a, footer h2 a, footer h4 a {
    color: #333333;
}

header h2 a:hover, header h2 a:focus, header h2 a:active, header h4 a:hover, header h4 a:focus, header h4 a:active, footer h2 a:hover, footer h2 a:focus, footer h2 a:active, footer h4 a:hover, footer h4 a:focus, footer h4 a:active {
    color: #333333;
    text-decoration: underline;
    border-bottom: 0;
}

header h2, footer h2 {
    font-family: "Andes", sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 16px 0;
    font-weight: bold;
}

@media (max-width: 767px) {
    header h2, footer h2 {
        font-size: 26px;
        line-height: 32px;
    }
}

header h4, footer h4 {
    font-family: "Andes", sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 8px 0;
}


/* === End Typography === */


/* == Begin footer== */

footer .full-row-footer-components {
    padding-top: 32px;
    padding-bottom: 16px;
    /* background-color: #46439f; */
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #dedede;
}

footer .full-row-footer-black-components {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #000;
    margin-left: 0;
    margin-right: 0;
}

footer .footer hr {
    border-top: 1px solid #787878;
}

footer .footer .footer-menu-item ul {
    padding: 0;
    list-style: none;
}

footer .footer .footer-menu-item ul li {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 8px 0;
}

footer .footer .footer-menu-item ul li a {
    color: #333;
}

footer .footer .footer-menu-item ul li a:hover {
    color: #333;
    text-decoration: underline;
}

footer .footer h4 {
    color: #333;
    margin: 0 0 16px 0;
    text-transform: uppercase;
}

footer .footer .footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #787878;
    display: block;
    float: left;
    width: 100%;
}

footer .footer .list-inline {
    margin-left: 0;
}

footer .footer .list-inline ul {
    padding: 0;
    list-style: none;
}

footer .footer .list-inline ul>li {
    padding: 0;
    line-height: 16px;
    margin: 0 0 8px 0;
}

footer .footer a.disclaimer {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    margin-right: 8px;
    padding-right: 8px;
}

footer .footer a.disclaimer:hover {
    text-decoration: underline;
}

footer .footer a.disclaimer:last-child {
    border-right: 0 solid #d4d4d4;
    margin-right: 0;
    padding-right: 0;
}

footer .footer .footer-copy-right {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: right;
}

footer .footer .footer-bottom-left {
    float: left;
}

footer .footer .footer-bottom-left ul {
    padding: 0;
    list-style: none;
}

footer .footer .footer-bottom-left ul li {
    float: left;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.5;
    margin-left: 8px;
    padding-left: 8px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
    border-left: 1px solid #e5e5e5;
}

footer .footer .footer-bottom-right {
    float: right;
}

footer .footer .footer-bottom-right .footer-fraud {
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    opacity: 0.5;
    display: inline-block;
}

footer .footer .footer-bottom-right .footer-fraud a {
    color: #ffffff;
}

footer .footer .footer-bottom-right .footer-fraud a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .social-icon {
    display: block;
    float: left;
    border: 0;
    width: initial;
}

footer .social-icon ul {
    list-style: none;
    padding: 0;
}

footer .social-icon ul li {
    float: left;
    padding-right: 16px;
}

footer .social-icon ul li:last-child {
    padding-right: 0;
}

footer .social-icon ul li:first-child {
    padding-right: 16px;
}

footer .social-icon ul li a:hover {
    text-decoration: none !important;
    border: 0;
    opacity: 0.6;
    display: inline-block;
}

@media (min-width: 320px) and (max-width: 1200px) {
    footer .social-icon {
        margin: 0 0 32px 0;
    }
}


/* == End footer== */


/* == Begin  Global header ==*/

header {
    /* === End Navbar css === */
}

header .g01v1-logo img {
    height: 60px;
    /*width: 220px;*/
}

header .navbar-nav .mega-menu {
    position: static;
}

header .navbar-nav .mega-menu li h4 {
    font-family: 'Andes', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

header .navbar-nav .mega-menu .mega-menu-blurb {
    /*font-family: "Andes", sans-serif;*/
    font-size: 15px;
    line-height: 23px;
    color: #333333;
    font-style: normal;
    word-wrap: break-word;
    text-align: left;
    padding: 32px;
}

header .navbar-nav .mega-menu .dropdown-menu, header .navbar-nav .mega-menu .mega-menu-dropdown {
    font-family: "Open Sans", sans-serif;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 0;
    border: 0;
    z-index: 10;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

header .navbar-nav .mega-menu .dropdown-menu ul, header .navbar-nav .mega-menu .mega-menu-dropdown ul {
    list-style: none;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

header .navbar-nav .mega-menu .dropdown-menu ul li, header .navbar-nav .mega-menu .mega-menu-dropdown ul li {
    width: 100%;
    height: auto;
    text-transform: capitalize;
}

header .navbar-nav .mega-menu .dropdown-menu ul li a, header .navbar-nav .mega-menu .mega-menu-dropdown ul li a {
    margin: 0;
    padding: 0;
    border-bottom: 0;
    opacity: inherit;
}

header .navbar-nav .mega-menu .dropdown-menu ul li a span.menu-highlight-item, header .navbar-nav .mega-menu .mega-menu-dropdown ul li a span.menu-highlight-item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #0071BC;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
}

header .navbar-nav .mega-menu .mega-menu-right-column {
    padding-top: 32px;
}

header .navbar-nav .mega-menu .mega-menu-left-column {
    background-color: #e5e5e5;
}

header .navbar-nav .mega-menu .close-this-megamenu {
    position: absolute;
    top: 0;
    right: 16px;
    color: #0071BC;
    padding: 2px 10px;
    border-radius: 100%;
}

header .navbar-nav .mega-menu .close-this-megamenu:hover {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.16);
}

header .navbar-nav .mega-menu .mega-menu-search-padd {
    padding: 32px;
}

header .navbar-nav .mega-menu ul.mega-menu-sublist li {
    border-bottom: 0;
}

header .navbar-nav .mega-menu ul.mega-menu-sublist li a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #0071BC;
    font-weight: normal;
    text-transform: none;
    padding: 0 3px 0 3px;
    margin: 0 0 8px 0;
    position: relative;
    z-index: 100;
    display: block;
}

header .navbar-nav .mega-menu ul.mega-menu-sublist li a:hover {
    color: #002245;
    padding: 0 3px 0 3px;
    margin: 0 0 8px 0;
    border-bottom: 0;
    display: block;
}

header .navbar-nav .mega-menu ul.no-mega-menu-sublist {
    display: inline-block;
    margin: 0;
}

header .navbar-nav .mega-menu ul.no-mega-menu-sublist li {
    display: inline-block;
    width: auto;
}

header .navbar-nav .mega-menu ul.no-mega-menu-sublist li a {
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #0071BC;
}

header .navbar-nav .mega-menu ul.no-mega-menu-sublist li a:hover {
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
}

header .navbar-nav .mega-menu ul.mega-menu-left-column-wrapper {
    margin-bottom: 32px;
}

header li.mega-menu:hover {
    cursor: pointer;
}

header li.mega-menu:hover:last-child>a {
    opacity: 0.5;
}

header li.mega-menu:hover>a.dropdown-toggle {
    color: #002245;
    border-bottom: 3px solid #002245;
}

@media (min-width: 991px) {
    header .mega-menu ul li .row, header .mega-menu ul li>.row:not(.mega-menu-right-column)>div:first-child {
        display: flex;
    }
    header .mega-menu-left-column {
        width: 100%;
    }
    header .mega-menu-right-column.row {
        display: block !important;
    }
}

header .toggle-box {
    float: right;
}

header .lang-box {
    display: inline;
}

header .home-page-header-lang {
    float: right;
    width: 100%;
}

header .home-page-header-lang .news-navigation {
    font-size: 11px;
    line-height: 16px;
    color: #787878;
    text-transform: uppercase;
    border-right: 1px solid #d4d4d4;
    padding-right: 8px;
    margin: 16px 0 8px 8px;
    height: auto;
    float: right;
}
header .home-page-header-lang .news-navigation i{
  font-size: 14px;
}

header .home-page-header-lang .news-navigation a {
    color: #787878;
}

header .home-page-header-lang .news-navigation a:hover {
    color: #787878;
    text-decoration: underline;
}

header .container>.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}

header .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

header .navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

header .navbar-default .navbar-nav {
    float: right;
    margin-top: 4px;
}

header .navbar-default .navbar-nav li>a {
    font-family: "Andes", sans-serif;
    /*font-weight: bold;*/
    font-size: 12px;
    line-height: 18px;
    color: #0071BC;
    text-transform: uppercase;
    padding: 0 0 8px 0;
    margin: 24px 16px 26px 16px;
}

header .navbar-default .navbar-nav li>a {
    border-bottom: 3px solid rgba(0, 34, 69, 0);
}

header .navbar-default .navbar-nav li>a.active {
    color: #002245;
    background-color: transparent !important;
    border-bottom: 3px solid #002245;
}

header .navbar-default .navbar-brand {
    padding: 5px;
    height: auto;
}

header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
    border-bottom: 0 solid #46439fbf;
}

header .navbar-nav {
    margin: 0;
}

header .navbar {
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
}

header .dropdown-menu>li>a:focus, header .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #004c92;
}

header .btn-group.open .dropdown-toggle {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

header .btn-default.active, header .btn-default:active, header .open>.dropdown-toggle.btn-default {
    background-color: transparent;
}


/* == End  Global header ==*/


/* === Begin Bootstraps Overwrite Media - Query === */

@media (min-width: 991px) and (max-width: 1200px) {
    header .navbar-default .navbar-nav>li>a {
        margin: 24px 8px 27px 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header .navbar-default .navbar-nav {
        float: left;
        margin-top: 8px;
    }
    header .navbar-default .navbar-nav>li:last-child>a {
        margin: 8px 10px 0 10px;
    }
    header .navbar-default .navbar-nav>li>a {
        margin: 10px 14px 0 14px;
        padding: 0 0 20px 0;
    }
}

@media only screen and (max-width: 991px) {
    header .navbar {
        min-height: 50px;
    }
    header .navbar-header {
        display: inline-block;
    }
    header .navbar-collapse.collapse {
        overflow: hidden !important;
    }
    header .navbar-collapse {
        width: 100%;
        border-top: 0;
        box-shadow: none;
    }
    header .navbar-default .navbar-nav {
        margin-top: 0;
        background-color: #f6f6f6;
        padding: 16px;
    }
    header .navbar-default .navbar-nav li>a {
        margin: 0;
        padding: 0;
    }
    header .navbar-default .navbar-nav li>a.active {
        border-bottom: 0 solid transparent;
        padding-bottom: 0;
    }
    header .navbar-default .navbar-toggle {
        border: 0;
        margin-right: 0;
        margin-top: 16px;
        display: block;
    }
    header .navbar-default .navbar-toggle .icon-bar {
        background-color: #EC553A;
    }
    header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    header .navbar-collapse.collapse {
        display: none !important;
    }
    header .navbar-nav {
        float: none !important;
    }
    header .navbar-nav>li {
        float: none;
    }
    header .collapse.in {
        display: block !important;
    }
    header .navbar-collapse.in {
        overflow-y: visible !important;
    }
}


/* === End Bootstraps Overwrite Media - Query === */


/* == Begin G02v1 Global footer Media Queary == */

@media (min-width: 320px) and (max-width: 991px) {
    footer .footer ul.footer-bottom-left li {
        margin: 0 0 8px 0;
    }
    footer .footer .footer-bottom-right {
        float: none;
    }
    footer .footer .footer-bottom-right .footer-fraud {
        float: left;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    footer .footer .footer-fraud {
        text-align: left;
    }
    footer .footer .footer-copy-right {
        text-align: left;
    }
    footer .footer .footer-fraud {
        float: left;
    }
}

@media (min-width: 320px) and (max-width: 450px) {
    footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
}


/* == End G02v1 Global footer Media Queary == */


/* == Begin G01v1 Global header  Media Query ==*/

@media (min-width: 768px) and (max-width: 1200px) {
    header .g01v1-logo img {
        height: 50px;
        /*width: 175px;*/
    }
}

@media (max-width: 991px) {
    header .home-page-header-lang {

    }
}

@media only screen and (max-width: 991px) {
    header .g01v1-logo img {
        height: 50px;
        /*width: 162px;*/
    }
    header .home-page-header-lang {

    }
    header .toggle-box {
        float: right;
    }
    header .home-page-header-lang .news-navigation {
        margin-top: 25px;
    }
    header .navbar-nav .mega-menu {
        margin: 0 0 16px 0;
        padding: 0 0 16px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    header .navbar-nav .mega-menu:first-child {
        padding: 0 0 16px 0;
    }
    header .navbar-nav .mega-menu .mega-menu-blurb {
        padding: 8px 8px;
    }
    header .navbar-nav .mega-menu .mega-menu-dropdown {
        display: none !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
    header .navbar-nav {
        /* .mega-menu-dropdown{
            display: none!important;
         }*/
    }
    header li.mega-menu:hover a.dropdown-toggle {
        color: #002245;
        border-bottom: 0 solid #002245;
    }
    header li.mega-menu:hover a.dropdown-toggle:after {
        border: 0 solid #002245;
    }
    header li.mega-menu:hover a.dropdown-toggle:before {
        border: 0 solid #002245;
    }
}

header .col-xs-15, header .col-sm-15, header .col-md-15, header .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

header .col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    header .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    header .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    header .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 768px) {
    header .col-xs-15, header .col-sm-15, header .col-md-15, header .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header .padd {
        padding: 100px 0 100px 0 !important;
    }
}

header .navbar-default .navbar-nav li>a:hover {
    color: #002245 !important;
    background-color: transparent !important;
}

header .navbar-default .navbar-nav li.mega-menu>a:hover {
    color: #002245 !important;
    background-color: transparent !important;
    font-family: "Andes", sans-serif;
    /*font-weight: bold;*/
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 0 8px 0;
    margin: 24px 16px 26px 16px;
    /*margin: 26px 16px 20px 16px;*/
    top: initial;
    border-bottom: 3px solid #002245;
}

header .btn-default:hover, header .btn-default:focus, header .btn-default.focus, header .btn-default:active, header .btn-default.active, header .open>.dropdown-toggle.btn-default, footer .btn-default:hover, footer .btn-default:focus, footer .btn-default.focus, footer .btn-default:active, footer .btn-default.active, footer .open>.dropdown-toggle.btn-default {
    min-width: 140px;
    text-transform: none;
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
}

header .navbar ul.nav li a.primary-light-blue-btn {
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
}

header .navbar ul.nav li a.primary-light-blue-btn:hover {
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
    color: white;
}

@media (max-width: 991px) {
    header .navbar-default .navbar-nav li.mega-menu>a:hover {
        padding: 0;
        margin: 0;
        border-bottom: 0 solid #002245;
    }
    .mega-menu .mega-menu-blurb.hidden-sm {
        display: block !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
        -ms-overflow-style: scrollbar;
    }
}

ul.dropdown-menu.mega-menu-dropdown .container {
    margin-left: auto;
    margin-right: auto;
}

header .navbar ul.nav li a.primary-light-blue-btn:hover {
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
    color: white;
    border-bottom: 0;
    background-color: #004c92 !important;
}

header .navbar ul.nav li a.primary-light-blue-btn {
    padding: 12px 12px 12px 12px;
    margin: 0 0 16px 0;
    color: white;
    border-bottom: 0;
    /*background-color: #004c92 !important;*/
}

.mega-menu-img img.img-responsive {
    width: 100%;
}

li.mega-menu:hover a.dropdown-toggle:hover:before, li.mega-menu:hover a.dropdown-toggle:before {
    content: "";
    border-color: transparent;
    border-width: 18px;
    display: -moz-inline-box;
    display: inline-block;
    position: absolute;
    left: 35%;
    z-index: 105;
    top: 144%;
    background-repeat: no-repeat;
    background-size: 35px 21px;
    width: 35px;
    height: 19px;
}

li.mega-menu:hover a.dropdown-toggle:hover:before, li.mega-menu:hover a.dropdown-toggle:before, li.mega-menu:hover a.dropdown-toggle:hover:after, li.mega-menu:hover a.dropdown-toggle:after {
    border: 0;
}

@media(max-width:991px) {
    li.mega-menu:hover a.dropdown-toggle:hover:before, li.mega-menu:hover a.dropdown-toggle:before {
        background-image: none;
    }
}


/********************END***********************/


/*Data from /etc/designs/wbr/clientlibs/css/l1_header_footer_fullwider_2.css*/


/**********************************************/


/*START: Static Share*/

@media (min-width: 768px) {
    .fixed-meida-share {
        position: fixed;
        left: 0;
        top: 40%;
        z-index: 1000;
    }
    .fixed-meida-share ol, .fixed-meida-share ul, .fixed-meida-share li {
        list-style: none;
    }
    .pull-left.fixed-meida-share li {
        background-color: white;
    }
    .fixed-meida-share>li {
        display: block;
        float: none;
        margin: 0 0;
        width: 2.5pc;
        border-radius: 0;
        transition: width .15s ease-in-out;
        height: 43px;
        padding: 12px 11px 8px 10px;
        margin-left: 0 !important;
    }
    .fixed-meida-share>li:hover {
        width: 4pc;
    }
    .fixed-meida-share>li .social-btn-text {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        overflow: hidden;
    }
    .fixed-meida-share li.social-btn a>i.fa {
        float: none;
    }
    .fixed-meida-share li div#plus-drop {

        position: fixed;
        bottom: initial;
        left: 2.6pc;
        top: calc((100% - (188px - 125px)) / 2);
    }
    .s03v2-icon_sharebox_wrapper {

    }
    .fixed-meida-share>li:hover div#plus-drop {
    }
    .s03v2-icon ul li a {
        padding-right: 10px;
        vertical-align: sub;
    }
    .fixed-meida-share>li#plus:hover {
    }
    .fixed-meida-share>li#plus {
        transition: padding .15s ease-in-out;
        width: 2.5pc;
    }
    .pull-left.fixed-meida-share {
        top: calc((100% - (94px + 172px)) / 2);
    }
    .pull-right.fixed-meida-share {
        top: calc((100% - (188px - 94px)) / 2);
    }
    .share-media-pop-close {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 8px;
        z-index: 16777274;
        background: none;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        transition: all .4s ease;
    }
    .share-media-pop-close:hover {
        background-color: #666;
        color: #fff;
    }
    #f03v1-social-sharing {
        height: 0;
        margin: 0;
        padding: 0;
    }

}

.fixed-meida-share>li .social-btn-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}

.fixed-meida-share>li {
    padding: 9px 13px 10px 10px;
    width: 2.7em;
}


/*END: Static share*/

.n02v11 ul li {
    overflow: hidden;
}


/*START: 3-17-2017: Sai gayathiri reported issue fixes*/

header .primary-light-blue-btn:hover, header .primary-light-blue-btn:focus, header .primary-light-blue-btn:active {
    background-color: #004c92 !important;
    color: #ffffff;
    border: 0;
}

footer .social-icon {
    width: auto;
}

@media (max-width: 991px) and (min-width: 320px) {
    header .navbar-default .navbar-nav li.mega-menu>a:hover, header .navbar-default .navbar-nav li.mega-menu>a {
        font-size: 14px;
        border-bottom: 0 solid rgba(0, 34, 69, 0);
    }
    li.mega-menu:hover a.dropdown-toggle:hover:before, li.mega-menu:hover a.dropdown-toggle:before {
        background-image: none;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    header .navbar-default .navbar-nav>li>a {
        margin: 24px 8px 27px 8px;
    }
    header .navbar-default .navbar-nav>li>a:hover {
        margin: 24px 8px 27px 8px;
    }
}

.tweetable a {
    padding: 2px 3px 1px 3px;
}

@media (max-width: 991px) and (min-width: 320px) {
    .f02v4-arrow-box-1 {
        position: relative;
        width: 42px;
        height: 37px;
        padding: 10px;
        margin: -11px 0 0 0;
        border: 1px solid #dedede;
        border-left: none;
        float: right;
        right: -11px;
    }
    .country-dropdown-search {
        margin: 0 !important;
        top: 83%;
        width: 100%;
        border-bottom: 0;
        border-top: 0;
        border: 1px solid #dedede;
    }
    .country-dropdown-selectpicker {
        width: 100%;
    }
    .center-left-border {
        border-left: 0;
    }
}

@media (max-width: 991px) and (min-width: 320px) {
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .center-padding-left {
        padding-left: 0;
    }
    form[name="datesearch"] table td:nth-child(3) li {
        height: 37px !important;
    }
}


/*END: 3-17-2017: Sai gayathiri reported issue fixes*/


/* footer swapping copyright and fraud/corruption */

.footer .footer-fraud {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    display: inline-block;
}

.footer .footer-fraud a {
    color: #fff;
}

.footer .footer-fraud a:hover {
    text-decoration: underline;
}

.footer .footer-copy-right {
    font-size: 12px;
    line-height: 26px;
    color: #fff;
    text-align: right;
    opacity: 0.5;
    margin-top: 4px;
}


/* footer swapping copyright and fraud/corruption end*/

.navbar-brand {
    float: left;
    height: auto;
}

.social-icon ul li {
    margin-right: 0!important;
    margin-bottom: 0!important;
}

@media(max-width:767px) {
    .breadcrumb>li {
        /*display: block;*/
    }
}

footer .footer h4 {
    font-weight: 500;
}



header .lang-switch .dropdown-menu>li>a:focus, header .lang-switch .dropdown-menu>li>a:hover, footer .lang-switch .dropdown-menu>li>a:focus, footer .lang-switch .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #004c92;
}

[lang="ru"] .map-global-home {
    height: 350px;
}

[lang="ru"] .map-globalbg {
    height: 350px;
    background-color: #f4f4f4;
}

.map-globalbg {
    background-color: #f4f4f4;
}

.map-links {
    left: initial;
    right: 10px;
}

.map-links-button table td, .map-links-buttonhover table td {
    font-size: 13px;
}

.map-links-buttonhover {
    width: auto;
}


/*27-3-2017*/


/*START: Survey*/

img.btn-dismiss.survey-dismiss {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 8px;
}

.survey {
    background: #136dbd;
    top: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    z-index: 10000;
    padding: 10px 0;
    font: 16px "Open Sans";
    position: fixed;
}

.survey a.btn-schedule {
    background-color: #004c92;
    color: #fff;
    border-radius: 15px;
    padding: 3px 10px;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
}

.survey a.btn-schedule:hover, .survey a.btn-schedule:active, .survey a.btn-schedule:focus {
    border-bottom: 0;
}

.survey .survey_title {
    color: #fff;
    font-size: 13px;
    margin-right: 8px;
}

.survey .survey_title img {
    width: 90px
}

@media (min-width: 768px) {
    .survey .survey_title img {
        width: 95px;
        margin: 0 4px 0 2px
    }
}

.survey_center {
    text-align: center;
}

.survey_title a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.survey_title a:hover {
    text-decoration: underline;
}

.survey input {
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
    font-size: 16px;
    color: #696869;
    padding: 1px 10px;
    margin: 0 5px;
    background: #ffffff;
    cursor: pointer;
}

.survey_containier {
    margin: 0 auto;
}

[lang="ar"] .pull-left {
    float: right!important;
}

[lang="ar"] .pull-right {
    float: left!important;
}

[lang="ar"] .survey {
    direction: rtl;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'FontAwesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
    content: "\f105";
    margin-left: 7px;
}

[lang="ar"] .icon-angle-right:before {
    content: "\f104";
    margin-right: 7px;
}

.icon-angle-right {
    line-height: 20px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    display: inline;
    padding: 0;
    vertical-align: baseline;
}

[lang="ar"] .icon-angle-right {
    float: left;
}


/*END: Survey*/

.floating-bars {
    position: fixed !important;
    right: 4px !important;
    bottom: 25px !important;
    width: 175px !important;
    z-index: 4;
}

.btn-help-to-improve {
    background: white;
    border: 1px solid #36ABF7;
    color: #36ABF7;
}

.btn-talk-to-help, .btn-talk-to-help a, .btn-talk-to-help a:hover, .btn-talk-to-help:focus {
    background: #36ABF7;
    color: white;
}

.btn-help-to-improve:hover {
    color: #36ABF7;
}

.btn-help-to-improve a:hover, .btn-help-to-improve a:active, .btn-help-to-improve a:focus, .btn-talk-to-help a:hover, .btn-talk-to-help a:active, .btn-talk-to-help a:focus {
    border-bottom: 0;
    outline: 0;
}

.btn-talk-to-help, .btn-help-to-improve {
    font-size: 13px;
    margin: 5px;
    width: 95%;
    box-sizing: border-box;
}

.btn-help-to-improve:focus {
    color: #36ABF7;
    border: 1px solid #36ABF7;
}


/* Localized */
