/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;;

  /*
   * Main Colors
   * ======================================================================== */

  --main-blue: #1589ee;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 85em;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 40em;  /* Extra small screen / phone */
  --screen-sm-min: 52em;  /* Small screen / tablet */
  --screen-md-min: 64em;  /* Medium screen / desktop */
  --screen-lg-min: 70em; /* Large screen / wide desktop */
}
