.home-page-header-lang {
    user-select: none;
}

.news-navigation {
    border-right: none;
    padding-right: 0;
    margin-right: -15px;
}

.mobileLangChanger {
    border-right: none !important;
    margin-right: 45px !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.mobileSearchBtn.dsOpened {
    display: none;
}

.mobileSearchBtn {
    margin-right: 20px;
}

.mobileSearchBtn .fa {
    font-size: 20px !important;
}

.logo-box {
    position: relative;
    z-index: 11;
    padding: 18px 0;
}

.mega-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
}

.hsubLinks, .hsnav {
    float: right;
    margin-top: 15px;
}

.hsubLinks .news-navigation {
    margin: 18px 0 8px 8px !important;
}

.hsnav {
    margin-right: 8px;
}

#main-nav > li.menu-item > a {
    z-index: 2;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;

}

.cursorDefault:hover {
    cursor: default;
}

.mainMenuTopLine {
    position: absolute;
    bottom: 36px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-nav > li.menu-item > a .fa-home {
    font-size: 18px;
}

#main-nav > li .mega-container ul li a.active {
    font-weight: bold;
}

.nav-open {
    height: 30px;
    right: 0;
    position: absolute;
    top: 35px;
    z-index: 12;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
}

.nav-open .inner, .nav-open .inner::before, .nav-open .inner::after {
    background-color: #333;
    content: "";
    display: block;
    height: 2px;
    width: 22px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.nav-open .inner {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-open .inner::before {
    margin-top: -8px;
    position: absolute;
}

.nav-open .inner::after {
    margin-top: 8px;
    position: absolute;
}

.nav-open.nav-close .inner {
    background-color: transparent;
    left: 54%;
}

.nav-open.nav-close .inner::before, .nav-open.nav-close .inner::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    width: 23px;
}

.nav-open.nav-close .inner::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (min-width: 993px) {
    #main-nav {
        height: 36px;
    }

    #main-nav > li.menu-item > a {
        border-top: 2px solid transparent;
        margin-top: -2px;
    }

    #main-nav > li.menu-item > a.active, #main-nav > li.menu-item:active > a, #main-nav > li.menu-item:hover > a {
        border-top: 2px solid #46439f;
        margin-top: -2px;
    }
}

@media (max-width: 540px) {
    .logo-box .logo {
        position: relative;
        margin: 13px 0;
        padding: 0;
        width: 240px;
        height: 51px;
    }
}
@media (max-width: 359px) {
    .logo-box img {
        padding: 0;
        margin: 20px 0;
    }
}
@media (max-width: 991px) {

    .dbmSearch {
        width: 100% !important;
        position: absolute !important;
        padding: 0 15px;
        top: 100%;
        background-color: #fff;
        height: 45px;
    }

    .dbmSearch.dsClosed {
        display: none;
    }

    .dbmSearch.dsOpened {
        display: block;
    }

    .dbmSearch .searchInput {
        width: 100% !important;
        border: solid #dedede;
        border-width: 1px 0;
        font-size: 18px;
        height: 45px;
        line-height: 32px;
    }

    .dbmSearch .searchBtn {
        line-height: 40px;
    }

    .dbmSearch .searchBtn .fa {
        font-size: 20px !important;
    }

    .mainMenuTopLine {
        display: none;
    }

    .siteMainNavigation {
        background-color: #fff;
        position: relative;
        z-index: 12;
    }

    #main-nav.menuOpened {
        height: auto;
        opacity: 1;
    }

    #main-nav {
        overflow: hidden;
        left: 0;
        right: 0;
        top: 100%;
        border-top: 1px solid #dedede;
        height: 0;
        opacity: 0;
    }

    #main-nav > li.menu-item {
        width: 100%;
        float: left;
    }

    #main-nav > li.menu-item:first-child {
        padding-top: 15px;
    }

    #main-nav > li.menu-item:last-child {
        padding-bottom: 15px;
    }

    #main-nav > li.menu-item > a {
        width: 100%;
    }

    #main-nav > li.menu-item > a.active {
        background-color: #1680f5;
        color: #fff !important;
    }

    #main-nav > li.menu-item:active > a, #main-nav > li.menu-item:hover > a, #main-nav > li.menu-item > a.active {
        margin: 0;
        border: 0;
        float: none;
    }

    .group li a.active + .mega-container {
        display: block;
        padding: 15px 0 10px;
    }

    .group li .mega-container {
        position: relative !important;
        top: 0 !important;
        margin-bottom: 15px;
        box-shadow: none;
        border-bottom: 1px solid #dedede !important;
    }

    .group li .mega-container ul.mc-cols {
        width: 100% !important;
    }

    #main-nav > li .mega-container ul:before, #main-nav > li .mega-container ul:after,
    #main-nav > li .mega-container:before, #main-nav > li .mega-container:after {
        display: table;
        content: " ";
    }

    #main-nav > li .mega-container ul:after, #main-nav > li .mega-container:after {
        clear: both;
    }

    #main-nav > li .mega-container ul li {
        float: left !important;
        width: 100%;
    }

}

.languageChanger {

}

.languageChanger .langcItem {

}

.languageChanger .langcItem img {
    margin-right: 6px;
    margin-top: -4px;
}

.dbmSearch {
    width: 150px;
    right: 0;
}

.dbmSearch .searchInput {
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
    -o-transition: width 200ms;
    transition: width 200ms;
}

.dbmSearch.dsOpened {
    right: 0;
}

.dbmSearch.dsOpened .searchInput {
    width: 440px;
    right: 0;
}

.dbmSearch.dsOpened .searchBtn {
}

.dbmSearch .searchInput {
    position: absolute;
    top: -4px;
    right: 0;
    padding-right: 30px;
    padding-left: 10px;
    width: 150px;
}

.dbmSearch .searchBtn {
    position: absolute;
    right: 4px;
    top: -3px;
    color: #666;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.main-logo {
    display: flex;
    align-items: center;
}

.main-logo .logo {
    /* height: 100px; */
}

.main-logo .main-logo-text {
    color: #46439f;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-logo .main-logo-text {
        width: 310px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}