<div>
  <button class="buttonUploader btn btn-default btn-w-md" type="file"
          ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="image/*"
          ngf-max-size="5MB">
    Хуулах
  </button>
</div>
