.n02v5_highlight_list h6 a, .n01v1_left_navigation h6 a {
    color: #333;
}

.homeFeturedLists .nav-tabs>li>a {
    cursor: pointer !important;
}

.homeFeturedLists .n02v5-body ul li {
    height: 62px;
    margin-bottom: 15px !important;
}



/*.homeFeturedLists .col-md-4 {*/
    /*padding: 0 30px;*/
/*}*/

.homeFeturedLists .projectLoading {
    height: 200px;
}

.homeFeturedLists .projectLoading.showLoading {
    display: block;
}

.hftReport .c14v1_static_content {
}

.hftReport .c14v1_static_content.hideReport {
    display: none;
}

.hftNews {

}

.hftNews .c14v1_static_content.hideNews {
    display: none;
}

.hftProject {

}

.hftProject .c14v1_static_content.hideProject {
    display: none;
}

/*.panel-tab .active {*/
    /*background-color: #ededed !important;*/
/*}*/

.panel-tab .active a {
    color: #fff !important;
}

@media only screen and (min-width: 993px) {
    .homeFeturedLists {
        margin: 0 -30px !important;
    }

    .homeFeturedLists .col-md-4 {
        padding: 0 30px;
    }
}

@media(max-width:991px) {
    #c15v3 {
        height: auto !important;
    }

    .fc-content #c15v3-body1 {
        padding: 15px 10px !important;
    }

}

.marquee marquee a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    white-space: nowrap;
}

.marquee marquee a:hover, .marquee marquee a:active, .marquee marquee a:focus {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.marquee marquee a.marqueeItem {
    margin-right: 60px;
    white-space: nowrap;
}