<script type="text/ng-template" id="list.html">
  <ul class="menuBuilder" dnd-list="menus"
      dnd-allowed-types="allowedTypes">
    <li ng-repeat="menu in menus"
        dnd-draggable="menu"
        dnd-effect-allowed="move"
        dnd-moved="menus.splice($index, 1)"
        dnd-selected="vm.selected = menu"
        dnd-type="menu.dndType"
        dnd-dragend="vm.dragEnd(menus)"
        ng-class="{selected: vm.selected === menu}"
        ng-include="(menu.menus) ? 'container.html' : 'item.html'"
        ng-click="vm.edit(menu)">
    </li>
  </ul>
</script>

<script type="text/ng-template" id="container.html">
  <div class="container-element box box-blue mbItemBlock">
    <h5>
      <code ng-show="menu.type === 'module'"><i class="zmdi zmdi-lock-outline"></i></code>
      {{!menu.name ? menu.name_en : menu.name}}
      <code ng-show="menu.en">EN</code>
      <code ng-show="menu.mn">MN</code>
    </h5>
    <div class="column" ng-repeat="menus in menu.menus" ng-include="'list.html'"
         ng-init="allowedTypes=menu.dndAllowedTypes"></div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="item.html">
  <div class="item">
    <code ng-show="menu.type === 'module'"><i class="zmdi zmdi-lock-outline"></i></code>
    {{!menu.name ? menu.name_en : menu.name}}
    <code ng-show="menu.en">EN</code>
    <code ng-show="menu.mn">MN</code>
  </div>
</script>

<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Меню</h2>
  </div>
  <div class="clearfix">
    <div class="">
      <div class="col-md-8">
        <div class="row nestedDemo">
          <div ng-repeat="(key, menus) in vm.menus" class="col-md-12">
            <div class="dropzone box box-yellow">
              <div ng-include="'list.html'" ng-init="allowedTypes=['level-1']"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <section class="panel panel-default">
          <div class="panel-body padding-xl">
            <div class="row">
              <div class="col-md-12">
                <form name="menuForm" class="form-horizontal form-validation" role="form" ng-submit="vm.submit()">
                  <input type="hidden" ng-model="vm.menu.id" class="form-control">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Үндсэн цэс</label>
                    <div class="col-sm-10">
                      <select class="form-control" ng-model="vm.parent"
                              ng-options="p.name for p in vm.parents"
                              ng-disabled="vm.selected && vm.hasGrandChildren(vm.selected)">
                        <option value="">-- сонгох --</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Дэд цэс</label>
                    <div class="col-sm-10">
                      <select class="form-control" ng-model="vm.sub"
                              ng-options="sub.name for sub in vm.parent.subs"
                              ng-disabled="!vm.parent || !vm.parent.subs.length || (vm.selected.subs && vm.selected.subs.length)">
                        <option value="">-- сонгох --</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">Нэр</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" aria-label="..." ng-model="vm.menu.mn">
                        </span>
                        <input type="text" class="form-control" ng-model="vm.menu.name"
                               ng-change="vm.menu.name ? vm.menu.mn = true : vm.menu.mn = false"
                               placeholder="Ангилалын нэр" ng-required="vm.menu.name_en ? false : true" id="inputTitle">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Англи нэр</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" aria-label="..." ng-model="vm.menu.en">
                        </span>
                        <input type="text" ng-model="vm.menu.name_en"
                               ng-change="vm.menu.name_en ? vm.menu.en = true : vm.menu.en = false"
                               class="form-control" placeholder="Англи нэр" ng-required="vm.menu.name ? false : true">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Хуудас</label>
                    <div class="col-sm-10">
                      <select class="form-control" ng-model="vm.page"
                              ng-options="page.name for page in vm.pages" ng-disabled="vm.menu.type === 'module'">
                        <option value="">-- сонгох --</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Path</label>
                    <div class="col-sm-10">
                      http://mhi.mn<span ng-show="vm.parent">/{{vm.parent.module}}</span><span
                      ng-show="vm.sub">/{{vm.sub.module}}</span><span>/{{vm.menu.module}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Модуль</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="vm.menu.module" class="form-control"
                             placeholder="Модуль"
                             required="" ng-disabled="vm.menu.type === 'module'">
                    </div>
                  </div>
                  <div class="divider divider-dashed divider-md pull-in"></div>

                  <div class="button-wrapper row">
                    <div class="col-sm-12">
                      <button type="button" ng-show="vm.menu.id"
                              ng-disabled="vm.selected.type === 'module' || (vm.selected.subs && vm.selected.subs.length)"
                              class="btn btn-danger btn-w-md pull-right no-transition"
                              style="margin-left: 10px; margin-bottom: 10px;" ng-click="vm.remove()">
                        Устгах
                      </button>
                      <button type="button" class="btn btn-default btn-w-md pull-right no-transition" type="button"
                              ng-click="vm.clear()" style="margin-left: 10px; margin-bottom: 10px;"
                              ng-disabled="canClear()">
                        Цэвэрлэх
                      </button>
                      <input ng-show="vm.menu.id" value="Хадгалах" type="submit"
                             class="btn btn-primary btn-w-md pull-right no-transition"
                             style="margin-bottom: 10px;"
                             ng-disabled="menuForm.$invalid"/>
                      <input ng-show="!vm.menu.id" value="Оруулах" type="submit"
                             class="btn btn-primary btn-w-md pull-right no-transition"
                             style="margin-bottom: 10px;"
                             ng-disabled="menuForm.$invalid"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


