<section class="view-container animate-fade-up">
  <div class="page-signin">

    <div class="signin-header">
      <section class="logo text-center">
        <h1><a href="">MHI</a></h1>
      </section>
    </div>

    <div class="wrapper">
      <div class="main-body">
        <div class="card bg-white">
          <div class="card-content">
            <form role="form" name="loginForm" class="form-horizontal" ng-submit="vm.login()">
              <fieldset>
                <div class="form-group">
                  <div class="ui-input-group">
                    <input type="text" class="form-control" ng-model="vm.user.username" required>
                    <span class="input-bar"></span>
                    <label>Хэрэглэгчийн нэр</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="ui-input-group">
                    <input type="password" class="form-control" ng-model="vm.user.password" required>
                    <span class="input-bar"></span>
                    <label>Нууц үг</label>
                  </div>
                </div>
                <div class="divider"></div>
              </fieldset>
              <div class="card-action no-border text-right">
                <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid">Нэвтрэх</md-button>
                <!--<a href class="color-primary" ng-click="vm.login()">Нэвтрэх</a>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
