.n07v4-info-title {
    margin-right: 10px;
}

.dbmNewsList {
    opacity: 1;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.dbmNewsList.showLoading {
    opacity: 0;
}

.menu-dbm-list li {
    margin: 0 !important;
    font-size: 12px;
}

.menu-dbm-list li .mdl-child {
    margin-left: 20px;
}

.menu-dbm-list li .mdl-aimar-child {
    margin-left: 20px;
}

.search-result-not-found {
    font-size: 20px;
    color: #868686;
    text-align: center;
    padding: 50px 0;
}