<section class="panel panel-default table-dynamic">
  <div class="table-filters">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <form>
          <input type="text" placeholder="Хайх..." class="form-control" ng-model="vm.search" ng-change="vm.doSearch()">
        </form>
      </div>
      <div class="col-sm-3 col-xs-6 filter-result-info">
        <span>Нийт олдсон {{vm.total}}</span>
      </div>
      <div class="col-sm-5 col-xs-12">
        <button ui-sref="root.content.project.new" class="col-xs-6 btn btn-raised btn-success btn-w-lg pull-right p-side-15" ui-wave>Төсөл нэмэх
        </button>
      </div>
      <div class="col-sm-12 col-xs-12">
        <div class="row" style="margin-top: 20px;">
          <div class="form-group col-xs-12 col-sm-4">
            <select class="form-control" ng-model="vm.filterSector" ng-change="vm.load()">
              <option value="">Салбар сонгох</option>
              <option ng-repeat="item in vm.sectors" ng-value="item.id">
                {{item.name}} ({{item.name_en}})
              </option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <select class="form-control" ng-model="vm.filterRegion" ng-change="vm.load()">
              <option value="">Бүс нутаг сонгох</option>
              <option ng-repeat="item in vm.regions" ng-value="item.id">
                {{item.name}} ({{item.name_en}})
              </option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <select class="form-control" ng-model="vm.filterFunding" ng-change="vm.load()">
              <option value="">Эх үүсвэр сонгох</option>
              <option ng-repeat="item in vm.fundings" ng-value="item.id">
                {{item.name}} ({{item.name_en}})
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="panel-body" style="padding: 0px;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="isTableLoading" spinner="md" opacity=".5"
        color="#fff">
        <thead>
          <tr>
            <th style="padding: 15px;">№</th>
            <th style="padding: 15px;">Нэр</th>
            <th style="padding: 15px;">Огноо</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.listData | filter: search">
            <td>{{$index + 1}}</td>
            <td>
              <code ng-show="item.en">EN</code>
              <code ng-show="item.mn">MN</code>
              <a ui-sref="root.content.project.edit({id: item.id})">{{!item.name ? item.name_en : item.name}}</a>
            </td>
            <td>
              <div>{{item.created_at | date: "yyyy-MM-dd"}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right" style="padding-right: 15px;">
      <paginate page-count="vm.pageCount" page-total="vm.total" ng-model="vm.page" ng-change="vm.load()"></paginate>
    </div>
  </div>
</section>
