<div class="ui-section">
  <div class="pdfAddToolBox col-lg-12 clearfix">
    <form name="catForm" class="form-horizontal form-validation pdfUploadFormBox" role="form" ng-submit="vm.submit()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Нэр</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.pdf.name" class="form-control" id="inputTitle"
                     placeholder="Нэр" required="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="col-sm-2 control-label">Link</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.pdf.url" class="form-control" id="inputUrl"
                     placeholder="http://.." required="" ng-disabled="true">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-sm-2 control-label">PDF</label>
            <div class="col-sm-10">
              <ng-upload-pdf ng-model="vm.pdf" upload-done="vm.uploadMnPdfDone" remove="vm.removeMnPdf"
                             scope="vm"></ng-upload-pdf>
            </div>
          </div>
        </div>
      </div>

      <div class="divider divider-dashed divider-md pull-in"></div>

      <div class="button-wrapper row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-default btn-w-md pull-right no-transition" type="button"
                  ng-click="vm.clear()" style="margin-left: 10px; margin-bottom: 10px;"
                  ng-disabled="canClear()">
            Цэвэрлэх
          </button>
          <input value="{{vm.pdf.id ? 'Хадгалах':'Оруулах'}}" type="submit"
                 class="btn btn-primary btn-w-md pull-right no-transition"
                 style="margin-bottom: 10px;" ng-disabled="!vm.pdf.name || !vm.pdf.url"/>
        </div>
      </div>
    </form>
  </div>
  <div class="extraToolBox col-lg-12 clearfix">
    <form>
      <input type="text" placeholder="Хайх..." class="form-control" ng-model="vm.search" ng-change="vm.doSearch()">
    </form>
  </div>

  <div class="clearfix">
    <div class="pdfListBox col-md-12">
      <!--<section class="panel panel-default table-dynamic">-->
      <!--<div class="panel-body" style="padding: 0px;">-->
      <!--<div class="table-responsive">-->
      <!--<table class="table table-striped table-bordered no-margin no-border-lr">-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th style="padding: 15px;">№</th>-->
      <!--<th style="padding: 15px;">Нэр</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="pdf in vm.pdfs"-->
      <!--ng-class="vm.pdf.id === pdf.id ? 'dbmSelected' : ''"-->
      <!--ng-click="vm.edit(pdf)">-->
      <!--<td width="10px">{{$index + 1}}</td>-->
      <!--<td>{{pdf.name}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->
      <!--<div class="pull-right" style="padding-right: 15px;">-->
      <!--<paginate page-count="vm.pageCount" page-total="vm.total" ng-model="vm.page"-->
      <!--ng-change="vm.load()"></paginate>-->
      <!--</div>-->
      <!--</div>-->
      <!--</section>-->

      <ul class="list-unstyled row">
        <li class="col-xs-6"
            ng-repeat="pdf in vm.pdfs"
            ng-class="vm.pdf.id === pdf.id ? 'dbmSelected' : ''">
          <div class="pdfItem clearfix">
            <div class="pdfImage" ng-style="{'background-image':'url('+ pdf.thumb +')'}"></div>
            <div>
              <div class="pdfItemText">
                {{pdf.name}}
              </div>
              <div class="pdfItemAction">
                <button class="btn" ngclipboard data-clipboard-text="{{pdf.url}}" ngclipboard-success="vm.onSuccess(e);" ngclipboard-error="vm.onError(e);">
                  Copy to clipboard
                </button>
                <a ng-click="vm.remove(pdf.id)" class="btn btn-default"><i class="zmdi zmdi-delete"></i></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pull-right" style="padding-right: 15px;">
        <paginate page-count="vm.pageCount" page-total="vm.total" ng-model="vm.page" ng-change="vm.load()"></paginate>
      </div>
    </div>
  </div>

  <!--<div class="clearfix">-->
  <!--<div class="col-md-12">-->
  <!--<section class="panel panel-default table-dynamic">-->
  <!--<div class="panel-body" style="padding: 0px;">-->
  <!--<div class="table-responsive">-->
  <!--<table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="vm.isTableLoading"-->
  <!--spinner="md" opacity=".5" color="#fff">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th style="padding: 15px;">№</th>-->
  <!--<th style="padding: 15px;">Нэр</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat="pdf in vm.pdfs"-->
  <!--ng-class="vm.pdf.id === pdf.id ? 'dbmSelected' : ''"-->
  <!--ng-click="vm.edit(pdf)">-->
  <!--<td width="10px">{{$index + 1}}</td>-->
  <!--<td>{{pdf.name}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
  <!--<section class="panel panel-default">-->
  <!--<div class="panel-body padding-xl">-->
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<form name="catForm" class="form-horizontal form-validation" role="form" ng-submit="vm.submit()">-->
  <!--<input type="hidden" ng-model="vm.cat.id" class="form-control">-->
  <!--<div class="form-group">-->
  <!--<label for="inputTitle" class="col-sm-2 control-label">Нэр</label>-->
  <!--<div class="col-sm-10">-->
  <!--<input type="text" ng-model="vm.pdf.name" class="form-control" id="inputTitle"-->
  <!--placeholder="Нэр" required="">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="inputUrl" class="col-sm-2 control-label">Link</label>-->
  <!--<div class="col-sm-10">-->
  <!--<input type="text" ng-model="vm.pdf.url" class="form-control" id="inputUrl"-->
  <!--placeholder="http://.." required="" ng-disabled="true">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label class="col-sm-2 control-label">PDF</label>-->
  <!--<div class="col-sm-10">-->
  <!--<ng-upload-pdf ng-model="vm.pdf" upload-done="vm.uploadMnPdfDone" remove="vm.removeMnPdf"-->
  <!--scope="vm"></ng-upload-pdf>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="divider divider-dashed divider-md pull-in"></div>-->

  <!--<div class="button-wrapper row">-->
  <!--<div class="col-sm-12">-->
  <!--<button type="button" ng-show="vm.pdf.id" class="btn btn-danger btn-w-md pull-right no-transition"-->
  <!--style="margin-left: 10px; margin-bottom: 10px;" ng-click="vm.remove()">Устгах-->
  <!--</button>-->
  <!--<button type="button" class="btn btn-default btn-w-md pull-right no-transition" type="button"-->
  <!--ng-click="vm.clear()" style="margin-left: 10px; margin-bottom: 10px;"-->
  <!--ng-disabled="canClear()">-->
  <!--Цэвэрлэх-->
  <!--</button>-->
  <!--<input value="{{vm.pdf.id ? 'Засах':'Оруулах'}}" type="submit"-->
  <!--class="btn btn-primary btn-w-md pull-right no-transition"-->
  <!--style="margin-bottom: 10px;" ng-disabled="!vm.pdf.name || !vm.pdf.url"/>-->
  <!--</div>-->
  <!--</div>-->
  <!--</form>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->
  <!--</div>-->
</div>
</div>
