<div class="ui-section">
  <div class="col-lg-8 clearfix">
    <h2 class="section-header">Нөөц архив</h2>
  </div>
  <div class="clearfix">
    <div class="col-lg-12">
      <section class="panel panel-default table-dynamic backupBox" style="height: 600px;">
        <div class="button-wrapper">
          <div class="backupPreview">
            <h3>{{vm.backupDate.data}} <small>Хамгийн сүүлд архив хийсэн огноо</small></h3>
          </div>
          <div class="help-block">
            Та энд дарж архив хийнэ үү
          </div>
          <a ng-click="vm.backup()" class="btn btn-primary btn-w-md no-transition">Back Up</a>
        </div>
      </section>
    </div>
  </div>
</div>
