.searching-gif {
  svg {
    position: absolute;

    transform: translate(-50%, -50%);
    max-width: 328px;
    max-height: 328px;
  }
  .magnify {
    fill: #868686;
    animation: search 1s infinite ease;
    top: 45%;
    left: 45%;
  }
  .doc {
    fill: #d8d8d2;
    animation: flyby 1s infinite ease;
    top: 41%;
    left: 43%;
  }

  @keyframes search {
    0% {
      transform: translate(40px, 40px) scale(0.6);
    }
    50% {
      transform: translate(20px, 20px) scale(0.6);
    }
    100% {
      transform: translate(40px, 40px) scale(0.6);
    }
  }

  @keyframes flyby {
    0% {
      transform: translate(-20px, 20px) scale(0.2);
      opacity: 0;
    }
    50% {
      transform: translate(30px, 20px) scale(0.5);
      opacity: 1;
    }
    100% {
      transform: translate(100px, 20px) scale(0.2);
      opacity: 0;
    }
  }
}
