<section class="panel panel-default table-dynamic">
  <div class="table-filters">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <form>
          <input type="text" placeholder="Хайх..." class="form-control" ng-model="search">
        </form>
      </div>
      <div class="col-sm-3 col-xs-6 filter-result-info">
        <span>Нийт олдсон {{vm.count}}</span>
      </div>
      <div class="col-sm-5 col-xs-12">
        <br class="visible-xs">
        <button ui-sref="root.content.timeline.new"
                class="btn btn-raised btn-success btn-w-lg pull-right p-side-15" ui-wave>Үйл явдал нэмэх
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding: 0px;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered no-margin no-border-lr" spin-loading="isTableLoading"
             spinner="md" opacity=".5" color="#fff">
        <thead>
        <tr>
          <th></th>
          <th style="padding: 15px;">№</th>
          <th style="padding: 15px;">Агуулга</th>
        </tr>
        </thead>
        <tbody dnd-list="vm.listData">
        <tr ng-repeat="item in vm.listData | filter: search"
            dnd-draggable="item"
            dnd-moved="vm.listData.splice($index, 1)"
            dnd-selected="vm.selected = item"
            dnd-dragend="vm.dragEnd()"
        >
          <td width="10px" style="cursor: move">:::</td>
          <td>{{$index + 1}}</td>
          <td>
            <code ng-show="item.mn">MN</code>
            <code ng-show="item.en">EN</code>
            <code>{{item.date}}</code>
            <a ui-sref="root.content.timeline.edit({id: item.id})">
              {{!item.content ? item.content_en : item.content}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pull-right" style="padding-right: 15px;">
      <paginate page-count="pageCount" page-total="total" ng-model="page" ng-change="reload()"></paginate>
    </div>
  </div>
</section>


