<section class="panel panel-default">
  <div class="panel-body padding-xl">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form name="slideForm" class="form-horizontal form-validation" role="form" novalidate="">

          <div class="form-group">
            <label class="col-sm-2 control-label">Ангилал</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="vm.item.type">
                <option value="">Ангилал сонгох</option>
                <option ng-repeat="item in vm.types" ng-value="item.value">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Монгол</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.mn" aria-label="Switch 1"></md-switch>
            </div>
          </div>

          <div ng-show="vm.item.mn">
            <div class="form-group">
              <label class="col-sm-2 control-label">Гарчиг</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.name" class="form-control" placeholder="Гарчиг"
                       required="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Холбоос</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.pdf" class="form-control" placeholder="Холбоос"
                       required="">
              </div>
            </div>
          </div>


          <div class="divider divider-dashed divider-md pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Англи</label>
            <div class="col-sm-10">
              <md-switch class="md-primary" ng-model="vm.item.en" aria-label="Switch 1"></md-switch>
            </div>
          </div>
          <div ng-show="vm.item.en">
            <div class="form-group">
              <label class="col-sm-2 control-label">Гарчиг (Англи)</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.name_en" class="form-control" placeholder="Мэдээний гарчиг"
                       required="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Холбоос (Англи)</label>
              <div class="col-sm-10">
                <input type="text" ng-model="vm.item.pdf_en" class="form-control" placeholder="Холбоос (Англи)"
                       required="">
              </div>
            </div>
          </div>

          <div class="divider divider-dashed divider-md pull-in"></div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.laws.new'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.create()" ui-wave
                      ng-disabled="canSubmit()">
                Оруулах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.clear()"
                      ng-disabled="canClear()">Цэвэрлэх
              </button>
            </div>
          </div>

          <div class="button-wrapper" ng-if="vm.stateName === 'root.content.laws.edit'">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-w-md pull-right" ng-click="vm.update()" ui-wave
                      ng-disabled="canSubmit()">
                Хадгалах
              </button>
            </div>
            <div class="col-sm-10" style="padding-left: 4px;">
              <button class="btn btn-default btn-w-md" ui-wave type="button" ng-click="vm.remove()"
                      ng-disabled="canClear()">Устгах
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
